Repository OpenNMS/opennms, pull requests merged in 2018-10, with the labels that each got.

#2114 NMS-10312: Be able to use Proxy for any Monitor or Collector that uses HttpClientWrapper directly
  core/web/pom.xml
  core/web/src/main/java/org/opennms/core/web/HttpClientWrapperConfigHelper.java
  core/web/src/test/java/org/opennms/core/web/HttpClientWrapperConfigHelperTest.java
  features/collection/collectors/src/main/java/org/opennms/netmgt/collectd/HttpCollector.java
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/HttpPostMonitor.java
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/PageSequenceMonitor.java
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/WebMonitor.java
  opennms-doc/guide-admin/src/asciidoc/index.adoc
  opennms-doc/guide-admin/src/asciidoc/text/performance-data-collection/collectors/http.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/HttpPostMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/PageSequenceMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/WebMonitor.adoc
  opennms-provision/opennms-detector-web/src/main/java/org/opennms/netmgt/provision/detector/web/WebDetector.java
  opennms-provision/opennms-detector-web/src/main/java/org/opennms/netmgt/provision/detector/web/client/WebClient.java
Labels: triage

#2160 NMS-10350: Added a reloadable attribute to the service-configura…
  opennms-base-assembly/src/main/filtered/etc/service-configuration.xml
  opennms-config-model/src/main/resources/xsds/service-configuration.xsd
Labels: enhancement, triage

#2191 HZN-1394: Added situation UI elements
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/AlarmDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/AlarmRepository.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockAlarmDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmRepositoryHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/AlarmDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsAlarm.java
  opennms-model/src/main/java/org/opennms/netmgt/model/alarm/SituationSummary.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/AlarmQueryServlet.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/AlarmUtil.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/SortStyle.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/filter/SituationFilter.java
  opennms-webapp/src/main/java/org/opennms/web/controller/situation/SituationBoxController.java
  opennms-webapp/src/main/java/org/opennms/web/filter/BooleanSqlType.java
  opennms-webapp/src/main/java/org/opennms/web/filter/SQLType.java
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/detail.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/situation/summary-box.jsp
  opennms-webapp/src/main/webapp/includes/alarm-advquerypanel.jsp
  opennms-webapp/src/main/webapp/index.jsp
  opennms-webapp/src/test/java/org/opennms/web/alarm/AlarmRepositoryIT.java
  opennms-webapp/src/test/java/org/opennms/web/alarm/filter/AlarmRepositoryFilterIT.java
Labels: enhancement

#2204 Typo: Fix variable replacement for product name
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/critical-service.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/path-outages.adoc
Labels: bug fix, docs

#2198 NMS-10418: Create views for SQL based reporting
  core/schema/src/main/liquibase/24.0.0/changelog.xml
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-dao/src/test/java/org/opennms/netmgt/dao/ReportingSqlViewTestIT.java
Labels: enhancement, review, triage

#2197 HZN-1418: OpenNMS Integration API v1.0.0-alpha1
  container/features/pom.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/custom.properties
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  core/api/pom.xml
  core/api/src/main/java/org/opennms/core/config/api/BeanConfigurationProvider.java
  core/api/src/main/java/org/opennms/core/config/api/ConfigReloadContainer.java
  core/api/src/main/java/org/opennms/core/config/api/ConfigurationProvider.java
  core/api/src/main/java/org/opennms/core/config/api/ReloadingContainer.java
  core/api/src/test/java/org/opennms/core/config/api/ConfigReloadingContainerTest.java
  features/api-layer/pom.xml
  features/api-layer/src/main/java/org/opennms/features/apilayer/RuntimeInfoImpl.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/VersionBean.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/alarms/AlarmLifecycleListenerManager.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/alarms/AlarmPersisterExtensionManager.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/config/ConfigExtensionManager.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/config/EventConfExtensionManager.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/config/SyslogMatchExtensionManager.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/dao/AlarmDaoImpl.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/dao/NodeDaoImpl.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/dao/SnmpInterfaceDaoImpl.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/events/EventForwarderImpl.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/health/HealthCheckManager.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/model/AlarmBean.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/model/DatabaseEventBean.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/model/EventParameterBean.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/model/InMemoryEventBean.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/model/NodeBean.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/model/SnmpInterfaceBean.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/utils/InterfaceMapper.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/utils/ModelMappers.java
  features/api-layer/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/api-layer/src/test/java/org/opennms/features/apilayer/config/EventConfExtensionManagerTest.java
  features/api-layer/src/test/java/org/opennms/features/apilayer/config/VersionBeanTest.java
  features/distributed/coordination/common/pom.xml
  features/distributed/coordination/common/src/main/java/org/opennms/features/distributed/coordination/common/OICompatibleDomainManagerFactory.java
  features/distributed/coordination/zookeeper/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/distributed/dao/test/src/main/java/org/opennms/netmgt/dao/DaoServiceTester.java
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/EventExpander.java
  features/pom.xml
  features/sentinel/repository/pom.xml
  opennms-config/src/main/java/org/opennms/netmgt/config/DefaultEventConfDao.java
  opennms-config/src/main/java/org/opennms/netmgt/config/SyslogdConfigFactory.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SessionUtils.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/DefaultSessionUtils.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-shared.xml
  opennms-full-assembly/pom.xml
  pom.xml
  smoke-test/src/test/java/org/opennms/smoketest/IntegrationAPIIT.java
Labels: enhancement

#2159 NMS-10348: Force the daemons to send Success/Fail events upon config-reload
  core/daemon/src/main/java/org/opennms/netmgt/daemon/DaemonTools.java
  features/poller/remote/src/main/java/org/opennms/netmgt/poller/remote/support/PollerBackEndEventProcessor.java
  opennms-ackd/src/main/java/org/opennms/netmgt/ackd/Ackd.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/Alarmd.java
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  opennms-services/src/main/java/org/opennms/netmgt/collectd/Collectd.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/PollerEventProcessor.java
  opennms-services/src/main/java/org/opennms/netmgt/scriptd/Executor.java
  opennms-services/src/main/java/org/opennms/netmgt/snmpinterfacepoller/SnmpPoller.java
  opennms-services/src/main/java/org/opennms/netmgt/statsd/Statsd.java
  opennms-services/src/main/java/org/opennms/netmgt/tl1d/Tl1d.java
  opennms-services/src/main/java/org/opennms/netmgt/translator/EventTranslator.java
  opennms-services/src/main/java/org/opennms/netmgt/vacuumd/Vacuumd.java
Labels: enhancement
