Repository OpenNMS/opennms, pull requests merged in 2018-05, with the labels that each got.

#1944 NMS-9919: Fix first and last switched timestamps for Netflow v9
  features/telemetry/adapters/netflow/pom.xml
  features/telemetry/adapters/netflow/src/main/java/org/opennms/netmgt/telemetry/adapters/netflow/v9/Netflow9Flow.java
  features/telemetry/adapters/netflow/src/test/java/org/opennms/netmgt/telemetry/adapters/netflow/v9/Netflow9ConverterTest.java
  features/telemetry/adapters/netflow/src/test/resources/flows/netflow9_records.dat
  features/telemetry/adapters/netflow/src/test/resources/flows/netflow9_template.dat
Labels: bug fix

#1937 NMS-9932: Fix wrong message displayed on AngularJS based tables.
  core/web-assets/src/main/assets/js/apps/onms-interfaces/onms-interfaces-app/index.js
  core/web-assets/src/main/assets/js/apps/onms-interfaces/templates/template.main.html
  core/web-assets/src/main/assets/js/apps/onms-resources/index.js
  opennms-webapp/src/main/webapp/graph/chooseresource.jsp
  opennms-webapp/src/main/webapp/graph/index.jsp
Labels: bug fix

#1949 NMS-9678: Fix surveillance url in ops board
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/config/ui/DashletSpecEditor.java
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/config/ui/WallboardConfigView.java
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/config/ui/WallboardEditor.java
  features/vaadin-dashlets/dashlet-surveillance/src/main/java/org/opennms/features/vaadin/dashboard/dashlets/SurveillanceDashlet.java
  smoke-test/src/main/java/org/opennms/smoketest/AbstractPage.java
  smoke-test/src/test/java/org/opennms/smoketest/opsboard/DashletBuilder.java
  smoke-test/src/test/java/org/opennms/smoketest/opsboard/DashletConfig.java
  smoke-test/src/test/java/org/opennms/smoketest/opsboard/OpsBoardAdminPageIT.java
Labels: bug fix

#1950 NMS-9910: Update OffsetProvider to connect to alternate brokers
  core/ipc/sink/kafka-impl/src/main/java/org/opennms/core/ipc/sink/kafka/offset/HostAndPort.java
  core/ipc/sink/kafka-impl/src/main/java/org/opennms/core/ipc/sink/kafka/offset/KafkaOffsetProvider.java
  core/ipc/sink/kafka-impl/src/test/java/org/opennms/core/ipc/sink/kafka/offset/HostAndPortTest.java
Labels: bug fix

#1943 NMS-9959: NMS-9946: NMS-9961: Newts patches for foundation-2016
  features/collection/shell-commands/src/main/java/org/opennms/netmgt/collection/commands/StressCommand.java
  features/newts/src/main/java/org/opennms/netmgt/dao/support/NewtsResourceStorageDao.java
  features/newts/src/main/java/org/opennms/netmgt/measurements/impl/NewtsFetchStrategy.java
  features/newts/src/main/java/org/opennms/netmgt/newts/support/CachePrimer.java
  features/newts/src/main/java/org/opennms/netmgt/newts/support/GuavaSearchableResourceMetadataCache.java
  features/newts/src/main/java/org/opennms/netmgt/newts/support/NewtsUtils.java
  features/newts/src/main/resources/META-INF/opennms/applicationContext-newts.xml
  features/newts/src/test/java/org/opennms/netmgt/dao/support/NewtsResourceStorageDaoTest.java
  features/newts/src/test/java/org/opennms/netmgt/measurements/impl/NewtsFetchStrategyTest.java
  opennms-doc/guide-admin/src/asciidoc/text/operation/newts/configuration.adoc
  opennms-model/src/main/java/org/opennms/netmgt/model/ResourceTypeUtils.java
  opennms-webapp/src/main/webapp/js/backshift.onms.min.js
  pom.xml
Labels: bug fix, docs

#1808 NMS-9807: Remove duplicated release notes history
  opennms-doc/releasenotes/src/asciidoc/index.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-1.10.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-1.11.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-1.12.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-1.13.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-1.9.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-14.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-15.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-16.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-17.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-18.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-19.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-20.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-21.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew-14.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew-15.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew-16.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew-17.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew-18.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew-19.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew-20.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew-21.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew.adoc
Labels: docs, refactoring, review

#1930 NMS-9958: Set correct sysoid definitions in datacollection
  opennms-base-assembly/src/main/filtered/etc/datacollection/ceragon-FA1500.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/juniper.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/konica.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/paloalto.xml
Labels: bug fix, configuration, review

#1969 NMS-10144: Remove Cisco Call Manager stats from all Windows Server
  opennms-base-assembly/src/main/filtered/etc/datacollection/microsoft.xml
Labels: bug fix, configuration, review

#1967 NMS-10142: Remove checkpoint data collection from all Windows servers
  opennms-base-assembly/src/main/filtered/etc/datacollection/microsoft.xml
Labels: bug fix, configuration, review

#1941 NMS-9936 - OID for new Cisco CallManager
  opennms-base-assembly/src/main/filtered/etc/datacollection/cisco.xml
Labels: configuration, enhancement, review

#1957 NMS-10008: Add missing IP_Address placeholder (Foundation-2017)
  opennms-webapp/src/main/webapp/geomap/includes/map.jsp
Labels: bug fix

#1963 NMS-10138: Remove Power over Ethernet MIB data collection by default
  opennms-base-assembly/src/main/filtered/etc/datacollection-config.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/mib2.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/netsnmp.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/ref_mib2-powerethernet.xml
Labels: bug fix, configuration, review

#1974 NMS-9945: Set MaxZoom of Geomap to 18 (foundation-2017)
  opennms-webapp/src/main/webapp/geomap/js/geomap.js
Labels: bug fix, review

#1962 NMS-10137: Split SNMP Informant configurations
  opennms-base-assembly/src/main/filtered/etc/datacollection-config.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/snmp-informant-adv.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/snmp-informant-exchange.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/snmp-informant-mssql.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/snmp-informant-std.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/snmp-informant-termsvc.xml
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew.adoc
Labels: configuration, enhancement, review

#1964 NMS-10139: Make 64bit interface counter default
  opennms-base-assembly/src/main/filtered/etc/datacollection-config.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/legacy_mib2-interfaces.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/mib2.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/ref_mib2-interfaces.xml
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew.adoc
Labels: configuration, enhancement, review

#1966 NMS-10141: Remove overlapping MIB-2 64bit counter configs
  opennms-base-assembly/src/main/filtered/etc/datacollection/cisco.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/ciscoNexus.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/extreme.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/f5.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/force10.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/foundry.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/juniper.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/netsnmp.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/paloalto.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/pfsense.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/riverbed.xml
Labels: configuration, enhancement, review

#2003 HZN-1308: Move database-schema.xml into jar instead of having it in etc
  core/lib/src/main/java/org/opennms/core/utils/ConfigFileConstants.java
  core/test-api/collection/src/main/java/org/opennms/core/collection/test/JUnitCollector.java
  core/test-api/collection/src/main/java/org/opennms/core/collection/test/JUnitCollectorExecutionListener.java
  core/test-api/db/src/main/resources/org/opennms/netmgt/config/test-database-schema.xml
  features/reporting/availability/src/test/java/org/opennms/reporting/availability/AvailabilityCalculatorIT.java
  features/reporting/availability/src/test/java/org/opennms/reporting/availability/AvailabilityReportIT.java
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalCoverageMetaIT.java
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
  opennms-config/src/main/java/org/opennms/netmgt/config/DatabaseSchemaConfigFactory.java
  opennms-config/src/main/resources/database-schema.xml
  opennms-config/src/test/java/org/opennms/netmgt/config/PollerConfigFactoryIT.java
  opennms-config/src/test/resources/etc/database-schema.xml
  opennms-correlation/drools-correlation-engine/src/test/opennms-home/etc/database-schema.xml
  opennms-correlation/opennms-correlator/src/test/opennms-home/etc/database-schema.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/JdbcFilterDaoIT.java
  opennms-dao/src/test/opennms-home/etc/database-schema.xml
  opennms-reporting/src/test/opennms-home/etc/database-schema.xml
  opennms-services/src/test/java/org/opennms/netmgt/collectd/CollectorConfigDaoImplIT.java
  opennms-services/src/test/java/org/opennms/netmgt/config/PollerConfigWithPSMIT.java
  opennms-services/src/test/java/org/opennms/netmgt/rtc/DataSenderTest.java
  opennms-services/src/test/resources/etc/database-schema.xml
  opennms-services/src/test/resources/org/opennms/netmgt/threshd/testBadThresholdingConfig/etc/database-schema.xml
  opennms-services/src/test/resources/org/opennms/netmgt/threshd/testBadThresholdingConfigReinitialize/etc/database-schema.xml
  opennms-webapp/src/test/opennms-home/etc/database-schema.xml
Labels: refactoring
