Repository OpenNMS/opennms, pull requests merged in 2018-11, with the labels that each got.

#2221 HZN-814: Added location to event description and logmsg
  features/discovery/pom.xml
  features/discovery/src/test/java/org/opennms/netmgt/discovery/NewSuspectLocationTest.java
  opennms-base-assembly/src/main/filtered/etc/events/opennms.discovery.events.xml
Labels: enhancement

#2231 NMS-10445: Improve performance of node search
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdSearchProvider.java
Labels: enhancement, refactoring

#2242 NMS-10455: Use Guava MoreObjects.toStringHelper
  opennms-model/src/main/java/org/opennms/netmgt/model/LocationMonitorIpInterface.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsAlarm.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsApplication.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsAssetRecord.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsCategory.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsEvent.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsIpInterface.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsLocationMonitor.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsMonitoredService.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsMonitoringSystem.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsNode.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsNotification.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsOutage.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsServiceType.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsSnmpInterface.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsUserNotification.java
Labels: refactoring

#2238 NMS-10452: Performance improvement when building menus and vertices are selected
  features/topology-map/plugins/org.opennms.features.topology.plugins.netutils/src/main/java/org/opennms/features/topology/netutils/internal/operations/PingOperation.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.netutils/src/main/java/org/opennms/features/topology/netutils/internal/ping/PingForm.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.netutils/src/main/java/org/opennms/features/topology/netutils/internal/ping/PingRequest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.netutils/src/main/java/org/opennms/features/topology/netutils/internal/ping/PingWindow.java
Labels: bug fix

#2239 NMS-10453: Show message if empty list or null list was returned
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/ui/NoContentAvailableWindow.java
  smoke-test/src/test/java/org/opennms/smoketest/TopologyIT.java
Labels: bug fix

#2249 NMS-10455: Add checkstyle rule to enforce MoreObjects.toStringHelper
  checkstyle/src/main/resources/nms_checks.xml
  opennms-correlation/drools-correlation-engine/src/main/java/org/opennms/netmgt/correlation/drools/FlapCount.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/ProvisionerIT.java
  opennms-tools/access-point-monitor/src/main/java/org/opennms/netmgt/model/OnmsAccessPoint.java
Labels: refactoring

#2002 NMS-10159: Extend system statistic metrics from UCD SNMP agents
  opennms-base-assembly/src/main/filtered/etc/datacollection/netsnmp.xml
  opennms-base-assembly/src/main/filtered/etc/snmp-graph.properties.d/netsnmp-graph.properties
  opennms-base-assembly/src/main/filtered/etc/thresholds.xml
Labels: configuration, enhancement

#2172 NMS-10383: APCs total RPDUs energy/power metric
  opennms-base-assembly/src/main/filtered/etc/datacollection/apc.xml
  opennms-base-assembly/src/main/filtered/etc/snmp-graph.properties.d/apc-graph.properties
Labels: review

#2251 NMS-10468: Fix offheap name from .doc to .adoc
  opennms-doc/guide-admin/src/asciidoc/text/minion/offheap.adoc
Labels: refactoring

#2256 NMS-10474: Sync timing issues cause erroneous deletes (f18)
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/OpennmsKafkaProducer.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/datasync/AlarmDataStore.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/datasync/KafkaAlarmDataSync.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/shell/SyncAlarms.java
  features/kafka/producer/src/main/resources/OSGI-INF/blueprint/blueprint-kafka-producer.xml
  opennms-doc/guide-admin/src/asciidoc/text/kafka-producer/kafka-producer.adoc
Labels: bug fix

#2245 HZN-1391: Added ssh command to bin/opennms script
  opennms-base-assembly/src/main/filtered/bin/opennms
Labels: enhancement

#2223 NMS-10398 speed up loading of CDP topology
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/TopologyUI.java
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/VEProviderGraphContainer.java
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/jung/D3TopoLayout.java
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/service/DefaultGraph.java
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/service/DefaultTopologyService.java
  features/topology-map/org.opennms.features.topology.app/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/topology-map/org.opennms.features.topology.app/src/test/java/org/opennms/features/topology/app/internal/VEProviderGraphContainerTest.java
  features/topology-map/org.opennms.features.topology.app/src/test/java/org/opennms/features/topology/app/internal/jung/AbstractLayoutTest.java
  features/topology-map/org.opennms.features.topology.app/src/test/java/org/opennms/features/topology/app/internal/ui/breadcrumbs/BreadcrumbPathCalculatorTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.graphml/src/test/java/org/opennms/features/topology/plugins/topo/graphml/GraphMLSearchProviderTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.history/src/test/java/org/opennms/features/topology/plugins/topo/BundleContextHistoryManagerTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdVertex.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/EnhancedLinkdMockDataPopulator.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyProviderTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/resources/META-INF/opennms/applicationContext-enhanced-mock.xml
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/TopologyEntityCache.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/TopologyEntityDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockCdpLinkDao.java
  opennms-dao-mock/src/main/resources/META-INF/opennms/applicationContext-mockDao.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/DatabasePopulator.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/TopologyEntityCacheImpl.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/TopologyEntityDaoHibernate.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-dao.xml
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-databasePopulator.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/hibernate/TopologyEntityDaoHibernateIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/CdpLinkTopologyEntity.java
  opennms-model/src/main/java/org/opennms/netmgt/model/NodeTopologyEntity.java
  opennms-webapp-rest/src/test/resources/v1/acks.json
  opennms-webapp/src/test/resources/daoWebRepositoryTestContext.xml
Labels: enhancement, refactoring

#2246 NMS-10227: Add 'Select All' / 'Unselect All' buttons for Scheduled Ou…
  opennms-webapp/src/main/webapp/admin/sched-outages/editoutage.jsp
Labels: enhancement

#2258 HZN-1408: Added example for multi-port listener to config
  opennms-base-assembly/src/main/filtered/etc/telemetryd-configuration.xml
Labels: documentation

#2259 NMS-10462: Fixed last event time in alarm detail view
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/detail.jsp
Labels: bug fix

#2260 NMS-10463: Show only situations with severity greater NORMAL on landing page
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/AlarmDaoIT.java
Labels: bug fix

#2270 NMS-7797: Remove gwt-dependencies
  dependencies/gwt/.gitignore
  dependencies/gwt/pom.xml
  dependencies/pom.xml
  opennms-base-assembly/pom.xml
  pom.xml
Labels: refactoring

#2272 NMS-10481: Fixed broken links in Cassandra install docs
  opennms-doc/guide-install/src/asciidoc/text/time-series-storage/newts/introduction.adoc
Labels: docs, review

#2199 NMS-10420: Fix data type and attribute name for Cassandra Thread Pool metrics
  opennms-base-assembly/src/main/filtered/etc/jmx-datacollection-config.d/cassandra30x.xml
Labels: bug fix, configuration, review
