Repository OpenNMS/opennms, pull requests merged in 2018-06, with the labels that each got.

#1992 NMS-10087: Asset record is not being updated with user name that performed the update
  core/test-api/rest/src/main/java/org/opennms/core/test/rest/AbstractSpringJerseyRestTestCase.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/AssetRecordResource.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/AssetRecordResourceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NodeRestServiceIT.java
Labels: bug fix, triage

#2004 HZN-1280: Added cache for flow exporters and their interfaces
  core/schema/src/main/liquibase/23.0.0/changelog.xml
  core/schema/src/main/liquibase/changelog.xml
  features/flows/api/src/main/java/org/opennms/netmgt/flows/api/FlowRepository.java
  features/flows/elastic/pom.xml
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/InitializingFlowRepository.java
  features/flows/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepositoryIT.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepositoryRetryIT.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/FlowQueryIT.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/MarkerCacheIT.java
  features/flows/rest/api/src/main/java/org/opennms/netmgt/flows/rest/FlowRestService.java
  features/flows/rest/impl/src/main/java/org/opennms/netmgt/flows/rest/internal/FlowRestServiceImpl.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ncs/src/test/java/org/opennms/features/topology/plugins/ncs/MockNodeDao.java
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-base-assembly/src/main/filtered/etc/database-schema.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/NodeDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpInterfaceDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockNodeDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockSnmpInterfaceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/NodeDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpInterfaceDaoHibernate.java
  opennms-doc/guide-development/src/asciidoc/text/rest/flows.adoc
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsNode.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsSnmpInterface.java
  opennms-webapp-rest/src/test/resources/v1/nodes.json
Labels: enhancement

#2010 HZN-1311: Enable InterfaceToNodeCache to refresh itself
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-dao/pom.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/InterfaceToNodeCacheDaoImpl.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/InterfaceToNodeCacheEventProcessor.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-dao.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/hibernate/InterfaceToNodeCacheDaoImplIT.java
Labels: enhancement

#1386 NMS-8587: Add a DisplayStringIndexStorageStrategy
  core/upgrade/src/main/java/org/opennms/upgrade/implementations/F5LTMRrdMigratorOffline.java
  core/upgrade/src/test/java/org/opennms/upgrade/implementations/F5LTMRrdMigratorOfflineTest.java
  opennms-base-assembly/src/main/filtered/etc/datacollection/f5.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DisplayStringIndexStorageStrategy.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/DisplayStringIndexStorageStrategyTest.java
  opennms-doc/guide-admin/src/asciidoc/text/performance-data-collection/configuration.adoc
Labels: enhancement, review

#2015 HZN-1330: ScriptPolicy for node provisioning
  opennms-base-assembly/src/main/filtered/etc/examples/script-policies/example.groovy
  opennms-base-assembly/src/main/filtered/etc/script-policies/.readme
  opennms-doc/guide-admin/src/asciidoc/text/provisioning/examples.adoc
  opennms-provision/opennms-provision-persistence/pom.xml
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/policies/ScriptPolicy.java
  opennms-provision/opennms-provision-persistence/src/test/java/org/opennms/netmgt/provision/persist/policies/ScriptPolicyTest.java
  opennms-provision/opennms-provision-persistence/src/test/resources/policy.groovy
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultProvisionService.java
Labels: enhancement

#2023 NMS-10191: The KSC Dashlet for the Ops-Board is not working
  features/vaadin-dashlets/dashlet-ksc/pom.xml
  features/vaadin-dashlets/dashlet-ksc/src/main/java/org/opennms/features/vaadin/dashboard/dashlets/KscDashlet.java
  features/vaadin-dashlets/dashlet-ksc/src/test/java/org/opennms/features/vaadin/dashboard/dashlets/KscDashletTest.java
Labels: bug fix

#2022 NMS-10191: The KSC Dashlet for the Ops-Board is not working
  features/vaadin-dashlets/dashlet-ksc/pom.xml
  features/vaadin-dashlets/dashlet-ksc/src/main/java/org/opennms/features/vaadin/dashboard/dashlets/KscDashlet.java
  features/vaadin-dashlets/dashlet-ksc/src/test/java/org/opennms/features/vaadin/dashboard/dashlets/KscDashletTest.java
Labels: bug fix

#2031 HZN-1336: Fix packet logging issue
  features/telemetry/adapters/netflow/src/main/java/org/opennms/netmgt/telemetry/adapters/netflow/AbstractAdapter.java
Labels: bug fix
