Repository OpenNMS/opennms, pull requests merged in 2018-08, with the labels that each got.

#2086 NMS-10291: DefaultProvisionService logs noisily for monitored service having state "N"
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultProvisionService.java
Labels: bug fix

#2088 NMS-10221: Added default direction and test
  features/flows/elastic/pom.xml
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/Direction.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/DefaultDirectionIT.java
Labels: bug fix

#2078 HZN-1329: Fixed some SFlow exceptions
  features/flows/classification/engine/api/src/main/java/org/opennms/netmgt/flows/classification/ClassificationRequest.java
  features/flows/classification/engine/api/src/main/java/org/opennms/netmgt/flows/classification/ClassificationRequestBuilder.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationEngineTest.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/DocumentEnricher.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/DocumentEnricherTest.java
  features/telemetry/listeners/sflow/src/main/java/org/opennms/netmgt/telemetry/listeners/sflow/proto/headers/EthernetHeader.java
Labels: bug fix

#2094 HZN-1370: Provide simple health check mechanism for configured adapters
  features/telemetry/distributed/sentinel/pom.xml
  features/telemetry/distributed/sentinel/src/main/java/org/opennms/netmgt/telemetry/distributed/sentinel/AdapterHealthCheck.java
  features/telemetry/distributed/sentinel/src/main/java/org/opennms/netmgt/telemetry/distributed/sentinel/AdapterManager.java
  features/telemetry/distributed/sentinel/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  smoke-test/src/test/java/org/opennms/smoketest/health/HealthCheckIT.java
Labels: enhancement

#2062 NMS-8891: Fix Ldap error log entries GLPSRV044W triggered by LdapMonitor
  opennms-services/src/main/java/org/opennms/netmgt/poller/monitors/LdapMonitor.java
Labels: bug fix

#2097 NMS-10212: Do not reuse RadiusAuthenticator in RadiusAuthenticationProvider
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog-15.adoc
  opennms-webapp/src/main/webapp/WEB-INF/spring-security.d/radius.xml.disabled
  protocols/radius/pom.xml
  protocols/radius/src/main/java/org/opennms/protocols/radius/springsecurity/RadiusAuthenticationProvider.java
  protocols/radius/src/test/java/org/opennms/protocols/radius/springsecurity/RadiusAuthenticationProviderIT.java
  protocols/radius/src/test/java/org/opennms/protocols/radius/springsecurity/RadiusAuthenticationProviderTest.java
Labels: bug fix

#2104 HZN-1372: Fix ConcurrentModificationException
  features/telemetry/distributed/minion/src/main/java/org/opennms/netmgt/telemetry/distributed/minion/ListenerManager.java
  features/telemetry/distributed/sentinel/src/main/java/org/opennms/netmgt/telemetry/distributed/sentinel/AdapterManager.java
Labels: bug fix

#2019 NMS-10200: Allow use of placeholders in some parameter values of various monitors
  container/features/src/main/resources/features.xml
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/DNSResolutionMonitor.java
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/FtpMonitor.java
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/HttpMonitor.java
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/HttpPostMonitor.java
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/JDBCMonitor.java
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/JolokiaBeanMonitor.java
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/LdapMonitor.java
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/support/ParameterSubstitutingMonitor.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/DNSResolutionMonitorIT.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/FtpMonitorTest.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/HttpMonitorIT.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/HttpPostMonitorTest.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/JDBCMonitorTest.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/JolokiaBeanMonitorTest.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/LdapMonitorTest.java
  features/wsman/pom.xml
  features/wsman/src/main/java/org/opennms/netmgt/poller/monitors/WsManMonitor.java
  features/wsman/src/test/java/org/opennms/netmgt/poller/monitors/WSManMonitorTest.java
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/DNSResolutionMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/FtpMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/HttpMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/HttpPostMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/HttpsMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/JCifsMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/JDBCMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/JDBCQueryMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/JDBCStoredProcedureMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/JolokiaBeanMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/LdapMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/LdapsMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/RadiusAuthMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/WsManMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/introduction.adoc
  protocols/cifs/pom.xml
  protocols/cifs/src/main/java/org/opennms/netmgt/poller/monitors/JCifsMonitor.java
  protocols/cifs/src/test/java/org/opennms/netmgt/poller/monitors/JCifsMonitorTest.java
  protocols/radius/pom.xml
  protocols/radius/src/main/java/org/opennms/protocols/radius/monitor/RadiusAuthMonitor.java
  protocols/radius/src/test/java/org/opennms/protocols/radius/monitor/RadiusAuthMonitorTest.java
Labels: enhancement, review

#2099 HZN-1366: Enable all adapters and verify them
  smoke-test/src/test/java/org/opennms/smoketest/flow/FlowStackIT.java
  smoke-test/src/test/java/org/opennms/smoketest/health/HealthCheckIT.java
  smoke-test/src/test/java/org/opennms/smoketest/sentinel/AbstractFlowIT.java
  smoke-test/src/test/java/org/opennms/smoketest/sentinel/FlowStackJmsIT.java
  smoke-test/src/test/java/org/opennms/smoketest/sentinel/FlowStackKafkaIT.java
  smoke-test/src/test/resources/sentinel/features-jms.xml
  smoke-test/src/test/resources/sentinel/features-kafka.xml
  smoke-test/src/test/resources/sentinel/org.opennms.features.telemetry.listeners-udp-50001.cfg
  smoke-test/src/test/resources/sentinel/org.opennms.features.telemetry.listeners-udp-50002.cfg
  smoke-test/src/test/resources/sentinel/org.opennms.features.telemetry.listeners-udp-50003.cfg
Labels: enhancement

#2107 NMS-10293: use ifregainedservice to identify ongoing outages
  core/schema/src/main/liquibase/foundation-2018/changelog.xml
  opennms-base-assembly/src/main/filtered/etc/create.sql
Labels: bug fix

#2067 NMS-9288: Topology on Map is not properly displayed
  core/lib/src/main/java/org/opennms/core/utils/InetAddressUtils.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/AbstractLinkdTopologyProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/EnhancedLinkdTopologyProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdEdge.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdEdgeStatusProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdHopCriteria.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdHopCriteriaFactory.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdSearchProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdSelectionAware.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdStatusProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdVertex.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdWrappedEdgeStatusProviders.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/NodeACLVertexProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/AlarmStatusProviderTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/ComponentTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/EasyMockDataPopulator.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/EnhancedLinkdMockDataPopulator.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/EnhancedLinkdTopologyProviderTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdEdgeStatusProviderTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/resources/META-INF/opennms/applicationContext-enhanced-mock.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/AlarmDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockAlarmDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmDaoHibernate.java
  opennms-model/src/main/java/org/opennms/netmgt/model/topology/EdgeAlarmStatusSummary.java
Labels: review

#2105 HZN-1375: Move navbar.ftl from opennms-webapp.jar to opennms-webapp directory
  opennms-webapp/src/main/java/org/opennms/web/controller/NavBarController.java
  opennms-webapp/src/main/webapp/WEB-INF/templates/navbar.ftl
  opennms-webapp/src/test/java/org/opennms/web/controller/NavBarControllerTest.java
Labels: refactoring

#2118 NMS-9875: Added flag to ignore duplicate keys
  opennms-base-assembly/src/main/filtered/etc/report-templates/subreports/95thPercentileTrafficRate_subreport.jrxml
Labels: bug fix, configuration

#2127 NMS-9027: Added Content-Type header to JavaMailer
  opennms-javamail/opennms-javamail-api/src/main/java/org/opennms/javamail/JavaMailer.java
Labels: bug fix

#2125 NMS-9921: Added time-based eviction to PropertiesCache
  core/lib/src/main/java/org/opennms/core/utils/PropertiesCache.java
  core/lib/src/test/java/org/opennms/core/utils/PropertiesCacheTest.java
  core/lib/src/test/resources/share/rrd/snmp/1/strings.properties
  core/lib/src/test/resources/share/rrd/snmp/2/strings.properties
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
Labels: bug fix

#2129 NMS-10321: Added button to delete a minion
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/MinionRestService.java
  opennms-webapp/src/main/webapp/js/angular-onms-elementList-minion.js
  opennms-webapp/src/main/webapp/minion/main.html
Labels: enhancement
