Repository OpenNMS/opennms, pull requests merged in 2018-12, with the labels that each got.

#2280 NMS-10475: Include nodeId and interface in JexlEventGenerator
  features/events/shell-commands/pom.xml
  features/events/shell-commands/src/main/java/org/opennms/netmgt/events/commands/StressCommand.java
  features/events/shell-commands/src/test/java/org/opennms/netmgt/events/commands/StressCommandTest.java
Labels: bug fix

#2273 NMS-10483: Make favicons great again
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/android-chrome-192x192.png
  opennms-webapp/src/main/webapp/android-chrome-256x256.png
  opennms-webapp/src/main/webapp/apple-touch-icon.png
  opennms-webapp/src/main/webapp/browserconfig.xml
  opennms-webapp/src/main/webapp/favicon-16x16.png
  opennms-webapp/src/main/webapp/favicon-32x32.png
  opennms-webapp/src/main/webapp/favicon.ico
  opennms-webapp/src/main/webapp/includes/bootstrap.jsp
  opennms-webapp/src/main/webapp/includes/header.jsp
  opennms-webapp/src/main/webapp/mstile-70x70.png
  opennms-webapp/src/main/webapp/safari-pinned-tab.svg
  opennms-webapp/src/main/webapp/site.webmanifest
Labels: enhancement, review

#2261 NMS-10461: Fixed pagination for Alarms/Situations
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsAlarm.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/AlarmUtil.java
  opennms-webapp/src/test/java/org/opennms/web/alarm/filter/AlarmRepositoryFilterIT.java
Labels: bug fix

#2263 NMS-10479: Fixed broken In-restriction
  features/vaadin-dashboard/pom.xml
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/config/ui/editors/CriteriaBuilderHelper.java
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/config/ui/editors/CriteriaRestriction.java
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/config/ui/editors/CriteriaRestrictionComponent.java
  features/vaadin-dashboard/src/test/java/org/opennms/features/vaadin/dashboard/config/ui/editors/CriteriaBuilderTest.java
  pom.xml
Labels: bug fix

#2275 NMS-10459: improve performance of Interface loading and mapping
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdEdge.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdTopologyProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdVertex.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/EnhancedLinkdMockDataPopulator.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/EnhancedLinkdTopologyProviderTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/java/org/opennms/features/topology/plugins/topo/linkd/internal/LinkdEdgeStatusProviderTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.linkd/src/test/resources/META-INF/opennms/applicationContext-enhanced-mock.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/TopologyEntityCache.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/TopologyEntityDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/TopologyEntityCacheImpl.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/TopologyEntityDaoHibernate.java
  opennms-model/src/main/java/org/opennms/netmgt/model/IpInterfaceTopologyEntity.java
  opennms-model/src/main/java/org/opennms/netmgt/model/NodeTopologyEntity.java
  opennms-model/src/main/java/org/opennms/netmgt/model/SnmpInterfaceTopologyEntity.java
Labels: enhancement, refactoring

#2289 NMS-10495: Introduced 'default' attribute for settings fall-back values in event translator assignments
  opennms-base-assembly/src/main/filtered/etc/translator-configuration.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/translator/Assignment.java
  opennms-config-model/src/main/resources/xsds/translator-configuration.xsd
  opennms-config/src/main/java/org/opennms/netmgt/config/EventTranslatorConfig.java
  opennms-config/src/main/java/org/opennms/netmgt/config/EventTranslatorConfigFactory.java
  opennms-services/src/main/java/org/opennms/netmgt/translator/EventTranslator.java
  opennms-services/src/test/java/org/opennms/netmgt/translator/EventTranslatorIT.java
Labels: bug fix, triage

#2296 HZN-1450: An example of how to generate "nag" events with alarms using Drools
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/AlarmService.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/DefaultAlarmService.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/DroolsAlarmContext.java
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/drools/DroolsAlarmContextIT.java
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/examples/NaggingNotificationsIT.java
  opennms-base-assembly/src/main/filtered/etc/examples/alarmd/drools-rules.d/nag.drl
Labels: enhancement
