Repository OpenNMS/opennms, pull requests merged in 2018-03, with the labels that each got.

#1877 NMS-9865: Add missing dependency to features.xml
  features/flows/feature/pom.xml
Labels: bug fix

#1871 NMS-9878, NMS-9879, NMS-9880, NMS-9883: Various Classification UI fixes
  core/web-assets/src/main/assets/js/apps/onms-classifications/index.js
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/index.html
  smoke-test/src/test/java/org/opennms/smoketest/ClassificationRulePageIT.java
Labels: bug fix

#1881 NMS-9867 Inconsistent handling of keyboard navigation on top menu
  opennms-webapp/src/main/resources/org/opennms/web/controller/navbar.ftl
Labels: bug fix

#1880 Upgrade to Webpack 4 + associated fixes
  core/web-assets/package.json
  core/web-assets/src/main/assets/js/vendor/angular-js.js
  core/web-assets/src/main/assets/js/vendor/backshift-js.js
  core/web-assets/src/main/assets/js/vendor/bootbox-js.js
  core/web-assets/src/main/assets/js/vendor/bootstrap-js.js
  core/web-assets/src/main/assets/js/vendor/c3-js.js
  core/web-assets/src/main/assets/js/vendor/d3-js.js
  core/web-assets/src/main/assets/js/vendor/flot-js.js
  core/web-assets/src/main/assets/js/vendor/holder-js.js
  core/web-assets/src/main/assets/js/vendor/jquery-js.js
  core/web-assets/src/main/assets/js/vendor/leaflet-js.js
  core/web-assets/src/main/assets/js/vendor/manifest.js
  core/web-assets/src/main/assets/js/vendor/underscore-js.js
  core/web-assets/src/main/assets/static/load-assets.jsp
  core/web-assets/webpack.config.js
  core/web-assets/yarn.lock
  pom.xml
Labels: enhancement

#1886 NMS-9915: Add missing dependencies
  integrations/opennms-jasperstudio-extension/pom.xml
Labels: bug fix

#1889 HZN-1268: Use timestamp of flow instead of current date for index creation
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
Labels: enhancement

#1873 NMS-9855: Fix asset record not having a node id when created via REST
  core/schema/src/main/liquibase/foundation-2017/changelog.xml
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsAssetRecord.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsNode.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/AssetRecordResource.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/NodeRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/NodeRestServiceIT.java
  smoke-test/pom.xml
  smoke-test/src/test/java/org/opennms/smoketest/rest/AbstractNodeRestServiceTest.java
  smoke-test/src/test/java/org/opennms/smoketest/rest/NodeRestServiceV1IT.java
  smoke-test/src/test/java/org/opennms/smoketest/rest/NodeRestServiceV2IT.java
Labels: bug fix

#1897 HZN-1274: Do not expose FlowRepository to jetty classpath
  features/flows/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Labels: bug fix

#1898 HZN-1261: Enhance classification rest service to be used in a simple link
  features/flows/rest/api/src/main/java/org/opennms/netmgt/flows/rest/classification/ClassificationRestService.java
  features/flows/rest/impl/src/main/java/org/opennms/netmgt/flows/rest/internal/classification/ClassificationRestServiceImpl.java
  features/flows/rest/impl/src/main/java/org/opennms/netmgt/flows/rest/internal/classification/FilenameHelper.java
  features/flows/rest/impl/src/test/java/org/opennms/netmgt/flows/rest/internal/classification/FilenameHelperTest.java
  smoke-test/src/test/java/org/opennms/smoketest/flow/ClassificationRestIT.java
Labels: enhancement

#1904 HZN-1249: Remove unused code
  features/opennms-es-rest/src/main/java/org/opennms/plugins/elasticsearch/rest/EventToIndex.java
Labels: refactoring

#1900 HZN-1262 Provide input field to define file name for csv download
  core/web-assets/src/main/assets/js/apps/onms-classifications/index.js
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/group.html
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/modals/export-modal.html
  features/flows/rest/impl/src/main/java/org/opennms/netmgt/flows/rest/internal/classification/FilenameHelper.java
  features/flows/rest/impl/src/test/java/org/opennms/netmgt/flows/rest/internal/classification/FilenameHelperTest.java
Labels: enhancement

#1891 NMS-9920: Prevent Stack Overflow by implementing retry iterative vs recursive
  features/jest/client/src/main/java/org/opennms/plugins/elasticsearch/rest/executors/DefaultRequestExecutor.java
Labels: bug fix

#1909 NMS-9783: Add missing header to onms-classifications angular app
  core/web-assets/src/main/assets/js/apps/onms-classifications/index.js
Labels: enhancement

#1910 HZN-1278: Calculate index using UTC instead of local time
  features/jest/client/src/main/java/org/opennms/plugins/elasticsearch/rest/index/IndexStrategy.java
  features/jest/client/src/test/java/org/opennms/plugins/elasticsearch/rest/index/IndexStrategyTest.java
Labels: bug fix
