Repository OpenNMS/opennms, pull requests merged in 2018-04, with the labels that each got.

#1922 NMS-9948: Update vaadin maven plugin
  pom.xml
Labels: bug fix

#1925 HZN-1289: Make test execution more reliable
  smoke-test/src/main/java/org/opennms/smoketest/junit/LoggingRule.java
  smoke-test/src/test/java/org/opennms/smoketest/ClassificationRulePageIT.java
Labels: bug fix

#1926 HZN-1293: Remove converter from FlowRepository and do conversion before
  features/flows/api/src/main/java/org/opennms/netmgt/flows/api/FlowRepository.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/InitializingFlowRepository.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepositoryIT.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepositoryRetryIT.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/FlowDocumentTest.java
  features/telemetry/adapters/netflow/src/main/java/org/opennms/netmgt/telemetry/adapters/netflow/AbstractAdapter.java
Labels: refactoring

#1912 HZN-1263: Make "delete existing rules" optional when importing rules …
  core/web-assets/src/main/assets/js/apps/onms-classifications/index.js
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/modals/import-modal.html
  features/flows/classification/engine/api/src/main/java/org/opennms/netmgt/flows/classification/ClassificationService.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationService.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationServiceIT.java
  features/flows/rest/impl/src/main/java/org/opennms/netmgt/flows/rest/internal/classification/ClassificationRestServiceImpl.java
Labels: enhancement

#1913 NMS-9831,HZN-1272: Handle OID event parameter keys and JSON event parameter values correctly
  features/alarm-change-notifier/main-module/src/main/java/org/opennms/plugins/dbnotifier/alarmnotifier/AlarmChangeNotificationClient.java
  features/alarm-change-notifier/main-module/src/main/java/org/opennms/plugins/dbnotifier/alarmnotifier/MemosChangeNotificationClient.java
  features/events/api/src/main/java/org/opennms/netmgt/xml/event/Value.java
  features/opennms-es-rest/main-module/src/main/java/org/opennms/plugins/elasticsearch/rest/EventToIndex.java
  features/opennms-es-rest/main-module/src/main/resources/OSGI-INF/blueprint/mainModuleBlueprint.xml
  features/opennms-es-rest/main-module/src/main/resources/eventsIndexTemplate.json
  features/opennms-es-rest/main-module/src/test/java/org/opennms/plugins/elasticsearch/test/AlarmEventToIndexTest.java
  features/opennms-es-rest/main-module/src/test/java/org/opennms/plugins/elasticsearch/test/EventToIndexTest.java
  opennms-doc/guide-admin/src/asciidoc/text/plugins/opennms-es-rest.adoc
Labels: bug fix

#1927 NMS-9952: Fix jdbc-collector default host name.
  core/lib/src/main/java/org/opennms/core/utils/DBTools.java
  core/lib/src/test/java/org/opennms/core/utils/DBToolsTest.java
Labels: bug fix

#1929 HZN-1281: Limit flow queries to specified indices
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/index/IndexSelector.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/index/StringCollapser.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/index/IndexSelectorTest.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/index/StringCollapserTest.java
  features/jest/client/src/main/java/org/opennms/plugins/elasticsearch/rest/index/IndexStrategy.java
Labels: enhancement

#1924 NMS-9937: Always add group with empty name
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/UserGroupLdapAuthoritiesPopulator.java
  opennms-webapp/src/main/webapp/WEB-INF/spring-security.d/activeDirectory.xml.disabled
  opennms-webapp/src/main/webapp/WEB-INF/spring-security.d/ldap.xml.disabled
Labels: enhancement, review

#1923 NMS-9915: Add missing spring-tx jar and remove duplicate spring-aop
  integrations/opennms-jasperstudio-extension/pom.xml
Labels: bug fix, triage

#1931 HZN-1296: Fix thread safety with date formatter used by the IndexStrategy
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/index/IndexSelector.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/index/IndexSelectorTest.java
  features/jest/client/src/main/java/org/opennms/plugins/elasticsearch/rest/index/IndexStrategy.java
  features/jest/client/src/test/java/org/opennms/plugins/elasticsearch/rest/executors/DefaultRequestExecutorIT.java
  features/jest/client/src/test/java/org/opennms/plugins/elasticsearch/rest/index/IndexStrategyTest.java
  features/opennms-es-rest/src/main/java/org/opennms/plugins/elasticsearch/rest/EventToIndex.java
  features/opennms-es-rest/src/test/java/org/opennms/plugins/elasticsearch/rest/ClientRecoveryTest.java
Labels: bug fix

#1933 NMS-9916: Added org.opennms.grafanaBox.basePath property
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-doc/guide-admin/src/asciidoc/text/webui/grafana-dashboard-box.adoc
  opennms-webapp/src/main/webapp/includes/grafana-box.jsp
Labels: enhancement, review
