Repository OpenNMS/opennms, pull requests merged in 2018-07, with the labels that each got.

#2039 HZN-1344: Add all default sentinel feature repositories to cfg
  container/shared/pom.xml
  features/container/sentinel/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  opennms-doc/guide-admin/src/asciidoc/text/sentinel/sentinel.adoc
  smoke-test/src/test/resources/sentinel/features-jms.xml
  smoke-test/src/test/resources/sentinel/features-kafka.xml
Labels: enhancement

#2041 NMS-10247: Re-add legacy 32-bit interface counter for Microsoft Windows
  opennms-base-assembly/src/main/filtered/etc/datacollection/microsoft.xml
Labels: bug fix, docs

#2034 NMS-10238: match behavior of all test data from C IPLIKE
  core/db-install/src/main/resources/org/opennms/core/db/install/iplike.sql
  core/test-api/db/src/test/java/org/opennms/core/test/db/IPLikeCoverageIT.java
  core/test-api/db/src/test/java/org/opennms/core/test/db/InstallerDbIT.java
  core/test-api/db/src/test/java/org/opennms/core/test/db/InstallerDbITCase.java
Labels: bug fix, enhancement

#2046 HZN-1341: Remove karaf-extender from sentinel
  features/container/sentinel/src/assembly/sentinel.xml
  features/container/sentinel/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  features/sentinel/runInPlace.sh
  tools/packages/sentinel/sentinel.spec
Labels: enhancement

#2047 HZN-1349: Remove unused DemandPollDao and related classes from code base
  container/features/pom.xml
  core/schema/src/main/liquibase/23.0.0/changelog.xml
  core/test-api/db/src/main/resources/import.sql
  core/test-api/db/src/test/resources/create.sql-revision-3952
  core/test-api/services/src/main/resources/minimal-eventconf.xml
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventConstants.java
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-base-assembly/src/main/filtered/etc/events/opennms.internal.events.xml
  opennms-base-assembly/src/main/resources/contrib/qosdaemon/qos_example_configuration/opennms_fault_config/eventconf.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/eventconf-speedtest/eventconf.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/eventconf-wildcard/eventconf.xml
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/DemandPollDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockDemandPollDao.java
  opennms-dao-mock/src/main/resources/META-INF/opennms/applicationContext-mockDao.xml
  opennms-dao-mock/src/main/resources/minimal-eventconf.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/DemandPollDaoHibernate.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-dao.xml
  opennms-model/src/main/java/org/opennms/netmgt/model/DemandPoll.java
  opennms-model/src/main/java/org/opennms/netmgt/model/PollResult.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/PollerEventProcessor.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PathOutageManagerDaoIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerQueryManagerDaoIT.java
  opennms-services/src/test/resources/org/opennms/netmgt/mock/eventconf.xml
  opennms-web-api/src/main/java/org/opennms/web/svclayer/DemandPollService.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/api/PollerService.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultDemandPollService.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultPollerService.java
  opennms-webapp/src/main/resources/org/opennms/web/svclayer/applicationContext-svclayer.xml
  opennms-webapp/src/test/java/org/opennms/web/services/PollerServiceTest.java
  opennms-webapp/src/test/java/org/opennms/web/svclayer/DefaultPollServiceIntegrationIT.java
  opennms-webapp/src/test/java/org/opennms/web/svclayer/DemandPollServiceTest.java
  src/test/resources/test-data.sql
  tests/mock-elements/src/main/java/org/opennms/netmgt/mock/MockEventUtil.java
  tests/mock-elements/src/main/java/org/opennms/netmgt/mock/MockService.java
Labels: refactoring

#2040 NMS-10195: Re-add MIB2 interface errors to default data collection
  opennms-base-assembly/src/main/filtered/etc/datacollection/mib2.xml
Labels: bug fix, configuration

#2050 NMS-10258: enlinkd prints bridge forwarding table debug messages in o…
  opennms-model/src/main/java/org/opennms/netmgt/model/topology/BroadcastDomain.java
Labels: review

#2049 NMS-10255: Updated asciidoctor 1.5.6 -> 1.5.7 and stylesheet
  opennms-doc/asciidoctor-default.css
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/LdapMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/NtpMonitor.adoc
  pom.xml
Labels: docs, enhancement

#2035 NMS-8295: Bridge topology is wrong on nodelink.jsp
  opennms-base-assembly/src/main/filtered/etc/enlinkd-configuration.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/enlinkd/EnlinkdConfiguration.java
  opennms-config-model/src/main/resources/xsds/enlinkd-configuration.xsd
  opennms-config/src/main/java/org/opennms/netmgt/config/EnhancedLinkdConfigManager.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/BridgeTopologyDaoHibernate.java
  opennms-model/src/main/java/org/opennms/netmgt/model/topology/BroadcastDomain.java
  opennms-model/src/main/java/org/opennms/netmgt/model/topology/SharedSegment.java
  opennms-services/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdBuilderITCase.java
  opennms-services/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdIT.java
  opennms-services/src/test/resources/META-INF/opennms/applicationContext-enhancedLinkdTest.xml
  opennms-webapp/src/main/java/org/opennms/web/enlinkd/BridgeElementNode.java
  opennms-webapp/src/main/java/org/opennms/web/enlinkd/BridgeLinkNode.java
  opennms-webapp/src/main/java/org/opennms/web/enlinkd/BridgeLinkRemoteNode.java
  opennms-webapp/src/main/java/org/opennms/web/enlinkd/BridgeLinkSharedHost.java
  opennms-webapp/src/main/java/org/opennms/web/enlinkd/CdpLinkNode.java
  opennms-webapp/src/main/java/org/opennms/web/enlinkd/EnLinkdElementFactory.java
  opennms-webapp/src/main/java/org/opennms/web/enlinkd/EnLinkdElementFactoryInterface.java
  opennms-webapp/src/main/java/org/opennms/web/enlinkd/LldpElementNode.java
  opennms-webapp/src/main/java/org/opennms/web/enlinkd/LldpLinkNode.java
  opennms-webapp/src/main/java/org/opennms/web/enlinkd/NodeLinkBridge.java
  opennms-webapp/src/main/java/org/opennms/web/enlinkd/OspfLinkNode.java
  opennms-webapp/src/main/webapp/element/linkednode.jsp
  opennms-webapp/src/main/webapp/element/node.jsp
Labels: review

#2051 NMS-10260: Streamline contribution docs in GitHub repository
  CONTRIBUTING.md
Labels: docs

#2061 NMS-10266: Remove not used core/doc module
  core/doc/pom.xml
  core/pom.xml
Labels: refactoring

#2069 NMS-10278: Neutralise the stylesheet
  opennms-doc/asciidoctor-default.css
Labels: docs, enhancement

#2056 NMS-9858: embed Hawtio in jetty-webapps & create packages
  debian/control
  debian/opennms-webapp-hawtio.conffiles
  debian/opennms-webapp-hawtio.overrides
  debian/rules
  opennms-full-assembly/pom.xml
  opennms-full-assembly/src/assembly/components/webapps.xml
  pom.xml
  tools/packages/opennms/opennms.spec
Labels: enhancement

#2066 HZN-1345: Provide health:check command
  container/features/pom.xml
  container/features/src/main/resources/features-sentinel.xml
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  core/health/api/pom.xml
  core/health/api/src/main/java/org/opennms/core/health/api/Context.java
  core/health/api/src/main/java/org/opennms/core/health/api/Health.java
  core/health/api/src/main/java/org/opennms/core/health/api/HealthCheck.java
  core/health/api/src/main/java/org/opennms/core/health/api/HealthCheckService.java
  core/health/api/src/main/java/org/opennms/core/health/api/Response.java
  core/health/api/src/main/java/org/opennms/core/health/api/Status.java
  core/health/impl/pom.xml
  core/health/impl/src/main/java/org/opennms/core/health/impl/ContainerIntegrityHealthCheck.java
  core/health/impl/src/main/java/org/opennms/core/health/impl/DefaultHealthCheckService.java
  core/health/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  core/health/pom.xml
  core/health/shell/pom.xml
  core/health/shell/src/main/java/org/opennms/core/health/shell/Color.java
  core/health/shell/src/main/java/org/opennms/core/health/shell/Colorizer.java
  core/health/shell/src/main/java/org/opennms/core/health/shell/HealthCheckCommand.java
  core/pom.xml
  features/distributed/core/impl/pom.xml
  features/distributed/core/impl/src/main/java/org/opennms/distributed/core/impl/RestConnectionHealthCheck.java
  features/distributed/core/jms/pom.xml
  features/distributed/core/jms/src/main/java/org/opennms/distribute/jms/impl/JmsConnectionHealthCheck.java
  features/distributed/core/jms/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/distributed/core/shell/pom.xml
  features/distributed/core/shell/src/main/java/org/opennms/distributed/core/shell/AbstractPingCommand.java
  features/distributed/dao-healthcheck/pom.xml
  features/distributed/dao-healthcheck/src/main/java/org/opennms/features/distributed/dao/healthcheck/DaoHealthCheck.java
  features/distributed/dao-healthcheck/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/distributed/pom.xml
  features/flows/elastic/pom.xml
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/health/ElasticHealthCheck.java
  features/flows/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/minion/core/features/src/main/resources/features.xml
  features/minion/core/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/minion/core/repository/pom.xml
  features/sentinel/core/pom.xml
  features/sentinel/core/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-doc/guide-admin/src/asciidoc/text/sentinel/sentinel.adoc
  opennms-full-assembly/src/test/java/org/opennms/assemblies/karaf/FeaturesBootKarafIT.java
  smoke-test/src/test/java/org/opennms/smoketest/flow/FlowStackIT.java
  smoke-test/src/test/java/org/opennms/smoketest/health/HealthCheckIT.java
  smoke-test/src/test/resources/flows/org.opennms.features.flows.persistence.elastic.cfg
  smoke-test/src/test/resources/org.apache.karaf.features.cfg
Labels: enhancement

#2074 NMS-10257: Only refresh the event listener when handling a reloadDaemonConfig event
  opennms-correlation/opennms-correlator/pom.xml
  opennms-correlation/opennms-correlator/src/main/java/org/opennms/netmgt/correlation/Correlator.java
  opennms-correlation/opennms-correlator/src/test/java/org/opennms/netmgt/correlation/CorrelatorEngineAdapterTest.java
Labels: bug fix

#2084 HZN-1339: Rework features-sentinel.xml
  container/features/src/main/resources/features-minion.xml
  container/features/src/main/resources/features-sentinel.xml
  features/distributed/dao/api/pom.xml
  features/distributed/dao/distributed/README.md
  features/distributed/dao/distributed/pom.xml
  features/distributed/dao/distributed/src/main/java/org/opennms/netmgt/dao/DistPollerDaoDistributed.java
  features/distributed/dao/distributed/src/main/resources/OSGI-INF/blueprint/blueprint-distPollerDao.xml
  features/distributed/dao/distributed/src/test/java/org/opennms/netmgt/dao/BlueprintDistPollerDaoDistributedIT.java
  features/distributed/dao/healthcheck/pom.xml
  features/distributed/dao/healthcheck/src/main/java/org/opennms/features/distributed/dao/healthcheck/DaoHealthCheck.java
  features/distributed/dao/healthcheck/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/distributed/dao/impl/pom.xml
  features/distributed/dao/impl/src/main/resources/META-INF/services/javax.validation.spi.ValidationProvider
  features/distributed/dao/pom.xml
  features/distributed/dao/test/pom.xml
  features/distributed/dao/test/src/main/java/org/opennms/netmgt/dao/DaoServiceTester.java
  features/distributed/dao/test/src/main/java/org/opennms/netmgt/dao/ServiceHolder.java
  features/distributed/dao/test/src/main/java/org/opennms/netmgt/dao/TestRegistry.java
  features/distributed/dao/test/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/distributed/pom.xml
  smoke-test/src/test/resources/sentinel/features-dao.xml
  smoke-test/src/test/resources/sentinel/features-jms.xml
  smoke-test/src/test/resources/sentinel/features-kafka.xml
Labels: enhancement, refactoring
