Repository OpenNMS/opennms, pull requests merged in 2019-12, with the labels that each got.

#2813 NMS-12375: Migrate docker configuration official install guide
  opennms-container/README.md
  opennms-container/horizon/Dockerfile
  opennms-container/horizon/README.md
  opennms-container/horizon/build_container_image.sh
  opennms-container/minion/Dockerfile
  opennms-container/minion/README.md
  opennms-container/minion/assets/entrypoint.sh
  opennms-container/minion/build_container_image.sh
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/build_container_image.sh
  opennms-doc/guide-install/src/asciidoc/index.adoc
  opennms-doc/guide-install/src/asciidoc/text/run-with-docker/introduction.adoc
  opennms-doc/guide-install/src/asciidoc/text/run-with-docker/minion-config.adoc
  opennms-doc/guide-install/src/asciidoc/text/run-with-docker/opennms-config.adoc
  opennms-doc/guide-install/src/asciidoc/text/run-with-docker/sentinel-config.adoc
Labels: docs, review me

#2797 NMS-12368: Add an easy to follow step-by-step guide to use Kafka for Minion
  opennms-doc/guide-admin/src/asciidoc/index.adoc
  opennms-doc/guide-admin/src/asciidoc/text/minion/kafka.adoc
  opennms-doc/guide-install/src/asciidoc/images/minion-custom-messaging-system/minion-communication.png
  opennms-doc/guide-install/src/asciidoc/images/minion-custom-messaging-system/setup-minion-kafka.png
  opennms-doc/guide-install/src/asciidoc/images_src/minion-custom-messaging-system/minion-communication.graphml
  opennms-doc/guide-install/src/asciidoc/images_src/minion-custom-messaging-system/setup-minion-kafka.graphml
  opennms-doc/guide-install/src/asciidoc/index.adoc
  opennms-doc/guide-install/src/asciidoc/text/minion-custom-messaging-system/introduction.adoc
  opennms-doc/guide-install/src/asciidoc/text/minion-custom-messaging-system/setup-kafka/introduction.adoc
  opennms-doc/guide-install/src/asciidoc/text/minion-custom-messaging-system/setup-kafka/steps-horizon.adoc
  opennms-doc/guide-install/src/asciidoc/text/minion-custom-messaging-system/setup-kafka/steps-minion.adoc
  opennms-doc/guide-install/src/asciidoc/text/minion-custom-messaging-system/setup-kafka/tuning-kafka.adoc
Labels: docs, review me

#2825 NMS-12400: Check filter rules in poller-configuration.xml
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/SmtpMonitorIT.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/SshMonitorIT.java
  opennms-config/src/main/java/org/opennms/netmgt/config/PollerConfigFactory.java
  opennms-config/src/main/java/org/opennms/netmgt/config/PollerConfigManager.java
  opennms-config/src/test/java/org/opennms/netmgt/config/PollerConfigReloadIT.java
  opennms-config/src/test/resources/poller-configuration-valid1.xml
  opennms-config/src/test/resources/poller-configuration-valid2.xml
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockFilterDao.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/ScheduledOutagesRestServiceIT.java
Labels: bug fix

#2843 NMS-12431: Allow selecting the layer via URL parameter in topology ui
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/TopologyUI.java
  features/topology-map/org.opennms.features.topology.link/src/main/java/org/opennms/features/topology/link/TopologyLinkBuilder.java
  smoke-test/src/test/java/org/opennms/smoketest/topo/GraphMLTopologyIT.java
Labels: bug fix

#2839 Use SessionUtils instead of TransactionOperations
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/ClassificationEngineInitializer.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationService.java
  features/flows/classification/engine/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationServiceIT.java
Labels: refactoring

#2840 NMS-12429: Reuse rules when defining port ranges
  features/flows/classification/engine/impl/pom.xml
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationEngine.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/value/PortValue.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationEngineTest.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/value/PortValueTest.java
Labels: bug fix

#2851 NMS-12433: Fix ranged port values
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationEngine.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/value/PortValue.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/validation/RuleValidatorTest.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/value/PortValueTest.java
  features/flows/classification/persistence/api/src/main/java/org/opennms/netmgt/flows/classification/persistence/api/Rule.java
Labels: bug fix

#2847 NMS-12435: Associate exporter node using Observation Domain Id
  core/ipc/rpc/utils/src/main/java/org/opennms/core/rpc/utils/mate/ContextKey.java
  features/flows/api/pom.xml
  features/flows/api/src/main/java/org/opennms/netmgt/flows/api/Flow.java
  features/flows/api/src/main/java/org/opennms/netmgt/flows/api/FlowSource.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/DocumentEnricher.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/DocumentEnricherTest.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/FlowDocumentTest.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/FlowQueryIT.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/MarkerCacheIT.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/NodeIdentificationTest.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/TestFlow.java
  features/telemetry/protocols/flows/src/main/java/org/opennms/netmgt/telemetry/protocols/flows/AbstractFlowAdapter.java
  features/telemetry/protocols/jti/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/jti/adapter/JtiAdapterFactory.java
  features/telemetry/protocols/netflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/ipfix/IpfixFlow.java
  features/telemetry/protocols/netflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/netflow5/Netflow5Flow.java
  features/telemetry/protocols/netflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/netflow9/Netflow9Flow.java
  features/telemetry/protocols/nxos/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/nxos/adapter/NxosAdapterFactory.java
  features/telemetry/protocols/sflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/adapter/SFlow.java
  features/telemetry/protocols/sflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/adapter/SFlowTelemetryAdapterFactory.java
  features/telemetry/registry/src/main/java/org/opennms/netmgt/telemetry/protocols/registry/impl/TelemetryServiceRegistryImpl.java
  opennms-base-assembly/src/main/filtered/etc/jmx-datacollection-config.xml
  opennms-base-assembly/src/main/filtered/etc/snmp-graph.properties.d/opennms-netflow-graph.properties
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/NodeDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockNodeDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/NodeDaoHibernate.java
  opennms-doc/guide-admin/src/asciidoc/text/flows/setup.adoc
Labels: enhancement

#2837 NMS-12407: Updated JCifs version
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/JCifsMonitor.adoc
  pom.xml
  protocols/cifs/src/main/java/org/opennms/netmgt/poller/monitors/JCifsMonitor.java
  protocols/cifs/src/test/java/org/opennms/netmgt/poller/monitors/TimeoutTest.java
Labels: bug fix, dependency update

#2852 NMS-12441: Add documentation for the new Graph Service API
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/search/SearchCriteria.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/service/GraphProviderManager.java
  opennms-doc/guide-development/src/asciidoc/index.adoc
  opennms-doc/guide-development/src/asciidoc/text/graph/graph.adoc
  opennms-doc/guide-development/src/asciidoc/text/graph/persistence.adoc
  opennms-doc/guide-development/src/asciidoc/text/rest/graph.adoc
  opennms-doc/guide-development/src/asciidoc/text/topology/graphml.adoc
Labels: docs, graph-service

#2850 NMS-12432: Fix error handling in classification ui
  core/web-assets/src/main/assets/js/apps/onms-classifications/index.js
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/modals/new-rule-modal.html
Labels: bug fix

#2829 Final cleanup of Graph-Service branch
  core/schema/src/main/liquibase/26.0.0/changelog.xml
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericEdge.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericElement.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericGraph.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericGraphContainer.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericProperties.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/info/DefaultGraphContainerInfo.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/persistence/GraphRepository.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/search/SearchCriteria.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/updates/ChangeSet.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/updates/ContainerChangeSet.java
  features/graph/api/src/test/java/org/opennms/netmgt/graph/api/updates/ChangeSetTest.java
  features/graph/api/src/test/java/org/opennms/netmgt/graph/api/updates/ContainerChangeSetTest.java
  features/graph/dao/api/src/main/java/org/opennms/netmgt/graph/GraphContainerEntity.java
  features/graph/domain/src/main/java/org/opennms/netmgt/graph/domain/AbstractDomainGraph.java
  features/graph/domain/src/main/java/org/opennms/netmgt/graph/domain/AbstractDomainGraphContainer.java
  features/graph/provider/graphml/src/main/java/org/opennms/netmgt/graph/provider/graphml/GraphmlToGraphConverter.java
  features/graph/provider/legacy/src/main/java/org/opennms/netmgt/graph/provider/legacy/LegacyGraph.java
  features/graph/rest/api/src/main/java/org/opennms/netmgt/graph/rest/api/GraphSearchRestService.java
  features/graph/rest/impl/src/main/java/org/opennms/netmgt/graph/rest/impl/GraphSearchRestServiceImpl.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/enrichment/NodeEnrichmentProcessor.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/persistence/DefaultGraphRepository.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/persistence/converter/CollectionConverter.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/persistence/mapper/GenericToEntityMapper.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/search/NodeSearchProvider.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/service/DefaultGraphService.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/updates/DefaultGraphNotificationService.java
  features/graph/service/src/test/java/org/opennms/netmgt/graph/search/NodeSearchProviderIT.java
  features/graph/shell/src/main/java/org/opennms/netmgt/graph/shell/GraphSearchCommand.java
  smoke-test/src/test/java/org/opennms/smoketest/graph/GraphRestServiceIT.java
Labels: cleanup, graph-service, refactoring

#2832 NMS-12418: Remove Mailing list and StackOverflow link
  opennms-webapp/src/main/webapp/includes/help-contact.jsp
  opennms-webapp/src/main/webapp/includes/help-documentation.jsp
  smoke-test/src/test/java/org/opennms/smoketest/HelpPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/SupportPageIT.java
Labels: bug fix, waiting on build system

#2859 NMS-12455: Upgrade Drools and go back to STREAMing!
  dependencies/drools/pom.xml
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/DroolsAlarmContext.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/ManagedDroolsContext.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/SessionClock.java
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/SessionClockTest.java
  opennms-base-assembly/src/main/filtered/etc/alarmd/drools-rules.d/alarmd.drl
  opennms-base-assembly/src/main/filtered/etc/alarmd/drools-rules.d/situations.drl
  opennms-base-assembly/src/main/filtered/etc/examples/alarmd/drools-rules.d/nag.drl
Labels: bug fix

#2849 NMS-12397: Refactoring of the Cassandra installation instructions
  opennms-doc/guide-install/src/asciidoc/index.adoc
  opennms-doc/guide-install/src/asciidoc/text/time-series-storage/newts.adoc
  opennms-doc/guide-install/src/asciidoc/text/time-series-storage/newts/configure-opennms.adoc
  opennms-doc/guide-install/src/asciidoc/text/time-series-storage/newts/debian.adoc
  opennms-doc/guide-install/src/asciidoc/text/time-series-storage/newts/introduction.adoc
  opennms-doc/guide-install/src/asciidoc/text/time-series-storage/newts/rhel.adoc
  opennms-doc/guide-install/src/asciidoc/text/time-series-storage/newts/windows.adoc
  opennms-doc/guide-install/src/asciidoc/text/time-series-storage/options.adoc
Labels: docs, refactoring, review me
