Repository OpenNMS/opennms, pull requests merged in 2019-07, with the labels that each got.

#2558 NMS-12129: Add a bash tool to help analysing config diffs
  opennms-base-assembly/src/main/filtered/bin/config-diff.sh
Labels: pending-review

#2570 NMS-12147: Add better datetime selection
  core/web-assets/package.json
  core/web-assets/src/main/assets/js/apps/onms-reports/details.html
  core/web-assets/src/main/assets/js/apps/onms-reports/index.js
  core/web-assets/src/main/assets/js/lib/onms-datetimepicker/index.js
  core/web-assets/src/main/assets/js/lib/onms-datetimepicker/template.html
  core/web-assets/yarn.lock
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/UserRestService.java
Labels: enhancement

#2560 NMS-12133: Allow to install Horizon from a tarball
  .gitignore
  opennms-container/horizon/Dockerfile
  opennms-container/horizon/tarball/.gitkeep
  smoke-test/README.md
Labels: review

#2568 NMS-11993: Clock skew detection
  features/telemetry/protocols/netflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/netflow9/Netflow9ConverterTest.java
  features/telemetry/protocols/netflow/parser/pom.xml
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/IpfixTcpParser.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/IpfixUdpParser.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/Netflow5UdpParser.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/Netflow9UdpParser.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ParserBase.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/UdpParserBase.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/factory/IpfixTcpParserFactory.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/factory/IpfixUdpParserFactory.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/factory/Netflow5UdpParserFactory.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/factory/Netflow9UdpParserFactory.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/session/Session.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/session/TcpSession.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/session/UdpSessionManager.java
  features/telemetry/protocols/netflow/parser/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ClockSkewTest.java
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ParserTest.java
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ipfix/BlackboxTest.java
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/netflow9/BlackboxTest.java
  opennms-base-assembly/src/main/filtered/etc/events/opennms.internal.events.xml
  opennms-base-assembly/src/main/filtered/etc/translator-configuration.xml
  opennms-doc/guide-admin/src/asciidoc/text/telemetryd/introduction.adoc
  smoke-test/src/main/resources/minion-overlay/org.opennms.features.telemetry.listeners-udp-50000-single-port-flows.cfg
  smoke-test/src/test/java/org/opennms/smoketest/flow/ClockSkewIT.java
Labels: enhancement

#2550 NMS-12092 add test to verify REST endpoint for search
  features/graph/service/src/main/java/org/opennms/netmgt/graph/search/LabelSearchProvider.java
  smoke-test/src/test/java/org/opennms/smoketest/graph/GraphRestServiceIT.java
Labels: enhancement, graph-service

#2561 NMS-7188: Add an ActiveMQ Broker Detector and Monitor
  container/features/src/main/resources/features.xml
  core/test-api/activemq/src/main/java/org/opennms/core/test/activemq/ActiveMQBroker.java
  features/minion/repository/pom.xml
  features/poller/monitors/core/pom.xml
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/ActiveMQMonitor.java
  features/poller/monitors/core/src/main/resources/META-INF/services/org.opennms.netmgt.poller.ServiceMonitor
  features/poller/monitors/core/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/ActiveMQMonitorTest.java
  features/sentinel/repository/pom.xml
  opennms-base-assembly/pom.xml
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
  opennms-doc/guide-admin/src/asciidoc/index.adoc
  opennms-doc/guide-admin/src/asciidoc/text/provisioning/detectors/ActiveMQDetector.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/ActiveMQMonitor.adoc
  opennms-provision/opennms-detector-jms/pom.xml
  opennms-provision/opennms-detector-jms/src/main/java/org/opennms/netmgt/provision/detector/jms/ActiveMQDetector.java
  opennms-provision/opennms-detector-jms/src/main/java/org/opennms/netmgt/provision/detector/jms/ActiveMQDetectorFactory.java
  opennms-provision/opennms-detector-jms/src/main/resources/META-INF/opennms/detectors.xml
  opennms-provision/opennms-detector-jms/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-provision/opennms-detector-jms/src/test/java/org/opennms/netmgt/provision/detector/jms/ActiveMQDetectorTest.java
  opennms-provision/pom.xml
  pom.xml
  smoke-test/src/test/java/org/opennms/smoketest/minion/DetectorsCommandIT.java
  smoke-test/src/test/java/org/opennms/smoketest/minion/MonitorsListCommandIT.java
Labels: contribution, enhancement, triage

#2564 NMS-12136: Enhance CircleCI workflow to reduce build times and tests
  .circleci/config.yml
  .circleci/scripts/find-tests.py
  .circleci/scripts/itest.sh
  .circleci/scripts/smoke.sh
  features/opennms-es-rest/src/test/java/org/opennms/plugins/elasticsearch/rest/archive/manual/OnmsHistoricEventsToEsTest.java
  features/opennms-es-rest/src/test/java/org/opennms/plugins/elasticsearch/rest/archive/manual/OnmsRestEventsToEsTest.java
  features/topology-map/org.opennms.features.topology.app/pom.xml
  features/vaadin-components/widgetset/pom.xml
  features/vaadin-dashboard/pom.xml
  features/vaadin-node-maps/pom.xml
  makerpm.sh
  maven/lib/ext/takari-filemanager-0.8.3.jar
  maven/lib/ext/takari-local-repository-0.11.2.jar
  maven/lib/ext/takari-smart-builder-0.6.1.jar
  opennms-tools/access-point-monitor/pom.xml
  pom.xml
  tools/packages/minion/create-minion-assembly.sh
  tools/packages/opennms/opennms.spec
  tools/packages/sentinel/create-sentinel-assembly.sh
Labels: enhancement, pending-review

#2572 NMS-10695: Filter alarm list by surveillance categories
  opennms-webapp/src/main/java/org/opennms/web/alarm/AlarmQueryServlet.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/AlarmUtil.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/filter/CategoryFilter.java
  opennms-webapp/src/main/java/org/opennms/web/element/NetworkElementFactory.java
  opennms-webapp/src/main/java/org/opennms/web/element/NetworkElementFactoryInterface.java
  opennms-webapp/src/main/webapp/includes/alarm-advquerypanel.jsp
  opennms-webapp/src/test/java/org/opennms/web/alarm/filter/AlarmRepositoryFilterIT.java
Labels: enhancement

#2580 NMS-11985 improved documentation for smoke test
  smoke-test/README.md
Labels: docs

#2574 NMS-12158: Remove Database Reports UI (Legacy - using Spring Web Flows)
  container/features/src/main/resources/features-experimental.xml
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/custom.properties
  core/web-assets/src/main/assets/js/apps/onms-reports/persisted.html
  debian/opennms-webapp-jetty.conffiles
  dependencies/spring-web/pom.xml
  features/remote-poller/pom.xml
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/ReportRestService.java
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/internal/DummyRequestContext.java
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/internal/ReportRestServiceImpl.java
  opennms-full-assembly/pom.xml
  opennms-full-assembly/src/test/java/org/opennms/assemblies/karaf/FeatureInstallKarafIT.java
  opennms-full-assembly/src/test/java/org/opennms/assemblies/karaf/OnmsFeatureKarafIT.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/SchedulerMessage.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/SchedulerMessageSeverity.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/SchedulerRequestContext.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/SchedulerService.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/ManageDatabaseReportCommand.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultSchedulerService.java
  opennms-webapp/pom.xml
  opennms-webapp/src/main/java/org/opennms/web/controller/DownloadReportController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ManageDatabaseReportController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ManageReportScheduleController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/OnlineReportController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/ReportListController.java
  opennms-webapp/src/main/java/org/opennms/web/report/database/BatchReportFlowHander.java
  opennms-webapp/src/main/java/org/opennms/web/report/database/DeliveryOptionsValidator.java
  opennms-webapp/src/main/java/org/opennms/web/report/database/ReportParametersValidator.java
  opennms-webapp/src/main/resources/org/opennms/web/svclayer/applicationContext-svclayer.xml
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-webflow.xml
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  opennms-webapp/src/main/webapp/WEB-INF/flows/report/database/batchReport/batchReport-flow.xml
  opennms-webapp/src/main/webapp/WEB-INF/flows/report/database/batchReport/cronExpression.jsp
  opennms-webapp/src/main/webapp/WEB-INF/flows/report/database/batchReport/deliveryOptions.jsp
  opennms-webapp/src/main/webapp/WEB-INF/flows/report/database/batchReport/reportError.jsp
  opennms-webapp/src/main/webapp/WEB-INF/flows/report/database/batchReport/reportParameters.jsp
  opennms-webapp/src/main/webapp/WEB-INF/flows/report/database/batchReport/reportRunning.jsp
  opennms-webapp/src/main/webapp/WEB-INF/flows/report/database/batchReport/reportScheduled.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/report/database/index.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/report/database/manage.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/report/database/manageSchedule.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/report/database/onlineReport.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/report/database/reportList.jsp
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
  opennms-webapp/src/main/webapp/report/database/index.jsp
  opennms-webapp/src/main/webapp/report/index.jsp
  opennms-webapp/src/main/webapp/report/index2.jsp
  opennms-webapp/src/test/java/org/opennms/web/report/database/SpringWebflowContextIT.java
  opennms-webapp/src/test/java/org/opennms/web/svclayer/support/DefaultSchedulerServiceIT.java
  smoke-test/src/test/java/org/opennms/smoketest/DatabaseReportBatchIT.java
  smoke-test/src/test/java/org/opennms/smoketest/DatabaseReportIT.java
  smoke-test/src/test/java/org/opennms/smoketest/ReportsPageIT.java
Labels: cleanup

#2445 NMS-12080: Add poller patterns
  core/ipc/rpc/utils/src/main/java/org/opennms/core/rpc/utils/mate/MapScope.java
  core/lib/src/main/java/org/opennms/core/utils/RegexUtils.java
  core/lib/src/test/java/org/opennms/core/utils/RegexUtilsTest.java
  features/poller/api/src/main/java/org/opennms/netmgt/poller/PollerRequestBuilder.java
  features/poller/client-rpc/src/main/java/org/opennms/netmgt/poller/client/rpc/PollerRequestBuilderImpl.java
  features/poller/shell/src/main/java/org/opennms/netmgt/poller/shell/ReadOnlyPollerConfigManager.java
  features/poller/shell/src/main/java/org/opennms/netmgt/poller/shell/Test.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/poller/Package.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/poller/Service.java
  opennms-config-jaxb/src/main/resources/xsds/poller-configuration.xsd
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/EventMatchers.java
  opennms-config/src/main/java/org/opennms/netmgt/config/PollerConfig.java
  opennms-config/src/main/java/org/opennms/netmgt/config/PollerConfigFactory.java
  opennms-config/src/main/java/org/opennms/netmgt/config/PollerConfigManager.java
  opennms-config/src/test/java/org/opennms/netmgt/config/PollerConfigFactoryIT.java
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/configuration.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/polling-packages.adoc
  opennms-services/pom.xml
  opennms-services/src/main/java/org/opennms/netmgt/poller/Poller.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/PollableServiceConfig.java
  opennms-services/src/test/java/org/opennms/netmgt/mock/MockPollerConfig.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerQueryManagerDaoIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/pollables/PollableServiceConfigIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/pollables/PollablesIT.java
  opennms-services/src/test/resources/etc/wildcard-poller-configuration.xml
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/ForeignSourceConfigRestService.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/element/service.jsp
Labels: enhancement

#2573 NMS-12159: Fix external authenticated users not properly handled
  core/web-assets/src/main/assets/js/apps/onms-reports/index.js
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/WhoamiRestService.java
  smoke-test/src/test/java/org/opennms/smoketest/rest/WhoamiRestIT.java
Labels: bug fix

#2577 NMS-12161: Find Java 8 and 11
  debian/opennms-server.opennms.init
Labels: bug fix

#2578 NMS-12160: Outage timeline is empty
  core/web-assets/src/main/assets/js/apps/timeline-resize/index.js
  smoke-test/src/test/java/org/opennms/smoketest/NodeDetailPageIT.java
Labels: bug fix

#2584 Unify Database Report Actions
  core/web-assets/src/main/assets/js/apps/onms-reports/details.html
  core/web-assets/src/main/assets/js/apps/onms-reports/index.js
  core/web-assets/src/main/assets/js/apps/onms-reports/templates.html
  core/web-assets/src/main/assets/style/opennms-theme.scss
  features/reporting/jasper-reports/src/main/java/org/opennms/reporting/jasperreports/svclayer/JasperReportService.java
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/ReportRestService.java
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/internal/ReportRestServiceImpl.java
  opennms-base-assembly/src/main/filtered/etc/availability-reports.xml
Labels: enhancement, proposal, refactoring

#2583 NMS-12164: Fix minion label handling
  core/web-assets/src/main/assets/js/apps/onms-elementList/templates/angular-onms-elementList-editListInPlace.html
Labels: bug fix

#2590 NMS-12164: Actually fix minion label issue
  core/web-assets/src/main/assets/js/apps/onms-elementList/lib/elementList.js
  core/web-assets/src/main/assets/js/apps/onms-elementList/templates/angular-onms-elementList-editListInPlace.html
Labels: bug fix, revert

#2597 NMS-12171: Fixed client-side NPE in node-map
  features/vaadin-node-maps/src/main/java/org/opennms/features/vaadin/nodemaps/internal/gwt/client/event/NodeMarkerClusterCallback.java
  smoke-test/src/test/java/org/opennms/smoketest/NodeMapIT.java
Labels: bug fix

#2587 NMS-12105: Changed AS to type long
  features/flows/api/src/main/java/org/opennms/netmgt/flows/api/Flow.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/FlowDocument.java
  features/flows/elastic/src/main/resources/netflow-template.json
  features/flows/elastic/src/test/resources/netflow-template-merged.json
  features/telemetry/protocols/netflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/ipfix/IpfixFlow.java
  features/telemetry/protocols/netflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/netflow5/Netflow5Flow.java
  features/telemetry/protocols/netflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/netflow9/Netflow9Flow.java
  features/telemetry/protocols/netflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/ipfix/SrcDstAsTestIpFix.java
  features/telemetry/protocols/netflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/netflow5/SrcDstAsTestV5.java
  features/telemetry/protocols/netflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/netflow9/SrcDstAsTestV9.java
  features/telemetry/protocols/sflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/adapter/SFlow.java
  features/telemetry/protocols/sflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/sflow/adapter/SrcDstAsTestSFLow.java
  features/telemetry/protocols/sflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/BsonDocumentTest.java
Labels: bug fix

#2588 NMS-12172: Fix default kafka consumer properties for Kafka RPC
  core/ipc/rpc/kafka/src/main/java/org/opennms/core/ipc/rpc/kafka/KafkaRpcClientFactory.java
  core/ipc/rpc/kafka/src/main/java/org/opennms/core/ipc/rpc/kafka/KafkaRpcServerManager.java
Labels: bug fix

#2600 NMS-12154: Provide a Schedule Editor to more easily create scheduled reports
  core/web-assets/src/main/assets/js/apps/onms-reports/details.html
  core/web-assets/src/main/assets/js/apps/onms-reports/index.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/index.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/ClockMode.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/ContextError.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/CronDefintion.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/Intervals.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/Range.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/ScheduleOptions.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/Time.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/Types.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/WeekdayOptions.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/Weekdays.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/parsers/CustomParser.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/parsers/DailyParser.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/scripts/parsers/DayOfMonthParser.js
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/templates/interval-input.tpl.html
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/templates/schedule-editor.tpl.html
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/templates/time-input.tpl.html
  core/web-assets/src/test/javascript/onms-schedule-editor/CronDefinition.test.js
  core/web-assets/src/test/javascript/onms-schedule-editor/Intervals.test.js
  core/web-assets/src/test/javascript/onms-schedule-editor/ScheduleOptions.test.js
  core/web-assets/src/test/javascript/onms-schedule-editor/Time.test.js
  core/web-assets/src/test/javascript/onms-schedule-editor/WeekdayOptions.test.js
  core/web-assets/src/test/javascript/onms-schedule-editor/parsers/DailyParser.test.js
Labels: enhancement

#2603 NMS-10657: Added %primaryinterface% to events
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/AbstractEventUtil.java
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/EventUtil.java
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/EventUtilDaoImpl.java
  features/events/daemon/src/main/java/org/opennms/netmgt/eventd/StandardExpandableParameterResolvers.java
  features/events/daemon/src/test/java/org/opennms/netmgt/eventd/EventUtilHibernateIT.java
  opennms-doc/guide-admin/src/asciidoc/text/events/event-configuration.adoc
  opennms-services/src/test/java/org/opennms/netmgt/mock/EventUtilJdbcImpl.java
Labels: enhancement

#2602 NMS-12166: Hide Vaadin Apps headers inside iFrames
  features/topology-map/org.opennms.features.topology.api/src/main/java/org/opennms/features/topology/api/HeaderUtil.java
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/TopologyUI.java
  features/vaadin-dashlets/dashlet-map/src/main/java/org/opennms/features/vaadin/dashboard/dashlets/MapDashlet.java
  features/vaadin-dashlets/dashlet-topology/src/main/java/org/opennms/features/vaadin/dashboard/dashlets/TopologyDashlet.java
  features/vaadin-node-maps/src/main/java/org/opennms/features/vaadin/nodemaps/internal/NodeMapsApplication.java
  smoke-test/src/test/java/org/opennms/smoketest/opsboard/OpsBoardAdminPageIT.java
Labels: bug fix
