Repository OpenNMS/opennms, pull requests merged in 2019-05, with the labels that each got.

#2471 NMS-10671: Default load threshold contains calculation error
  opennms-base-assembly/src/main/filtered/etc/thresholds.xml
Labels: bug fix

#2472 HZN-1540: Added option to search for nodes with or without flow data
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/NodeListCommand.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultNodeListService.java
  opennms-webapp/src/main/webapp/element/index.jsp
  smoke-test/src/test/java/org/opennms/smoketest/NodeListPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/SearchPageIT.java
Labels: enhancement

#2489 HZN-1539: Indicators for nodes with flow data
  core/web-assets/src/main/assets/js/apps/onms-interfaces/templates/template.main.html
  core/web-assets/src/main/assets/js/apps/onms-resources/index.js
  core/web-assets/src/main/assets/style/opennms-theme.scss
  core/web-assets/src/test/javascript/onms-resources.test.js
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/InterfaceSnmpResourceType.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsIpInterface.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/element/nodeList.jsp
  opennms-webapp/src/main/webapp/WEB-INF/tags/element/nodelist.tag
  opennms-webapp/src/main/webapp/element/node.jsp
  opennms-webapp/src/main/webapp/graph/chooseresource.jsp
Labels: enhancement

#2492 NMS-10675: Fix missing isModified indicator
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/requisition.html
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/requisitions.html
Labels: bug fix

#2494 Changes to compile under Java 9
  features/minion/repository/pom.xml
  integrations/opennms-vmware/pom.xml
Labels: enhancement

#2493 NMS-10679: Fix exception detection
  opennms-webapp/src/main/webapp/errors/elementnotfound.jsp
  smoke-test/src/test/java/org/opennms/smoketest/NodeDetailPageIT.java
Labels: bug fix

#2491 HZN-1470: Provide Graph ReST Service
  container/features/src/main/resources/features.xml
  features/graph/provider/graphml/src/main/java/org/opennms/netmgt/graph/provider/graphml/GraphmlGraphContainerProvider.java
  features/graph/rest/pom.xml
  features/graph/rest/src/main/java/org/opennms/netmgt/graph/rest/api/GraphRestService.java
  features/graph/rest/src/main/java/org/opennms/netmgt/graph/rest/impl/GraphRestServiceImpl.java
  features/graph/rest/src/main/java/org/opennms/netmgt/graph/rest/impl/renderer/GraphRenderer.java
  features/graph/rest/src/main/java/org/opennms/netmgt/graph/rest/impl/renderer/JsonGraphRenderer.java
  features/graph/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-full-assembly/pom.xml
  smoke-test/src/main/java/org/opennms/smoketest/utils/RestClient.java
  smoke-test/src/test/java/org/opennms/smoketest/graph/GraphProviderIT.java
  smoke-test/src/test/java/org/opennms/smoketest/graph/GraphRestServiceIT.java
  smoke-test/src/test/java/org/opennms/smoketest/topo/GraphMLTopologyIT.java
  smoke-test/src/test/resources/topology/graphml/test-topology.xml
Labels: enhancement

#2497 NMS-10667: Fix health:check getting stuck
  core/health/api/src/main/java/org/opennms/core/health/api/Health.java
  core/health/impl/pom.xml
  core/health/impl/src/main/java/org/opennms/core/health/impl/DefaultHealthCheckService.java
  core/health/impl/src/test/java/org/opennms/core/health/impl/DefaultHealthCheckServiceTest.java
Labels: bug fix

#2508 NMS-10679: Fix exception detection
  opennms-webapp/src/main/webapp/errors/elementnotfound.jsp
  smoke-test/src/test/java/org/opennms/smoketest/NodeDetailPageIT.java
Labels: backport, bug fix

#2507 NMS-10668: Fix vaadin-shared bundle causing issues when starting vaadin
  container/features/src/main/resources/features.xml
  features/vaadin/pom.xml
  features/vaadin/src/main/resources/features.xml
Labels: bug fix

#2490 NMS-10670: Table in "Manage Minions" page fails to load
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/AbstractDaoRestServiceWithDTO.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MinionRestServiceIT.java
Labels: bug fix, triage

#2408 NMS-10624: Upgrade kafka components to 2.2.0
  container/features/src/main/resources/features.xml
  core/ipc/common/kafka/pom.xml
  core/ipc/sink/kafka/server/src/main/java/org/opennms/core/ipc/sink/kafka/server/offset/KafkaOffsetProvider.java
  core/test-api/kafka/pom.xml
  features/kafka/producer/pom.xml
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/datasync/KafkaAlarmDataSync.java
  pom.xml
  smoke-test/pom.xml
Labels: contribution, enhancement

#2512 NMS-10690: Fix maven pom warnings
  features/flows/elastic/pom.xml
  features/jest/jest-complete-osgi/pom.xml
  features/opennms-es-rest/pom.xml
  features/vaadin-components/widgetset/pom.xml
  opennms-base-assembly/pom.xml
Labels: cleanup, contribution

#2509 HZN-1520: Remove unused dependency net.simon04.jelementtree:jelementtree
  opennms-base-assembly/pom.xml
Labels: cleanup, contribution

#2510 NMS-10701: make sure all Jetty code is using 9.4.18
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/JettyUserIdentityFilter.java
  pom.xml
Labels: bug fix

#2514 NMS-10707: Sanitize strings in a couple of additional places.
  opennms-webapp/src/main/java/org/opennms/web/controller/outage/OutageDetailController.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/outage/detail.jsp
  opennms-webapp/src/main/webapp/notification/detail.jsp
Labels: bug fix

#2498 NMS-10688: Clarify Java installation
  opennms-doc/guide-install/src/asciidoc/index.adoc
  opennms-doc/guide-install/src/asciidoc/text/basic-setup-opennms/setting-up-opennms.adoc
  opennms-doc/guide-install/src/asciidoc/text/java-environment.adoc
Labels: docs, review

#2506 NMS-10698: attempt to be more forgiving in timing of requisition tests
  smoke-test/src/test/java/org/opennms/smoketest/EditInRequisitionIT.java
Labels: enhancement, proposal

#2518 Update PR Template
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
Labels: proposal

#2500 HZN-1566: Enforce VertexRef to be immutable
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/Vertex.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/VertexRef.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/focus/FocusStrategy.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericEdge.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericGraph.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericVertex.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericVertexRef.java
  features/graph/api/src/test/java/org/opennms/netmgt/graph/api/generic/GenericEdgeTest.java
  features/graph/provider/bsm/src/main/java/org/opennms/netmgt/graph/provider/bsm/BusinessServiceEdge.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/persistence/mapper/EntityToGenericMapper.java
  features/graph/simple/src/main/java/org/opennms/netmgt/graph/simple/SimpleEdge.java
  features/graph/simple/src/main/java/org/opennms/netmgt/graph/simple/SimpleVertex.java
Labels: enhancement, graph-service, refactoring

#2519 HZN-1577: Update the flow indicators to link to the deep dive tool
  core/web-assets/src/main/assets/js/apps/onms-interfaces/onms-interfaces-app/index.js
  core/web-assets/src/main/assets/js/apps/onms-interfaces/templates/template.main.html
  core/web-assets/src/main/assets/js/apps/onms-resources/index.js
  features/flows/rest/impl/src/main/java/org/opennms/netmgt/flows/rest/internal/FlowRestServiceImpl.java
  features/flows/rest/impl/src/test/java/org/opennms/netmgt/flows/rest/internal/FlowRestServiceTest.java
  opennms-webapp/src/main/webapp/graph/chooseresource.jsp
Labels: enhancement

#2487 NMS-10281: We have a regression in the SNMP core API for get effective address (snmp-proxy)
  core/snmp/integration-tests/src/test/java/org/opennms/netmgt/snmp/SnmpProxyIT.java
  core/snmp/integration-tests/src/test/resources/org/opennms/netmgt/snmp/SnmpProxyIT.xml
  core/snmp/integration-tests/src/test/resources/org/opennms/netmgt/snmp/snmpTestData1.properties
  opennms-config-jaxb/src/main/resources/xsds/snmp-config.xsd
Labels: bug fix

#2488 HZN-1556: Use intermediate base images
  .circleci/config.yml
  .gitignore
  opennms-container/fetch-build-rpms.sh
  opennms-container/horizon/Dockerfile
  opennms-container/horizon/assets/entrypoint.sh
  opennms-container/horizon/build_container_image.sh
  opennms-container/horizon/config.sh
  opennms-container/horizon/fetch-rpms.sh
  opennms-container/horizon/publish.sh
  opennms-container/horizon/tag.sh
  opennms-container/horizon/version-tags.sh
  opennms-container/minion/Dockerfile
  opennms-container/minion/build_container_image.sh
  opennms-container/minion/config.sh
  opennms-container/minion/fetch-rpms.sh
  opennms-container/minion/publish.sh
  opennms-container/minion/tag.sh
  opennms-container/minion/version-tags.sh
  opennms-container/registry-config.sh
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/build_container_image.sh
  opennms-container/sentinel/config.sh
  opennms-container/sentinel/fetch-rpms.sh
  opennms-container/sentinel/publish.sh
  opennms-container/sentinel/tag.sh
  opennms-container/sentinel/version-tags.sh
Labels: review, waiting for feedback

#2528 NMS-10718: use org.asteriskjava:asterisk-java from maven-central
  dependencies/asterisk/pom.xml
Labels: cleanup

#2527 NMS-10717: use sevntu-checkstyle-maven-plugin from maven-central
  pom.xml
Labels: cleanup

#2526 NMS-10716: Introduce rancidApiVersion property
  container/features/src/main/resources/features.xml
  dependencies/rancid/pom.xml
  pom.xml
Labels: cleanup

#2525 HZN-1582: Increase logging clarity for flow processing
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
Labels: bug fix
