Repository OpenNMS/opennms, pull requests merged in 2019-03, with the labels that each got.

#2379 NMS-10601: Fix @PreserveOnRefresh for Vaadin UIs
  opennms-webapp/src/main/webapp/admin/bsm/adminpage.jsp
  opennms-webapp/src/main/webapp/admin/jmxConfigGenerator.jsp
  opennms-webapp/src/main/webapp/admin/manageEvents.jsp
  opennms-webapp/src/main/webapp/admin/manageSnmpCollections.jsp
  opennms-webapp/src/main/webapp/admin/mibCompiler.jsp
  opennms-webapp/src/main/webapp/admin/surveillanceViewsConfig.jsp
  opennms-webapp/src/main/webapp/admin/wallboardConfig.jsp
  opennms-webapp/src/main/webapp/includes/bootstrap.jsp
  opennms-webapp/src/main/webapp/surveillance-box.jsp
  opennms-webapp/src/main/webapp/surveillance-view.jsp
Labels: bug fix

#2377 NMS-10589: Handle fetch result conversion more efficiently when filters are in use.
  features/measurements/api/src/main/java/org/opennms/netmgt/measurements/api/FetchResults.java
  features/measurements/impl/src/test/java/org/opennms/netmgt/measurements/filters/impl/PercentilePerfTest.java
Labels: bug fix

#2385 HZN-1487: Added property to configure maximum number of interfaces
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-webapp/src/main/webapp/element/node.jsp
  smoke-test/src/test/java/org/opennms/smoketest/NodeDetailPageIT.java
Labels: configuration, enhancement

#2392 NMS-10608: Bootstrap 4 cleanup
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/group.html
  core/web-assets/src/main/assets/style/opennms-theme.scss
  opennms-webapp/src/main/webapp/WEB-INF/jsp/KSC/customGraphEditDetails.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/detail.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/index.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/dashboards.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/index.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/graph/results.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/maps.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/outage/servicesdown-box.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/report/database/index.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jspf/relativetimeform.jspf
  opennms-webapp/src/main/webapp/WEB-INF/tags/element/nodelist.tag
  opennms-webapp/src/main/webapp/account/selfService/index.jsp
  opennms-webapp/src/main/webapp/admin/discovery/index.jsp
  opennms-webapp/src/main/webapp/admin/index.jsp
  opennms-webapp/src/main/webapp/asset/index.jsp
  opennms-webapp/src/main/webapp/element/node.jsp
  opennms-webapp/src/main/webapp/images/AlarmMemos/JournalMemo.png
  opennms-webapp/src/main/webapp/images/AlarmMemos/StickyMemo.png
  opennms-webapp/src/main/webapp/includes/notification-box.jsp
Labels: bug fix

#2402 NMS-10621: Fix infinite request/response loop in SNMP tracking
  core/snmp/api/src/main/java/org/opennms/netmgt/snmp/ColumnTracker.java
  core/snmp/api/src/main/java/org/opennms/netmgt/snmp/SnmpObjId.java
  core/snmp/api/src/test/java/org/opennms/netmgt/snmp/SnmpObjIdTest.java
  core/snmp/integration-tests/src/test/java/org/opennms/netmgt/snmp/snmp4j/PhysInterfaceTableTracker.java
  core/snmp/integration-tests/src/test/java/org/opennms/netmgt/snmp/snmp4j/TrackerSuccessorIT.java
Labels: bug fix

#2399 HZN-1478: Upgrade Apache CXF to 3.2.8
  container/features/src/main/resources/features.xml
  features/minion/repository/pom.xml
  features/ticketing/otrs-integration-31/pom.xml
  features/ticketing/tsrm-integration/pom.xml
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventRestService.java
  pom.xml
Labels: enhancement

#2401 HZN-1499: Added "ON DELETE CASCADE" to metadata liquibase changelog
  core/schema/src/main/liquibase/24.0.0/changelog.xml
Labels: bug fix

#2406 NMS-10623: Fix class on selection for KSC reports
  opennms-webapp/src/main/webapp/KSC/customGraphChooseResource.jsp
Labels: bug fix

#2407 NMS-10569: Address table column spreading and spacing/orientation related issues
  core/web-assets/src/main/assets/js/apps/angular-status/views/applications.html
  core/web-assets/src/main/assets/js/apps/angular-status/views/business-services.html
  core/web-assets/src/main/assets/js/apps/angular-status/views/nodes.html
  core/web-assets/src/main/assets/js/apps/onms-classifications/index.js
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/config.html
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/group.html
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/modals/import-modal.html
  core/web-assets/src/main/assets/js/apps/onms-elementList/minion-elementList/main.html
  core/web-assets/src/main/assets/js/apps/onms-elementList/monitoringLocation-elementList/main.html
  core/web-assets/src/main/assets/js/apps/onms-elementList/scanreport-elementList/main.html
  core/web-assets/src/main/assets/js/lib/onms-pagination/pagination-toolbar.html
  opennms-webapp/src/main/webapp/KSC/index.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/KSC/customGraphEditDetails.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/KSC/customReport.jsp
  opennms-webapp/src/main/webapp/admin/discovery/edit-config.jsp
  opennms-webapp/src/main/webapp/admin/discovery/edit-scan.jsp
  opennms-webapp/src/main/webapp/notification/detail.jsp
  opennms-webapp/src/main/webapp/roles/list.jsp
  opennms-webapp/src/main/webapp/roles/view.jsp
Labels: bug fix

#2410 HZN-1478: Upgrade CXF to 3.2.x or greater
  container/features/src/main/resources/features.xml
  features/minion/repository/pom.xml
  features/ticketing/otrs-integration-31/pom.xml
  features/ticketing/tsrm-integration/pom.xml
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/EventRestService.java
  pom.xml
Labels: enhancement

#2398 NMS-8444: Search in logMessage and description in events/alarms
  opennms-webapp/src/main/java/org/opennms/web/alarm/AlarmQueryServlet.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/AlarmUtil.java
  opennms-webapp/src/main/java/org/opennms/web/alarm/filter/AlarmTextFilter.java
  opennms-webapp/src/main/java/org/opennms/web/event/EventQueryServlet.java
  opennms-webapp/src/main/java/org/opennms/web/event/EventUtil.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/EventTextFilter.java
  opennms-webapp/src/main/webapp/includes/alarm-advquerypanel.jsp
  opennms-webapp/src/main/webapp/includes/alarm-querypanel.jsp
  opennms-webapp/src/main/webapp/includes/event-advquerypanel.jsp
  opennms-webapp/src/main/webapp/includes/event-querypanel.jsp
  smoke-test/src/test/java/org/opennms/smoketest/AlarmsPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/EventsPageIT.java
Labels: enhancement
