Repository OpenNMS/opennms, pull requests merged in 2019-10, with the labels that each got.

#2745 NMS-12320: core/web-assets dependency rollup
  core/web-assets/.eslintrc.js
  core/web-assets/package.json
  core/web-assets/src/main/assets/js/apps/geomap-js/index.js
  core/web-assets/src/main/assets/js/apps/onms-date-formatter/index.js
  core/web-assets/src/main/assets/js/apps/onms-reports/index.js
  core/web-assets/src/main/assets/js/lib/onms-datetimepicker/index.js
  core/web-assets/src/main/assets/js/vaadin/icon-selection-component_connector.js
  core/web-assets/src/main/assets/modules/lib/loader/index.ts
  core/web-assets/yarn.lock
  pom.xml
Labels: dependency update

#2742 NMS-12311, NMS-12312: Fix Minion and Sentinel non-root environment
  opennms-container/horizon/Dockerfile
  opennms-container/minion/Dockerfile
  opennms-container/minion/assets/entrypoint.sh
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/assets/entrypoint.sh
Labels: bug fix

#2747 NMS-12321: Fix styling for availability columns
  opennms-webapp/src/main/webapp/includes/interfaceAvailability-box.jsp
  opennms-webapp/src/main/webapp/includes/serviceAvailability-box.jsp
Labels: bug fix

#2749 NMS-12321: Fix styling for availability columns (M2015-M2018)
  opennms-webapp/src/main/webapp/includes/interfaceAvailability-box.jsp
  opennms-webapp/src/main/webapp/includes/serviceAvailability-box.jsp
Labels: backport, bug fix

#2750 NMS-12273: Add missing meta-data panel to vertical layout
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/node-panels.html
Labels: bug fix

#2456 NMS-10564: Logmsg formatting for SNMP trap event definitions
  opennms-base-assembly/src/main/filtered/etc/events/opennms.snmp.trap.translator.events.xml
Labels: pending-review

#2748 NMS-12263: Make CLDR the default locale handler, use ISO-8601 for Event Date/Time
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventConstants.java
  features/reporting/availability/src/test/java/org/opennms/reporting/availability/CalendarTableBuilderTest.java
  opennms-base-assembly/src/main/filtered/bin/opennms
  opennms-base-assembly/src/main/filtered/bin/send-event.pl
  opennms-base-assembly/src/main/resources/contrib/send-event.py
  opennms-container/horizon/container-fs/entrypoint.sh
  opennms-dao/src/test/java/org/opennms/netmgt/dao/jaxb/JaxbUtilsTest.java
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew.adoc
  opennms-model/src/test/java/org/opennms/netmgt/model/events/DateFormatLocaleTest.java
  opennms-model/src/test/java/org/opennms/netmgt/model/events/EventConstantsTest.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/ThresholdIT.java
  pom.xml
  runtests.sh
Labels: breaking change

#2737 NMS-9322: Trigger BSM reload on deletion of nodes/interfaces/services
  features/bsm/daemon/src/main/java/org/opennms/netmgt/bsm/daemon/Bsmd.java
  features/bsm/daemon/src/test/java/org/opennms/netmgt/bsm/daemon/BsmdIT.java
  features/bsm/persistence/api/src/main/java/org/opennms/netmgt/bsm/persistence/api/BusinessServiceEntity.java
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventConstants.java
  opennms-base-assembly/src/main/filtered/etc/events/opennms.internal.events.xml
  opennms-model/src/main/java/org/opennms/netmgt/model/events/EventUtils.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultAdminApplicationService.java
Labels: bug fix, configuration

#2746 NMS-10578: Update severity for BSM alarms
  opennms-base-assembly/src/main/filtered/etc/events/opennms.bsm.events.xml
  smoke-test/src/test/java/org/opennms/smoketest/bsm/BsmEventsIT.java
Labels: bug fix

#2764 NMS-12342: Fix email reg exp issue
  core/web-assets/src/main/assets/js/apps/onms-reports/index.js
  smoke-test/src/test/java/org/opennms/smoketest/DatabaseReportPageIT.java
Labels: bug fix

#2763 NMS-12337: Allow downloading of reports generated by Reportd in new UI
  core/web-assets/src/main/assets/js/apps/onms-reports/persisted.html
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/internal/ReportRestServiceImpl.java
  features/reporting/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Labels: bug fix

#2739 NMS-10582: fix problem with not writable map
  features/enlinkd/adapters/collectors/bridge/src/main/java/org/opennms/netmgt/enlinkd/NodeDiscoveryBridge.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/Nms4930EnIT.java
Labels: bug fix

#2762 NMS-10184: clear BSM alarm for deleted business service
  features/bsm/service/impl/src/main/java/org/opennms/netmgt/bsm/service/internal/BusinessServiceManagerImpl.java
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventConstants.java
  opennms-base-assembly/src/main/filtered/etc/events/opennms.bsm.events.xml
  smoke-test/src/test/java/org/opennms/smoketest/bsm/BsmEventsIT.java
Labels: bug fix

#2760 NMS-12302: Reset state on change
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.bsm/src/main/java/org/opennms/features/topology/plugins/topo/bsm/info/SimulationModeReductionKeyInfoPanelItemProvider.java
Labels: bug fix

#2775 NMS-12354: Set a fixed dependency for OpenJDK 11 to a fixed build art…
  opennms-container/horizon/Dockerfile
  opennms-container/horizon/build_container_image.sh
  opennms-container/minion/Dockerfile
  opennms-container/minion/build_container_image.sh
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/build_container_image.sh
Labels: waiting on bamboo

#2772 NMS-10346: default event description is incorrect
  core/test-api/services/src/main/resources/minimal-eventconf.xml
  opennms-base-assembly/src/main/resources/contrib/qosdaemon/qos_example_configuration/opennms_fault_config/eventconf.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/eventconf-speedtest/eventconf.xml
  opennms-config/src/test/resources/org/opennms/netmgt/config/eventd/eventconf-wildcard/eventconf.xml
  opennms-dao-mock/src/main/resources/minimal-eventconf.xml
  opennms-services/src/test/resources/org/opennms/netmgt/mock/eventconf.xml
Labels: bug fix, docs

#2754 NMS-12288: Create events for invalidated BSM graphs
  features/bsm/daemon/src/main/java/org/opennms/netmgt/bsm/daemon/Bsmd.java
  features/bsm/daemon/src/test/java/org/opennms/netmgt/bsm/daemon/BsmdIT.java
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventConstants.java
  opennms-base-assembly/src/main/filtered/etc/events/opennms.bsm.events.xml
Labels: enhancement

#2766 NMS-12153: Provide webhook delivery option for database reports
  .circleci/config.yml
  core/web-assets/src/main/assets/js/apps/onms-reports/report-details.html
  core/web-assets/src/main/assets/js/apps/onms-reports/schedules.html
  features/reporting/core/pom.xml
  features/reporting/core/src/main/java/org/opennms/reporting/core/DeliveryOptions.java
  features/reporting/core/src/main/java/org/opennms/reporting/core/svclayer/support/DefaultReportWrapperService.java
  features/reporting/core/src/test/java/org/opennms/reporting/core/svclayer/support/DefaultReportWrapperServiceTest.java
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/internal/ReportRestServiceImpl.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultSchedulerService.java
  opennms-webapp/src/test/java/org/opennms/web/svclayer/support/DefaultSchedulerServiceIT.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/WebhookEndpointContainer.java
  smoke-test/src/test/java/org/opennms/smoketest/DatabaseReportPageIT.java
Labels: enhancement

#2774 NMS-12352: Fix R installation for CentOS 8
  opennms-doc/guide-install/src/asciidoc/text/r-statistical-computing.adoc
Labels: docs

#2776 NMS-12353: Use CentOS 8 as base image for container images
  .circleci/config.yml
  opennms-container/horizon/Dockerfile
  opennms-container/horizon/build_container_image.sh
  opennms-container/minion/Dockerfile
  opennms-container/minion/build_container_image.sh
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/build_container_image.sh
Labels: waiting on bamboo

#2765 NMS-9684: Introduce version compatibility list for Horizon 25.1.0
  opennms-doc/guide-install/src/asciidoc/index.adoc
  opennms-doc/guide-install/src/asciidoc/text/compatibility.adoc
Labels: docs

#2777 NMS-9827: Event parameters no longer preserve ordering attributes: solution 2: JPA annotations via attributes
  core/schema/src/main/liquibase/25.0.0/changelog.xml
  core/upgrade/src/main/java/org/opennms/upgrade/implementations/EventParameterMigratorOffline.java
  features/events/api/src/main/java/org/opennms/netmgt/events/api/EventParameterUtils.java
  features/events/api/src/test/java/org/opennms/netmgt/events/api/EventParameterUtilsTest.java
  opennms-base-assembly/src/main/filtered/bin/send-event.pl
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsEvent.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsEventParameter.java
  opennms-model/src/test/java/org/opennms/netmgt/model/OnmsEventTest.java
Labels: bug fix, refactoring

#2557 NMS-11979: Implement Default Focus
  core/schema/src/main/liquibase/26.0.0/changelog.xml
  features/graph/api/pom.xml
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/ImmutableGraph.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/focus/Focus.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/focus/FocusStrategy.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericGraph.java
  features/graph/api/src/test/java/org/opennms/netmgt/graph/api/focus/FocusStrategyTest.java
  features/graph/api/src/test/java/org/opennms/netmgt/graph/api/focus/FocusTest.java
  features/graph/api/src/test/java/org/opennms/netmgt/graph/api/generic/TestObjectCreator.java
  features/graph/dao/api/src/main/java/org/opennms/netmgt/topology/EdgeEntity.java
  features/graph/dao/api/src/main/java/org/opennms/netmgt/topology/FocusEntity.java
  features/graph/dao/api/src/main/java/org/opennms/netmgt/topology/GraphEntity.java
  features/graph/dao/impl/pom.xml
  features/graph/dao/impl/src/test/java/org/opennms/netmgt/graph/dao/hibernate/GraphContainerDaoIT.java
  features/graph/provider/bsm/src/main/java/org/opennms/netmgt/graph/provider/bsm/BusinessServiceGraphProvider.java
  features/graph/provider/graphml/src/main/java/org/opennms/netmgt/graph/provider/graphml/GraphmlGraphContainerProvider.java
  features/graph/rest/src/main/java/org/opennms/netmgt/graph/rest/impl/renderer/JsonGraphRenderer.java
  features/graph/service/pom.xml
  features/graph/service/src/main/java/org/opennms/netmgt/graph/persistence/DefaultGraphRepository.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/persistence/converter/ConverterService.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/persistence/mapper/EntityToGenericMapper.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/persistence/mapper/GenericToEntityMapper.java
  features/graph/service/src/test/java/org/opennms/netmgt/graph/persistence/DefaultGraphRepositoryIT.java
  features/graph/simple/src/main/java/org/opennms/netmgt/graph/simple/AbstractDomainGraph.java
  features/graph/updates/src/main/java/org/opennms/netmgt/graph/updates/change/ChangeSet.java
  features/graph/updates/src/main/java/org/opennms/netmgt/graph/updates/listener/GraphChangeListener.java
  features/graph/updates/src/test/java/org/opennms/netmgt/graph/updates/change/ChangeSetTest.java
  features/graph/updates/src/test/java/org/opennms/netmgt/graph/updates/change/ContainerChangeSetTest.java
  opennms-base-assembly/src/main/filtered/etc/create.sql
  smoke-test/src/test/java/org/opennms/smoketest/graph/GraphRestServiceIT.java
Labels: enhancement, graph-service
