Repository OpenNMS/opennms, pull requests merged in 2019-11, with the labels that each got.

#2780 NMS-12360 - Fix requisition cache when accessing the Requisitions UI via "Edit in Requisition"
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/services/Requisitions.js
  core/web-assets/src/test/javascript/ng-requisitions/services/Requisitions.test.js
Labels: bug fix

#2798 NMS-10396: Config tester doesn't detect missing xml datacollection file
  opennms-config-tester/pom.xml
  opennms-config-tester/src/main/java/org/opennms/netmgt/config/tester/ConfigTester.java
  opennms-config-tester/src/main/resources/META-INF/opennms/applicationContext-configTester.xml
  opennms-config-tester/src/test/java/org/opennms/netmgt/config/tester/ConfigTesterTest.java
Labels: enhancement

#2700 NMS-12120: Add health wrapper for health:check
  opennms-container/minion/Dockerfile
  opennms-container/minion/assets/health.sh
  opennms-container/sentinel/Dockerfile
  opennms-container/sentinel/assets/health.sh
Labels: bug fix, review

#2811 NMS-12365: Fixed WS-MAN poller and test
  features/wsman/src/main/java/org/opennms/netmgt/poller/monitors/WsManMonitor.java
  features/wsman/src/test/java/org/opennms/netmgt/poller/monitors/WSManMonitorTest.java
Labels: bug fix

#2808 NMS-12367: Upgrade Drools to 7.29.0 to fix upstream bug (f18)
  container/features/src/main/resources/features.xml
  dependencies/drools/pom.xml
  features/kafka/producer/pom.xml
  features/telemetry/adapters/jti/pom.xml
  opennms-alarms/drools-northbounder/src/test/java/org/opennms/netmgt/alarmd/northbounder/drools/DroolsNorthbounderIT.java
  opennms-base-assembly/src/main/filtered/etc/examples/drools-engine.d/nodeParentRules/NodeParentRules.drl
  opennms-correlation/drools-correlation-engine/src/test/java/org/opennms/netmgt/correlation/drools/DroolsCorrelationEngineBuilderIT.java
  opennms-correlation/drools-correlation-engine/src/test/java/org/opennms/netmgt/correlation/drools/FromModifyTest.java
  opennms-correlation/drools-correlation-engine/src/test/opennms-home/etc/drools-engine.d/fromWithModifyRules/FromWithModifyRules.drl
  opennms-correlation/drools-correlation-engine/src/test/opennms-home/etc/drools-engine.d/fromWithModifyRules/drools-engine.xml
  opennms-correlation/drools-correlation-engine/src/test/opennms-home/etc/drools-engine.d/fromWithModifyRules/fromWithModifyRules-context.xml
  opennms-correlation/drools-correlation-engine/src/test/opennms-home/etc/drools-engine.d/nodeParentRules/NodeParentRules.drl
  opennms-rrd/opennms-rrd-tcp/src/test/java/org/opennms/netmgt/rrd/tcp/PerformanceDataProtobufTest.java
  opennms-rrd/opennms-rrd-tcp/src/test/resources/rrd-perf.dat
  pom.xml
Labels: bug fix, dependency update

#2814 NMS-12392: Fix send-event.pl with time zone support
  opennms-base-assembly/src/main/filtered/bin/send-event.pl
Labels: incomplete

#2812 NMS-12393: Add HTTP header injection in HTTP Monitors
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/HttpPostMonitor.java
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/PageSequenceMonitor.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/HttpPostMonitorTest.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/PageSequenceMonitorIT.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/pagesequence/Header.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/pagesequence/Page.java
  opennms-config-jaxb/src/main/resources/xsds/page-sequence.xsd
  opennms-config-jaxb/src/test/java/org/opennms/netmgt/config/pagesequence/PageSequenceTest.java
  opennms-config-jaxb/src/test/resources/org/opennms/netmgt/config/pagesequence/page-sequence.xml
  opennms-doc/guide-admin/src/asciidoc/images/service-assurance/monitors/03_page-sequence-monitor-config.png
  opennms-doc/guide-admin/src/asciidoc/images_src/service-assurance/monitors/03_page-sequence-monitor-config.graphml
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/HttpPostMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/PageSequenceMonitor.adoc
Labels: docs, enhancement

#2805 NMS-12387: Bump OpenJDKs to 11.0.5.10
  opennms-container/horizon/build_container_image.sh
  opennms-container/minion/build_container_image.sh
  opennms-container/sentinel/build_container_image.sh
Labels: dependency update, review me

#2818 NMS-12379: Use absolute URL instead of partial URL
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/list.jsp
Labels: bug fix

#2831 NMS-12412: Fix a number of problems with Drools in alarmd
  core/test-api/alarms/src/main/java/org/opennms/core/test/alarms/driver/AlarmdDriver.java
  core/test-api/alarms/src/main/java/org/opennms/core/test/alarms/driver/Scenario.java
  opennms-alarms/daemon/pom.xml
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/AlarmLifecycleListenerManager.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/AlarmPersisterImpl.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/AlarmService.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/DefaultAlarmService.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/DroolsAlarmContext.java
  opennms-alarms/daemon/src/main/java/org/opennms/netmgt/alarmd/drools/ManagedDroolsContext.java
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/AlarmLifecycleListenerManagerIT.java
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/AlarmLifecycleListenerManagerSnapshotTest.java
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/AlarmdIT.java
  opennms-alarms/daemon/src/test/java/org/opennms/netmgt/alarmd/drools/DroolsAlarmContextIT.java
  opennms-alarms/integration-tests/src/test/java/org/opennms/netmgt/alarmd/itests/AlarmdBlackboxIT.java
  opennms-base-assembly/src/main/filtered/etc/alarmd/drools-rules.d/alarmd.drl
  opennms-base-assembly/src/main/filtered/etc/jmx-datacollection-config.xml
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsAlarm.java
Labels: bug fix

#2828 NMS-12408: Implement GraphNotificationService
  container/features/src/main/resources/features.xml
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericGraph.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/updates/ChangeSet.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/updates/ContainerChangeSet.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/updates/GraphNotificationService.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/updates/listener/GraphChangeListener.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/updates/listener/GraphChangeSetListener.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/updates/listener/GraphContainerChangeListener.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/updates/listener/GraphContainerChangeSetListener.java
  features/graph/api/src/test/java/org/opennms/netmgt/graph/api/updates/ChangeSetTest.java
  features/graph/api/src/test/java/org/opennms/netmgt/graph/api/updates/ContainerChangeSetTest.java
  features/graph/pom.xml
  features/graph/provider/graphml/pom.xml
  features/graph/service/pom.xml
  features/graph/service/src/main/java/org/opennms/netmgt/graph/persistence/DefaultGraphRepository.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/updates/DefaultGraphNotificationService.java
  features/graph/service/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/graph/updates/pom.xml
Labels: enhancement, graph-service
