Repository OpenNMS/opennms, pull requests merged in 2019-02, with the labels that each got.

#2340 HZN-1471: Add GraphProvider (or SingleGraphContainerProvider) support
  features/bsm/shell-commands/src/main/java/org/opennms/netmgt/bsm/karaf/shell/DeleteGeneratedHierarchiesShellCommand.java
  features/bsm/shell-commands/src/main/java/org/opennms/netmgt/bsm/karaf/shell/GenerateHierarchiesShellCommand.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/service/GraphContainerProvider.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/service/GraphProvider.java
  features/graph/provider/bsm/src/main/java/org/opennms/netmgt/graph/provider/bsm/AbstractBusinessServiceVertex.java
  features/graph/provider/bsm/src/main/java/org/opennms/netmgt/graph/provider/bsm/BusinessServiceGraphProvider.java
  features/graph/provider/bsm/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/graph/service/pom.xml
  features/graph/service/src/main/java/org/opennms/netmgt/graph/service/GraphProviderManager.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/service/SingleGraphContainerProvider.java
  features/graph/service/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  smoke-test/src/test/java/org/opennms/smoketest/graph/GraphProviderIT.java
Labels: enhancement

#2341 HZN-1472: Expose GraphRepository to OSGi registry
  container/features/src/main/resources/features.xml
  features/graph/persistence/hibernate/src/main/java/org/opennms/netmgt/graph/persistence/hibernate/DefaultGraphRepository.java
  features/graph/persistence/hibernate/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/graph/persistence/hibernate/src/test/resources/META-INF/opennms/component-dao.xml
Labels: enhancement

#2234 NMS-8185: Creation of a Daemon Config Page
  core/web-assets/src/main/assets/js/apps/onms-daemons/curl-modal.html
  core/web-assets/src/main/assets/js/apps/onms-daemons/index.html
  core/web-assets/src/main/assets/js/apps/onms-daemons/index.js
  opennms-webapp/src/main/webapp/admin/daemons/index.jsp
  opennms-webapp/src/main/webapp/admin/index.jsp
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/DaemonConfigPageIT.java
Labels: enhancement

#2332 NMS-10496: Update flow classification to support omnidirectional rules
  core/schema/src/main/liquibase/24.0.0/changelog.xml
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/group.html
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/modals/new-rule-modal.html
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationEngine.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/csv/CsvBuilder.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/csv/CsvServiceImpl.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationEngineTest.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/csv/CsvBuilderTest.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/csv/CsvServiceTest.java
  features/flows/classification/persistence/api/src/main/java/org/opennms/netmgt/flows/classification/persistence/api/Rule.java
  features/flows/classification/persistence/api/src/main/java/org/opennms/netmgt/flows/classification/persistence/api/RuleBuilder.java
  features/flows/rest/api/src/main/java/org/opennms/netmgt/flows/rest/classification/RuleDTO.java
  features/flows/rest/api/src/main/java/org/opennms/netmgt/flows/rest/classification/RuleDTOBuilder.java
  features/flows/rest/impl/src/main/java/org/opennms/netmgt/flows/rest/internal/classification/ClassificationRestServiceImpl.java
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-doc/guide-admin/src/asciidoc/text/flows/classification-engine.adoc
  smoke-test/src/test/java/org/opennms/smoketest/flow/ClassificationRestIT.java
Labels: enhancement

#2350 NEWTS-108: Expose connection pooling options
  features/newts/src/main/java/org/opennms/netmgt/newts/support/CassandraPoolConfiguration.java
  features/newts/src/main/resources/META-INF/opennms/applicationContext-newts.xml
  opennms-doc/guide-admin/src/asciidoc/text/operation/newts/configuration.adoc
  pom.xml
Labels: enhancement

#2361 NMS-10549: Fix typo in registerNorthnounders method
  opennms-alarms/bsf-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/bsf/BSFNorthbounderManager.java
  opennms-alarms/drools-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/drools/DroolsNorthbounderManager.java
  opennms-alarms/email-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/email/EmailNorthbounderManager.java
  opennms-alarms/jms-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/jms/JmsNorthbounderManager.java
  opennms-alarms/snmptrap-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/snmptrap/SnmpTrapNorthbounderManager.java
  opennms-alarms/syslog-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/syslog/SyslogNorthbounderManager.java
Labels: bug fix, review

#2365 NMS-10567: Avoid leaking websockets if server is down
  core/web-assets/src/main/assets/js/apps/notifications/index.js
Labels: bug fix

#2371 HZN-1480: Do not print false log message
  features/telemetry/listeners/src/main/java/org/opennms/netmgt/telemetry/listeners/UdpListener.java
Labels: bug fix
