Repository OpenNMS/opennms, pull requests merged in 2019-04, with the labels that each got.

#2415 HZN-1506: Remove Plugin Manager
  container/features/pom.xml
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  features/alarm-change-notifier/feature/pom.xml
  features/alarm-change-notifier/main-module/pom.xml
  features/alarm-change-notifier/pg-jdbc-utils/pom.xml
  features/alarm-change-notifier/pom.xml
  features/alarm-change-notifier/product-descriptor/pom.xml
  features/alarm-change-notifier/product-descriptor/src/main/filtered-resources/productSpec.xml
  features/alarm-change-notifier/product-descriptor/src/main/resources/OSGI-INF/blueprint/productDescriptorBlueprint.xml
  features/internal-plugins-descriptor/README.md
  features/internal-plugins-descriptor/pom.xml
  features/internal-plugins-descriptor/src/main/filtered-resources/productSpec.xml
  features/internal-plugins-descriptor/src/main/resources/OSGI-INF/blueprint/karDescriptorBlueprint.xml
  features/pom.xml
  features/vaadin-opennms-pluginmanager/osgi.bnd
  features/vaadin-opennms-pluginmanager/pom.xml
  features/vaadin-opennms-pluginmanager/src/main/filtered-resources/productSpec.xml
  features/vaadin-opennms-pluginmanager/src/main/java/org/opennms/features/pluginmgr/vaadin/config/opennms/PluginManagerAdminApplication.java
  features/vaadin-opennms-pluginmanager/src/main/java/org/opennms/features/pluginmgr/vaadin/config/opennms/PluginManagerAdminApplicationFactory.java
  features/vaadin-opennms-pluginmanager/src/main/java/org/opennms/features/pluginmgr/vaadin/config/opennms/SimpleIframeInVaadinApplication.java
  features/vaadin-opennms-pluginmanager/src/main/java/org/opennms/features/pluginmgr/vaadin/config/opennms/SimpleIframeInVaadinApplicationFactory.java
  features/vaadin-opennms-pluginmanager/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-doc/guide-admin/src/asciidoc/index.adoc
  opennms-doc/guide-admin/src/asciidoc/text/plugin-manager/installing-available-plugins.adoc
  opennms-doc/guide-admin/src/asciidoc/text/plugin-manager/installing-licences.adoc
  opennms-doc/guide-admin/src/asciidoc/text/plugin-manager/internal-plugins-repository.adoc
  opennms-doc/guide-admin/src/asciidoc/text/plugin-manager/introduction.adoc
  opennms-doc/guide-admin/src/asciidoc/text/plugin-manager/licence-structure.adoc
  opennms-doc/guide-admin/src/asciidoc/text/plugin-manager/setting-karaf-instance-data.adoc
  opennms-doc/guide-admin/src/asciidoc/text/plugins/introduction.adoc
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog.adoc
  opennms-full-assembly/pom.xml
  opennms-full-assembly/src/test/java/org/opennms/assemblies/karaf/FeaturesBootKarafIT.java
  opennms-full-assembly/src/test/java/org/opennms/assemblies/karaf/OnmsFeatureKarafIT.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/admin/index.jsp
  pom.xml
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/OSGIPluginManagerIT.java
  smoke-test/src/test/resources/opennmsVersion.properties
  smoke-test/src/test/resources/org.apache.karaf.features.cfg
Labels: refactoring

#2419 HZN-1500: Removed references to Java modules in OpenNMS start script
  opennms-base-assembly/src/main/filtered/bin/opennms
Labels: enhancement

#2418 NMS-10632: Make side navigation activate on scroll
  core/web-assets/src/main/assets/style/opennms-theme.scss
  opennms-webapp/src/main/webapp/WEB-INF/jsp/graph/results.jsp
Labels: bug fix

#2381 NMS-10598: Add scope for node/interface/service details
  core/ipc/rpc/utils/pom.xml
  core/ipc/rpc/utils/src/main/java/org/opennms/core/rpc/utils/mate/EntityScopeProviderImpl.java
  core/ipc/rpc/utils/src/main/java/org/opennms/core/rpc/utils/mate/MapScope.java
  core/ipc/rpc/utils/src/main/java/org/opennms/core/rpc/utils/mate/ObjectScope.java
  core/ipc/rpc/utils/src/test/java/org/opennms/core/rpc/utils/mate/EntityScopeProviderIT.java
  core/ipc/rpc/utils/src/test/java/org/opennms/core/rpc/utils/mate/RpcMetaDataUtilsTest.java
  opennms-doc/guide-admin/src/asciidoc/text/meta-data.adoc
Labels: enhancement

#2423 Fix indentation and hint for users.properties
  opennms-doc/releasenotes/src/asciidoc/releasenotes/changelog.adoc
Labels: docs

#2424 HZN-1512: Remove unused indexNew.jsp and related unused angular apps
  core/web-assets/src/main/assets/js/apps/onms-elementList/node-elementList/index.js
  core/web-assets/src/main/assets/js/apps/onms-elementList/node-elementList/main.html
  core/web-assets/src/main/assets/js/apps/onms-elementList/notification-elementList/index.js
  core/web-assets/src/main/assets/js/apps/onms-elementList/notification-elementList/main.html
  core/web-assets/src/main/assets/js/apps/onms-elementList/outage-elementList/index.js
  core/web-assets/src/main/assets/js/apps/onms-elementList/outage-elementList/main.html
  opennms-webapp/src/main/webapp/element/indexNew.jsp
  opennms-webapp/src/main/webapp/notification/indexNew.jsp
  opennms-webapp/src/main/webapp/outage/indexNew.jsp
Labels: refactoring

#2429 HZN-1504: Introduced CHAR token to parse single characters
  features/events/syslog/src/main/java/org/opennms/netmgt/syslogd/GrokParserStageSequenceBuilder.java
  features/events/syslog/src/main/java/org/opennms/netmgt/syslogd/ParserStageSequenceBuilder.java
  features/events/syslog/src/main/resources/org/opennms/netmgt/syslogd/grok-patterns.txt
  features/events/syslog/src/test/java/org/opennms/netmgt/syslogd/RadixTreeSyslogParserTest.java
Labels: enhancement

#2427 NMS-10426: Added checks for imports and foreign-sources configuration files
  opennms-config-tester/src/main/java/org/opennms/netmgt/config/tester/ConfigTester.java
  opennms-config-tester/src/main/java/org/opennms/netmgt/config/tester/checks/ConfigCheckValidationException.java
  opennms-config-tester/src/main/resources/META-INF/opennms/applicationContext-configTester.xml
  opennms-config-tester/src/test/java/org/opennms/netmgt/config/tester/ConfigTesterTest.java
Labels: enhancement

#2442 NMS-10640: Introduced reduction key filter for IFTTT trigger packages
  features/ifttt/src/main/java/org/opennms/features/ifttt/IfTttDaemon.java
  features/ifttt/src/main/java/org/opennms/features/ifttt/config/IfTttConfig.java
  features/ifttt/src/main/java/org/opennms/features/ifttt/config/TriggerPackage.java
  features/ifttt/src/main/resources/xsds/ifttt-config.xsd
  features/ifttt/src/test/java/org/opennms/features/ifttt/IfTttDaemonTest.java
  features/ifttt/src/test/java/org/opennms/features/ifttt/config/IfTttConfigTest.java
  features/ifttt/src/test/resources/etc/ifttt-config.xml
  opennms-base-assembly/src/main/filtered/etc/ifttt-config.xml
  opennms-doc/guide-admin/src/asciidoc/text/ifttt/ifttt-integration.adoc
Labels: enhancement

#2458 NMS-10511: Disabled session timeout for browser notifications
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew.adoc
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
Labels: enhancement

#2464 NMS-10647: Fixed ArrayIndexOutOfBoundsException in error handling code
  features/mib-compiler/src/main/java/org/opennms/features/mibcompiler/services/OnmsProblemEventHandler.java
  features/mib-compiler/src/test/java/org/opennms/features/mibcompiler/services/NMS10647Test.java
  features/mib-compiler/src/test/resources/G6-NOTIFICATION-MIB_0.20.mib
Labels: bug fix

#2463 HZN-1522: The GraphService interface should return GenericGraph instead of Graph<?, ?>
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/persistence/GraphRepository.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/service/GraphService.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/persistence/DefaultGraphRepository.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/service/DefaultGraphService.java
  features/graph/service/src/test/java/org/opennms/netmgt/graph/persistence/DefaultGraphRepositoryIT.java
  features/graph/shell/src/main/java/org/opennms/netmgt/graph/shell/GraphGetCommand.java
  features/graph/simple/src/main/java/org/opennms/netmgt/graph/simple/transformer/GenericGraphContainerToSimpleGraphContainerTransformer.java
Labels: enhancement
