Repository OpenNMS/opennms, pull requests merged in 2019-06, with the labels that each got.

#2524 HZN-1581: Fixed type mismatch for VLAN value
  features/telemetry/protocols/sflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/adapter/SFlow.java
  features/telemetry/protocols/sflow/parser/pom.xml
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/Array.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/Opaque.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/Address.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/ExtendedGateway.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/ExtendedRouter.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/ExtendedSwitch.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/FlowRecord.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/FlowSample.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/Interface.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/IpV4.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/IpV6.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/NextHop.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/Record.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/SFlowDataSource.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/SampleDatagramV5.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/SampledHeader.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/SampledIpv4.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/SampledIpv6.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/headers/EthernetHeader.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/headers/Inet4Header.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/headers/Inet6Header.java
  features/telemetry/protocols/sflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/proto/flows/BsonDocumentTest.java
Labels: bug fix, triage, waiting for feedback

#2523 NMS-11722: Publish Docker images to DockerHub
  .circleci/config.yml
  opennms-container/horizon/build_container_image.sh
  opennms-container/horizon/publish.sh
  opennms-container/horizon/tag.sh
  opennms-container/horizon/version-tags.sh
  opennms-container/minion/build_container_image.sh
  opennms-container/minion/publish.sh
  opennms-container/minion/tag.sh
  opennms-container/minion/version-tags.sh
  opennms-container/pom2version.py
  opennms-container/registry-config.sh
  opennms-container/sentinel/build_container_image.sh
  opennms-container/sentinel/publish.sh
  opennms-container/sentinel/tag.sh
  opennms-container/sentinel/version-tags.sh
  opennms-container/version-tags.sh
Labels: pending-review, waiting for feedback

#2533 NMS-12097: Timeline missing for service names including slashes
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/TimelineRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/TimelineRestServiceIT.java
Labels: bug fix

#2481 NMS-10682: Fix mscluster resourceUri in wsman asset adapter config
  opennms-base-assembly/src/main/filtered/etc/wsman-asset-adapter-configuration.xml
Labels: bug fix, contribution, pending-review

#2530 NMS-12075: Provide Grafana Endpoint (UI + ReST)
  container/features/src/main/resources/features.xml
  container/karaf/src/main/filtered-resources/etc/custom.properties
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.features.cfg
  core/schema/src/main/liquibase/25.0.0/changelog.xml
  core/schema/src/main/liquibase/changelog.xml
  core/web-assets/src/main/assets/js/apps/onms-endpoints/grafana/grafana-modal.html
  core/web-assets/src/main/assets/js/apps/onms-endpoints/grafana/grafana.html
  core/web-assets/src/main/assets/js/apps/onms-endpoints/index.html
  core/web-assets/src/main/assets/js/apps/onms-endpoints/index.js
  features/distributed/dao/api/pom.xml
  features/distributed/dao/impl/pom.xml
  features/endpoints/grafana/api/pom.xml
  features/endpoints/grafana/api/src/main/java/org/opennms/netmgt/endpoints/grafana/api/Dashboard.java
  features/endpoints/grafana/api/src/main/java/org/opennms/netmgt/endpoints/grafana/api/DashboardWithMeta.java
  features/endpoints/grafana/api/src/main/java/org/opennms/netmgt/endpoints/grafana/api/GrafanaClient.java
  features/endpoints/grafana/api/src/main/java/org/opennms/netmgt/endpoints/grafana/api/GrafanaClientFactory.java
  features/endpoints/grafana/api/src/main/java/org/opennms/netmgt/endpoints/grafana/api/GrafanaEndpoint.java
  features/endpoints/grafana/api/src/main/java/org/opennms/netmgt/endpoints/grafana/api/GrafanaEndpointException.java
  features/endpoints/grafana/api/src/main/java/org/opennms/netmgt/endpoints/grafana/api/GrafanaEndpointService.java
  features/endpoints/grafana/api/src/main/java/org/opennms/netmgt/endpoints/grafana/api/Panel.java
  features/endpoints/grafana/api/src/main/java/org/opennms/netmgt/endpoints/grafana/api/PanelContainer.java
  features/endpoints/grafana/client/pom.xml
  features/endpoints/grafana/client/src/main/java/org/opennms/netmgt/endpoints/grafana/client/GrafanaClientFactoryImpl.java
  features/endpoints/grafana/client/src/main/java/org/opennms/netmgt/endpoints/grafana/client/GrafanaClientImpl.java
  features/endpoints/grafana/client/src/main/java/org/opennms/netmgt/endpoints/grafana/client/GrafanaServerConfiguration.java
  features/endpoints/grafana/client/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/endpoints/grafana/client/src/test/java/org/opennms/netmgt/endpoints/grafana/client/GrafanaClientImplIT.java
  features/endpoints/grafana/client/src/test/resources/__files/dashboard.json
  features/endpoints/grafana/client/src/test/resources/__files/panel.png
  features/endpoints/grafana/persistence/api/pom.xml
  features/endpoints/grafana/persistence/api/src/main/java/org/opennms/netmgt/endpoints/grafana/persistence/api/GrafanaEndpointDao.java
  features/endpoints/grafana/persistence/impl/pom.xml
  features/endpoints/grafana/persistence/impl/src/main/java/org/opennms/netmgt/endpoints/grafana/persistence/impl/GrafanaEndpointDaoImpl.java
  features/endpoints/grafana/persistence/impl/src/main/resources/META-INF/opennms/component-dao.xml
  features/endpoints/grafana/persistence/impl/src/test/java/org/opennms/netmgt/endpoints/grafana/persistence/impl/GrafanaEndpointDaoIT.java
  features/endpoints/grafana/persistence/pom.xml
  features/endpoints/grafana/pom.xml
  features/endpoints/grafana/rest/pom.xml
  features/endpoints/grafana/rest/src/main/java/org/opennms/netmgt/endpoints/grafana/rest/GrafanaEndpointRestService.java
  features/endpoints/grafana/rest/src/main/java/org/opennms/netmgt/endpoints/grafana/rest/internal/GrafanaEndpointRestServiceImpl.java
  features/endpoints/grafana/rest/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/endpoints/grafana/service/pom.xml
  features/endpoints/grafana/service/src/main/java/org/opennms/netmgt/endpoints/grafana/service/GrafanaEndpointServiceImpl.java
  features/endpoints/grafana/service/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/endpoints/grafana/service/src/test/java/org/opennms/netmgt/endpoints/grafana/service/GrafanaEndpointServiceImplTest.java
  features/endpoints/pom.xml
  features/pom.xml
  opennms-base-assembly/pom.xml
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-shared.xml
  opennms-full-assembly/pom.xml
  opennms-webapp/src/main/webapp/admin/endpoint/index.jsp
  opennms-webapp/src/main/webapp/admin/index.jsp
  smoke-test/src/main/java/org/opennms/smoketest/UiPageTest.java
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/GrafanaEndpointPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/rest/GrafanaEndpointRestIT.java
Labels: enhancement

#2529 NMS-10719: Forward user to login page if 401 Unauthorized
  core/web-assets/src/main/assets/js/lib/onms-http/index.js
  opennms-webapp/src/main/webapp/login.jsp
  smoke-test/src/test/java/org/opennms/smoketest/AngularLoginRedirectIT.java
Labels: enhancement, pending-review, proposal

#2536 NMS-10721: Fixed session handling for Netflow v9
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/IpfixUdpParser.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/Netflow9UdpParser.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/UdpParserBase.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/values/NullValue.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ie/values/OctetArrayValue.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ipfix/proto/DataRecord.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/netflow9/proto/DataRecord.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/netflow9/proto/OptionsTemplateRecord.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/netflow9/proto/ScopeFieldSpecifier.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/session/TcpSession.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/session/UdpSessionManager.java
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/UdpSessionManagerTest.java
Labels: bug fix

#2551 NMS-12122: Remove ugly hack to expose ServiceRegistry
  container/features/src/main/resources/features.xml
  container/spring-extender/pom.xml
  container/spring-extender/src/main/java/org/opennms/netmgt/shared/bootstrap/Activator.java
  features/distributed/pom.xml
  features/distributed/service-registry/pom.xml
  features/distributed/service-registry/src/main/resources/META-INF/opennms/applicationContext-osgi.xml
Labels: cleanup

#2545 NMS-11766: Sentinel container does not contain integration API in maven repository (Karaf Upgrade)
  container/features/src/main/resources/karaf/spring-legacy.xml
  container/features/src/main/resources/karaf/spring.xml
  container/features/src/main/resources/karaf/standard.xml
  container/karaf/src/main/filtered-resources/etc/config.properties
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.command.acl.bundle.cfg
  container/karaf/src/main/filtered-resources/etc/org.apache.karaf.command.acl.config.cfg
  container/karaf/src/main/filtered-resources/etc/org.ops4j.pax.logging.cfg
  container/karaf/src/main/filtered-resources/etc/org.ops4j.pax.url.mvn.cfg
  container/karaf/src/main/filtered-resources/etc/startup.properties
  container/karaf/src/main/filtered-resources/etc/system.properties
  container/shared/src/main/filtered-resources/etc/startup.properties
  core/test-api/karaf/pom.xml
  core/test-api/karaf/src/main/java/org/opennms/core/test/karaf/KarafTestCase.java
  opennms-full-assembly/pom.xml
  pom.xml
  smoke-test/pom.xml
Labels: enhancement

#2552 NMS-12121: Opennms 24.1.0 on Ubuntu 19.04 won’t install ....
  debian/changelog
  debian/control
Labels: bug fix, waiting for feedback

#2547 NMS-12119: fix Debian package dependencies for JDK 11
  debian/control
  opennms-assemblies/minion/src/main/filtered/debian/control
  opennms-assemblies/sentinel/src/main/filtered/debian/control
Labels: bug fix

#2540 NMS-12083: Meta-data editor for the requisitions UI
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/MetaData.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/Node.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/directives/requisitionConstraints.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/model/MetaDataConstants.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/model/RequisitionInterface.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/model/RequisitionMetaData.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/model/RequisitionMetaDataEntry.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/model/RequisitionNode.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/model/RequisitionService.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/metadata.html
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/node-metadata.html
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/node.html
  core/web-assets/src/main/assets/js/apps/onms-requisitions/requisitions-core/index.js
  core/web-assets/src/test/javascript/ng-requisitions/model/RequisitionNode.test.js
  opennms-doc/guide-admin/src/asciidoc/text/provisioning/meta-data.adoc
  smoke-test/src/test/java/org/opennms/smoketest/ProvisioningNewUIIT.java
Labels: enhancement

#2554 NMS-12130: Updated JS Web Build
  core/web-assets/.babelrc
  core/web-assets/.eslintignore
  core/web-assets/.eslintrc.js
  core/web-assets/.eslintrc.json
  core/web-assets/.node-version
  core/web-assets/.tool-versions
  core/web-assets/package.json
  core/web-assets/src/main/assets/js/apps/add-to-ksc/index.js
  core/web-assets/src/main/assets/js/apps/angular-status/index.js
  core/web-assets/src/main/assets/js/apps/forecast/index.js
  core/web-assets/src/main/assets/js/apps/geomap-js/index.js
  core/web-assets/src/main/assets/js/apps/onms-classifications/index.js
  core/web-assets/src/main/assets/js/apps/onms-elementList/lib/elementList.js
  core/web-assets/src/main/assets/js/apps/onms-elementList/lib/restResources.js
  core/web-assets/src/main/assets/js/apps/onms-geoservice/index.js
  core/web-assets/src/main/assets/js/apps/onms-resources/index.js
  core/web-assets/src/main/assets/js/lib/onms-http/index.js
  core/web-assets/src/main/assets/modules/lib/loader/index.ts
  core/web-assets/tsconfig.json
  core/web-assets/tslint.json
  core/web-assets/webpack.config.js
  core/web-assets/yarn.lock
  opennms-base-assembly/pom.xml
  pom.xml
Labels: enhancement
