Repository OpenNMS/opennms, pull requests merged in 2019-08, with the labels that each got.

#2610 NMS-12189: Use cron expression from cron trigger instead of persisting it
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultSchedulerService.java
  smoke-test/src/test/java/org/opennms/smoketest/DatabaseReportPageIT.java
Labels: bug fix

#2618 NMS-12171/NMS-12166: Smoke test fixes for develop
  features/topology-map/org.opennms.features.topology.api/src/main/java/org/opennms/features/topology/api/HeaderUtil.java
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/TopologyUI.java
  features/vaadin-dashlets/dashlet-map/src/main/java/org/opennms/features/vaadin/dashboard/dashlets/MapDashlet.java
  features/vaadin-dashlets/dashlet-topology/src/main/java/org/opennms/features/vaadin/dashboard/dashlets/TopologyDashlet.java
  features/vaadin-node-maps/src/main/java/org/opennms/features/vaadin/nodemaps/internal/NodeMapsApplication.java
  features/vaadin-node-maps/src/main/java/org/opennms/features/vaadin/nodemaps/internal/gwt/client/event/NodeMarkerClusterCallback.java
  smoke-test/src/test/java/org/opennms/smoketest/NodeMapIT.java
  smoke-test/src/test/java/org/opennms/smoketest/opsboard/OpsBoardAdminPageIT.java
Labels: cleanup

#2617 NMS-12196: Fix typo in sonar.sh
  .circleci/scripts/sonar.sh
Labels: bug fix

#2624 NMS-12199: Fix CircleCI Test Gathering for Smoke Tests
  .circleci/config.yml
Labels: bug fix

#2616 NMS-12195: Enhance Jaeger OpenTracing Logging with additional tags
  core/ipc/sink/camel/client/src/main/java/org/opennms/core/ipc/sink/camel/client/CamelRemoteMessageDispatcherFactory.java
  core/ipc/sink/camel/server/src/main/java/org/opennms/core/ipc/sink/camel/server/CamelSinkServerProcessor.java
  core/ipc/sink/kafka/client/src/main/java/org/opennms/core/ipc/sink/kafka/client/KafkaRemoteMessageDispatcherFactory.java
  core/ipc/sink/kafka/server/src/main/java/org/opennms/core/ipc/sink/kafka/server/KafkaMessageConsumerManager.java
  core/tracing/api/src/main/java/org/opennms/core/tracing/api/TracerConstants.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
Labels: enhancement

#2621 NMS-12065: Flow classification role
  opennms-web-api/src/main/java/org/opennms/web/api/Authentication.java
  opennms-webapp/src/main/java/org/opennms/web/controller/NavBarController.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/WEB-INF/templates/navbar.ftl
Labels: enhancement

#2622 NMS-12150: Allow editing an existing Report Schedule
  core/web-assets/src/main/assets/js/apps/onms-reports/ReportDetails.js
  core/web-assets/src/main/assets/js/apps/onms-reports/details.html
  core/web-assets/src/main/assets/js/apps/onms-reports/index.js
  core/web-assets/src/main/assets/js/apps/onms-reports/modals/error-modal.html
  core/web-assets/src/main/assets/js/apps/onms-reports/modals/schedule-edit-modal.html
  core/web-assets/src/main/assets/js/apps/onms-reports/modals/success-modal.html
  core/web-assets/src/main/assets/js/apps/onms-reports/report-details.html
  core/web-assets/src/main/assets/js/apps/onms-reports/schedules.html
  core/web-assets/src/main/assets/js/lib/onms-schedule-editor/templates/schedule-editor.tpl.html
  features/reporting/api/pom.xml
  features/reporting/api/src/main/java/org/opennms/api/reporting/ReportParameterBuilder.java
  features/reporting/api/src/main/java/org/opennms/api/reporting/parameter/ReportParameters.java
  features/reporting/api/src/test/java/org/opennms/api/reporting/parameter/ReportParametersTest.java
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/ReportRestService.java
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/internal/ReportDetails.java
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/internal/ReportDetailsBuilder.java
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/internal/ReportRestServiceImpl.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/SchedulerService.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/TriggerDescription.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultSchedulerService.java
  smoke-test/src/main/java/org/opennms/smoketest/ui/framework/Select.java
  smoke-test/src/test/java/org/opennms/smoketest/DatabaseReportPageIT.java
Labels: enhancement

#2629 NMS-8283: Changed the way styles are injected
  features/vaadin-dashlets/dashlet-alarms/src/main/java/org/opennms/features/vaadin/dashboard/dashlets/AlarmDetailsDashlet.java
  features/vaadin-dashlets/dashlet-ksc/src/main/java/org/opennms/features/vaadin/dashboard/dashlets/KscDashlet.java
  features/vaadin-dashlets/dashlet-rrd/src/main/java/org/opennms/features/vaadin/dashboard/dashlets/RrdDashlet.java
  features/vaadin-dashlets/dashlet-summary/src/main/java/org/opennms/features/vaadin/dashboard/dashlets/SummaryDashlet.java
Labels: bug fix

#2627 NMS-9535: Strip credentials from resource URLs
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/Provisioner.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/ProvisionerTest.java
Labels: bug fix

#2631 NMS-12194: Update warmerge plugin dependency to 0.5
  opennms-assemblies/webapp-full/pom.xml
Labels: dependency update

#2632 NMS-12206: Set max version for OpenJDK to 11
  container/shared/src/main/resources/etc/container.init
Labels: bug fix

#2633 NMS-12211: Set format to PEM for SSH host key generation for Karaf
  opennms-assemblies/minion/src/main/filtered/debian/opennms-minion-container.postinst
  opennms-assemblies/sentinel/src/main/filtered/debian/opennms-sentinel.postinst
  tools/packages/minion/minion.spec
  tools/packages/sentinel/sentinel.spec
Labels: bug fix

#2644 Remove SNMP proxy hint
  opennms-doc/guide-admin/src/asciidoc/text/performance-data-collection/collectors/snmp/SnmpCollector.adoc
Labels: docs

#2637 NMS-12215: Add enhancements to DNS Resolver and Circuit Breaker
  features/dnsresolver/netty/src/main/java/org/opennms/netmgt/dnsresolver/netty/NettyDnsResolver.java
  features/dnsresolver/netty/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/dnsresolver/netty/src/test/java/org/opennms/netmgt/dnsresolver/netty/NettyDnsResolverCircuitBreakerIT.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/ParserBase.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/RecordEnricher.java
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/RecordEnricherTest.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/SFlowUdpParser.java
  features/telemetry/protocols/sflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/parser/SampleDatagramEnricher.java
  opennms-doc/guide-admin/src/asciidoc/index.adoc
  opennms-doc/guide-admin/src/asciidoc/text/dnsresolver/introduction.adoc
  opennms-doc/guide-admin/src/asciidoc/text/telemetryd/introduction.adoc
  opennms-doc/guide-admin/src/asciidoc/text/telemetryd/protocols/ipfix.adoc
  opennms-doc/guide-admin/src/asciidoc/text/telemetryd/protocols/netflow5.adoc
  opennms-doc/guide-admin/src/asciidoc/text/telemetryd/protocols/netflow9.adoc
  opennms-doc/guide-admin/src/asciidoc/text/telemetryd/protocols/sflow.adoc
Labels: enhancement

#2639 Database Reports/Grafana Endpoints: Fix small UI related issues, address some TODOs and get it closer for merging back
  core/web-assets/src/main/assets/js/apps/onms-endpoints/grafana/grafana-modal.html
  core/web-assets/src/main/assets/js/apps/onms-endpoints/index.js
  features/endpoints/grafana/client/src/main/java/org/opennms/netmgt/endpoints/grafana/client/GrafanaClientFactoryImpl.java
  features/endpoints/grafana/client/src/main/java/org/opennms/netmgt/endpoints/grafana/client/GrafanaClientImpl.java
  features/endpoints/grafana/client/src/main/java/org/opennms/netmgt/endpoints/grafana/client/GrafanaServerConfiguration.java
  integrations/opennms-jasper-extensions/src/main/java/org/opennms/netmgt/jasper/grafana/GrafanaQueryExecutor.java
Labels: bug fix, cleanup, enhancement, refactoring

#2641 Database Reporting: Add pagination
  core/web-assets/src/main/assets/js/apps/onms-reports/index.js
  core/web-assets/src/main/assets/js/apps/onms-reports/persisted.html
  core/web-assets/src/main/assets/js/apps/onms-reports/schedules.html
  features/reporting/core/src/main/java/org/opennms/reporting/core/svclayer/ReportStoreService.java
  features/reporting/core/src/main/java/org/opennms/reporting/core/svclayer/support/DefaultReportStoreService.java
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/ReportRestService.java
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/internal/ReportRestServiceImpl.java
  opennms-web-api/src/main/java/org/opennms/web/utils/ResponseUtils.java
Labels: enhancement

#2601 NMS-10721: Respect flow timeout
  features/flows/api/src/main/java/org/opennms/netmgt/flows/api/Flow.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/FlowDocument.java
  features/flows/elastic/src/main/resources/netflow-template.json
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/filter_time_range.ftl
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/series_for_missing.ftl
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/series_for_others.ftl
  features/flows/elastic/src/main/resources/org/opennms/netmgt/flows/elastic/series_for_terms.ftl
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/FlowBuilder.java
  features/flows/elastic/src/test/resources/flow-document-netflow5.json
  features/flows/elastic/src/test/resources/netflow-template-merged.json
  features/telemetry/protocols/netflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/common/UpdatingFlow.java
  features/telemetry/protocols/netflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/ipfix/IpfixFlow.java
  features/telemetry/protocols/netflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/netflow5/Netflow5Flow.java
  features/telemetry/protocols/netflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/netflow9/Netflow9Flow.java
  features/telemetry/protocols/netflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/ipfix/FlowTimeoutTest.java
  features/telemetry/protocols/netflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/adapter/netflow9/FlowTimeoutTest.java
  features/telemetry/protocols/sflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/adapter/SFlow.java
Labels: bug fix, triage, waiting for feedback

#2640 Database Reporting: Bring back ReportsPageIT
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  smoke-test/src/test/java/org/opennms/smoketest/ReportsPageIT.java
Labels: cleanup

#2646 NMS-12223: Fixed date handling in Ops board criteria builder component
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/config/ui/editors/CriteriaBuilderHelper.java
  features/vaadin-dashboard/src/test/java/org/opennms/features/vaadin/dashboard/config/ui/editors/CriteriaBuilderTest.java
  opennms-doc/guide-admin/src/asciidoc/text/webui/opsboard/criteria-builder.adoc
Labels: bug fix, enhancement

#2655 NMS-12224: added replyTo field
  opennms-alarms/email-northbounder/src/main/java/org/opennms/netmgt/alarmd/northbounder/email/EmailNorthbounder.java
  opennms-base-assembly/src/main/filtered/etc/javamail-configuration.properties
  opennms-config-model/src/main/java/org/opennms/netmgt/config/javamail/SendmailMessage.java
  opennms-enterprise-reporting/opennms-reportd/src/main/java/org/opennms/netmgt/reporting/service/JavaMailDeliveryService.java
  opennms-javamail/opennms-javamail-api/src/main/java/org/opennms/javamail/JavaMailer.java
  opennms-javamail/opennms-javamail-api/src/main/java/org/opennms/javamail/JavaSendMailer.java
  opennms-javamail/opennms-javamail-api/src/test/java/org/opennms/javamail/JavaMailerTest.java
  opennms-javamail/opennms-javamail-api/src/test/java/org/opennms/javamail/JavaSendMailerTest.java
Labels: enhancement

#2634 NMS-12203: Upgrade Kafka components to 2.3.0
  core/test-api/kafka/src/main/java/org/opennms/core/test/kafka/JUnitKafkaServer.java
  core/test-api/kafka/src/main/java/org/opennms/core/test/kafka/SystemTime.java
  pom.xml
Labels: enhancement

#2659 NMS-12240: Allow disabling the report scheduler
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-doc/guide-admin/src/asciidoc/text/database-reports/database.adoc
  opennms-webapp/src/main/resources/org/opennms/web/svclayer/applicationContext-svclayer.xml
Labels: enhancement

#2663 NMS-12241: Fix flapping DatabaseReportPageIT
  smoke-test/src/test/java/org/opennms/smoketest/DatabaseReportPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/UiPageTest.java
Labels: bug fix

#2658 NMS-12152: Add search capabilities for select boxes
  core/web-assets/package.json
  core/web-assets/src/main/assets/js/apps/onms-reports/index.js
  core/web-assets/src/main/assets/js/apps/onms-reports/report-details.html
  core/web-assets/yarn.lock
Labels: enhancement

#2662 LTS-233: Fixed broken text for scheduled outages
  opennms-webapp/src/main/webapp/admin/sched-outages/editoutage.jsp
  smoke-test/src/test/java/org/opennms/smoketest/ScheduledOutageIT.java
Labels: bug fix
