Repository OpenNMS/opennms, pull requests merged in 2019-01, with the labels that each got.

#2314 HZN-1458: Ensure exceptions are logged properly
  features/rest-provider/pom.xml
  features/rest-provider/src/main/java/org/opennms/web/rest/support/ErrorResponseProvider.java
Labels: bug fix

#2190 NMS-10404: Support provisioning asset information via wsman
  core/lib/src/main/java/org/opennms/core/utils/ConfigFileConstants.java
  debian/rules
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
  integrations/opennms-wsman-asset-provisioning-adapter/pom.xml
  integrations/opennms-wsman-asset-provisioning-adapter/src/main/java/org/opennms/netmgt/config/WsManAssetAdapterConfig.java
  integrations/opennms-wsman-asset-provisioning-adapter/src/main/java/org/opennms/netmgt/config/WsManAssetAdapterConfigFactory.java
  integrations/opennms-wsman-asset-provisioning-adapter/src/main/java/org/opennms/netmgt/config/WsManAssetAdapterConfigManager.java
  integrations/opennms-wsman-asset-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/WsManAssetProvisioningAdapter.java
  integrations/opennms-wsman-asset-provisioning-adapter/src/main/resources/META-INF/opennms/provisiond-extensions.xml
  integrations/opennms-wsman-asset-provisioning-adapter/src/test/java/org/opennms/netmgt/provision/AdapterOperationChecker.java
  integrations/pom.xml
  opennms-base-assembly/src/main/filtered/etc/wsman-asset-adapter-configuration.xml
  opennms-config-model/pom.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/wsmanAsset/adapter/AssetField.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/wsmanAsset/adapter/Package.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/wsmanAsset/adapter/WqlObj.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/wsmanAsset/adapter/WsManAssetAdapterConfiguration.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/wsmanAsset/adapter/package-info.java
  opennms-config-model/src/main/resources/xsds/wsman-asset-adapter-configuration.xsd
  opennms-config-tester/src/test/java/org/opennms/netmgt/config/tester/ConfigTesterTest.java
  opennms-full-assembly/pom.xml
  opennms-full-assembly/src/assembly/components/adapters.xml
  pom.xml
  tools/packages/opennms/opennms.spec
Labels: enhancement, triage

#2316 NMS-10529: Fix Business Service Status panel not shown
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.bsm/src/main/java/org/opennms/features/topology/plugins/topo/bsm/info/BusinessServiceVertexStatusInfoPanelItemProvider.java
  smoke-test/src/test/java/org/opennms/smoketest/topo/BSMTopologyIT.java
Labels: bug fix

#2313 NMS-10527: Remove unused ssh plugin from topology maps
  LICENSE.md
  features/topology-map/features/runtime-base/pom.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/build.sh
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/osgi.bnd
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/pom.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/AuthWindow.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/NoClosePipedInputStream.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/NoClosePipedOutputStream.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/SSHTerminal.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/SSHTerminalState.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/SSHWindow.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/Terminal.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/gwt/TerminalWidgetSet.gwt.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/gwt/client/ui/Code.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/gwt/client/ui/GwtTerminal.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/gwt/client/ui/Key.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/gwt/client/ui/KeyBuffer.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/gwt/client/ui/TermHandler.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/gwt/client/ui/TerminalConnector.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/gwt/client/ui/VTerminal.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/gwt/public/terminalwidget/styles.css
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/java/org/opennms/features/topology/ssh/internal/operations/SSHOperation.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/webapp/META-INF/MANIFEST.MF
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/webapp/META-INF/context.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/webapp/VAADIN/themes/mytheme/favicon.ico
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/webapp/VAADIN/themes/mytheme/styles.css
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/webapp/WEB-INF/web.xml
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/main/webapp/index.jsp
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/test/java/org/opennms/features/topology/ssh/internal/AuthWindowTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/test/java/org/opennms/features/topology/ssh/internal/NoClosePipedInputStreamTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/test/java/org/opennms/features/topology/ssh/internal/NoClosePipedOutputStreamTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/test/java/org/opennms/features/topology/ssh/internal/SSHTerminalTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/test/java/org/opennms/features/topology/ssh/internal/SSHWindowTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/test/java/org/opennms/features/topology/ssh/internal/TerminalTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/test/java/org/opennms/features/topology/ssh/internal/gwt/client/ui/CodeTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/test/java/org/opennms/features/topology/ssh/internal/gwt/client/ui/KeyBufferTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/test/java/org/opennms/features/topology/ssh/internal/gwt/client/ui/KeyTest.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/test/java/org/opennms/features/topology/ssh/internal/testframework/SudoKeyDownEvent.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/test/java/org/opennms/features/topology/ssh/internal/testframework/SudoKeyPressEvent.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/test/java/org/opennms/features/topology/ssh/internal/testframework/SudoKeyUpEvent.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.ssh/src/test/java/org/opennms/features/topology/ssh/internal/testframework/SudoPaintTarget.java
  features/topology-map/plugins/pom.xml
Labels: refactoring

#2315 NMS-10515: Fixed navigator's view handling
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/ui/HeaderLayout.java
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/ui/WallboardUI.java
  smoke-test/src/test/java/org/opennms/smoketest/opsboard/OpsBoardAdminPageIT.java
Labels: bug fix

#2286 NMS-10497: Use application instead of ports in convo_key
  features/flows/api/src/main/java/org/opennms/netmgt/flows/api/Conversation.java
  features/flows/api/src/main/java/org/opennms/netmgt/flows/api/ConversationKey.java
  features/flows/api/src/main/java/org/opennms/netmgt/flows/api/FlowRepository.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ConversationKeyUtils.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/DocumentEnricher.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/InitializingFlowRepository.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/ConversationKeyUtilsTest.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/FlowQueryIT.java
  features/flows/elastic/src/test/resources/flow-document-netflow5.json
  features/flows/rest/impl/src/main/java/org/opennms/netmgt/flows/rest/internal/FlowRestServiceImpl.java
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew.adoc
Labels: bug fix

#2328 NMS-10514: Select Default location instead of the first alphabetically
  opennms-webapp/src/main/webapp/admin/snmpConfig.jsp
  smoke-test/src/test/java/org/opennms/smoketest/AdminSnmpConfigForIpPageIT.java
Labels: bug fix
