Repository OpenNMS/opennms, pull requests merged in 2019-09, with the labels that each got.

#2677 NMS-12264: Fixed ScheduleOutageIT for new UI
  smoke-test/src/test/java/org/opennms/smoketest/ScheduledOutageIT.java
Labels: bug fix

#2674 NMS-12237: using UI.access() method
  features/vaadin-dashboard/src/main/java/org/opennms/features/vaadin/dashboard/ui/wallboard/WallboardBody.java
Labels: bug fix, triage

#2688 NMS-12265: Fixed ServiceInstancePool housekeeping timer
  integrations/opennms-vmware/src/main/java/org/opennms/protocols/vmware/ServiceInstancePool.java
Labels: bug fix

#2676 NMS-12213: Edit (CRUD) rule groups via rest & gui
  core/schema/src/main/liquibase/25.0.0/changelog.xml
  core/web-assets/src/main/assets/js/apps/onms-classifications/index.js
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/config.html
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/modals/new-group-modal.html
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/modals/new-rule-modal.html
  features/flows/classification/engine/api/src/main/java/org/opennms/netmgt/flows/classification/ClassificationService.java
  features/flows/classification/engine/api/src/main/java/org/opennms/netmgt/flows/classification/csv/CsvService.java
  features/flows/classification/engine/api/src/main/java/org/opennms/netmgt/flows/classification/error/Errors.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationEngine.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationService.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/PositionUtil.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/classifier/CombinedClassifier.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/csv/CsvServiceImpl.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/validation/RuleValidator.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationServiceIT.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/PositionUtilTest.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/csv/CsvBuilderTest.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/csv/CsvServiceTest.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/validation/RuleValidatorTest.java
  features/flows/classification/persistence/api/src/main/java/org/opennms/netmgt/flows/classification/persistence/api/DefaultRuleDefinition.java
  features/flows/classification/persistence/api/src/main/java/org/opennms/netmgt/flows/classification/persistence/api/Group.java
  features/flows/classification/persistence/api/src/main/java/org/opennms/netmgt/flows/classification/persistence/api/GroupBuilder.java
  features/flows/classification/persistence/api/src/main/java/org/opennms/netmgt/flows/classification/persistence/api/Rule.java
  features/flows/classification/persistence/api/src/main/java/org/opennms/netmgt/flows/classification/persistence/api/RuleDefinition.java
  features/flows/classification/persistence/api/src/main/java/org/opennms/netmgt/flows/classification/persistence/api/RulePositionComparator.java
  features/flows/classification/persistence/api/src/main/java/org/opennms/netmgt/flows/classification/persistence/api/RulePriorityComparator.java
  features/flows/classification/persistence/api/src/test/java/org/opennms/netmgt/flows/classification/persistence/api/RulePositionComparatorTest.java
  features/flows/rest/api/src/main/java/org/opennms/netmgt/flows/rest/classification/ClassificationRestService.java
  features/flows/rest/api/src/main/java/org/opennms/netmgt/flows/rest/classification/GroupDTO.java
  features/flows/rest/api/src/main/java/org/opennms/netmgt/flows/rest/classification/GroupDTOBuilder.java
  features/flows/rest/api/src/main/java/org/opennms/netmgt/flows/rest/classification/RuleDTOBuilder.java
  features/flows/rest/impl/src/main/java/org/opennms/netmgt/flows/rest/internal/classification/ClassificationRestServiceImpl.java
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-doc/guide-development/src/asciidoc/text/rest/classifications.adoc
  smoke-test/src/test/java/org/opennms/smoketest/flow/ClassificationRestIT.java
Labels: enhancement

#2675 NMS-12255: Fixed deletion of outage type
  opennms-config-model/src/main/java/org/opennms/netmgt/config/poller/outages/BasicSchedule.java
  opennms-webapp/src/main/webapp/admin/sched-outages/editoutage.jsp
  smoke-test/src/test/java/org/opennms/smoketest/ScheduledOutageIT.java
Labels: bug fix

#2671 LTS-234: Allow special characters in scheduled outage name
  opennms-webapp/src/main/webapp/admin/sched-outages/editoutage.jsp
  opennms-webapp/src/main/webapp/element/node.jsp
  smoke-test/src/test/java/org/opennms/smoketest/ScheduledOutageIT.java
Labels: bug fix

#2635 NMS-11721: Proposal to replace custom bash templating with confd
  opennms-container/horizon/Dockerfile
  opennms-container/horizon/assets/newts.properties.tpl
  opennms-container/horizon/assets/opennms-datasources.xml.tpl
  opennms-container/horizon/assets/org.apache.karaf.shell.cfg.tpl
  opennms-container/horizon/assets/trapd-configuration.xml.tpl
  opennms-container/horizon/container-fs/confd/conf.d/newts.properties.toml
  opennms-container/horizon/container-fs/confd/conf.d/opennms-datasources.xml.toml
  opennms-container/horizon/container-fs/confd/conf.d/org.apache.karaf.shell.cfg.toml
  opennms-container/horizon/container-fs/confd/conf.d/timeseries.properties.toml
  opennms-container/horizon/container-fs/confd/conf.d/trapd-configuration.xml.toml
  opennms-container/horizon/container-fs/confd/confd.toml
  opennms-container/horizon/container-fs/confd/templates/newts.properties.tpl
  opennms-container/horizon/container-fs/confd/templates/opennms-datasources.xml.tpl
  opennms-container/horizon/container-fs/confd/templates/org.apache.karaf.shell.cfg.tpl
  opennms-container/horizon/container-fs/confd/templates/timeseries.properties.tpl
  opennms-container/horizon/container-fs/confd/templates/trapd-configuration.xml.tpl
  opennms-container/horizon/container-fs/entrypoint.sh
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/OpenNMSStack.java
Labels: refactoring, review

#2698 NMS-12226: Spawn the java process directly to fetch the correct PID
  opennms-base-assembly/src/main/filtered/bin/opennms
Labels: bug fix, review

#2693 NMS-12278: Add documentation about classification rule & group sorting
  opennms-doc/guide-admin/src/asciidoc/text/flows/classification-engine.adoc
Labels: docs

#2703 NMS-12258: Use correct parameters in report created by cron job
  features/reporting/jasper-reports/src/main/java/org/opennms/reporting/jasperreports/svclayer/JasperReportService.java
Labels: bug fix

#2706 Cleanup: Use SessionUtils instead of TransactionOperations in module features/flows/elastic
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/DocumentEnricher.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
  features/flows/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/DefaultDirectionIT.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepositoryIT.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepositoryRetryIT.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/FlowQueryIT.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/MarkerCacheIT.java
  features/flows/elastic/src/test/java/org/opennms/netmgt/flows/elastic/MockDocumentEnricherFactory.java
Labels: cleanup, refactoring

#2699 NMS-10662: Map the notifd autoacknowledgement to alarms
  opennms-base-assembly/src/main/filtered/etc/notifd-configuration.xml
Labels: configuration, review

#2711 NMS-12286: Fix position values for classification groups
  core/schema/src/main/liquibase/25.0.0/changelog.xml
  smoke-test/src/test/java/org/opennms/smoketest/ClassificationRulePageIT.java
Labels: bug fix

#2712 NMS-12290: Set default values to use RRDTool and allow to change it with Environment variables
  opennms-container/horizon/container-fs/confd/conf.d/timeseries.properties.toml
  opennms-container/horizon/container-fs/confd/templates/timeseries.properties.tpl
  opennms-container/horizon/container-fs/entrypoint.sh
Labels: bug fix, configuration

#2473 NMS-10672: redesigned threshold default events
  opennms-base-assembly/src/main/filtered/etc/events/opennms.default.threshold.events.xml
Labels: configuration, enhancement

#2707 NMS-10582: snmp authentication error traps with Enhanced Linkd / bridge discovery
  features/enlinkd/adapters/collectors/bridge/src/main/java/org/opennms/netmgt/enlinkd/NodeDiscoveryBridge.java
  features/enlinkd/config/src/main/java/org/opennms/netmgt/config/EnhancedLinkdConfig.java
  features/enlinkd/config/src/main/java/org/opennms/netmgt/config/EnhancedLinkdConfigManager.java
  features/enlinkd/config/src/main/java/org/opennms/netmgt/config/enlinkd/EnlinkdConfiguration.java
  features/enlinkd/config/src/main/resources/xsds/enlinkd-configuration.xsd
  features/enlinkd/config/src/test/java/org/opennms/netmgt/config/enlinkd/EnlinkdConfigurationTest.java
  features/enlinkd/daemon/src/main/java/org/opennms/netmgt/enlinkd/EnhancedLinkd.java
Labels: bug fix, enhancement

#2719 NMS-10605: Syslog incorrect dates being parsed into database
  core/lib/src/main/java/org/opennms/core/time/YearGuesser.java
  core/lib/src/main/java/org/opennms/core/time/ZonedDateTimeBuilder.java
  core/lib/src/test/java/org/opennms/core/time/YearGuesserTest.java
  features/events/syslog/src/main/java/org/opennms/netmgt/syslogd/RadixTreeSyslogParser.java
  features/events/syslog/src/main/java/org/opennms/netmgt/syslogd/SyslogParser.java
  features/events/syslog/src/main/java/org/opennms/netmgt/syslogd/SyslogTimeStamp.java
  features/events/syslog/src/main/java/org/opennms/netmgt/syslogd/SyslogYearCompleter.java
  features/events/syslog/src/test/java/org/opennms/netmgt/syslogd/SyslogMessageTest.java
  features/events/syslog/src/test/java/org/opennms/netmgt/syslogd/SyslogYearCompleterTest.java
Labels: bug fix

#2715 NMS-12285: Do not rebuild caches during init
  opennms-config/src/main/java/org/opennms/netmgt/config/PollerConfig.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/Poller.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerIT.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerQueryManagerDaoIT.java
Labels: bug fix

#2717 NMS-12272: Fixed Metadata ReST API
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsMetaData.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsMetaDataList.java
  opennms-model/src/test/java/org/opennms/netmgt/model/OnmsMetaDataListTest.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeIpInterfacesRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeMonitoredServiceRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/NodeRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/MetadataRestIT.java
Labels: bug fix

#2734 NMS-12190: Enable flow UDP listener by default on Minion and OpenNMS.
  features/container/minion/pom.xml
  features/container/minion/src/main/filtered-resources/etc/org.opennms.features.telemetry.listeners.flows.cfg
  opennms-base-assembly/src/main/filtered/etc/telemetryd-configuration.xml
Labels: configuration

#2730 NMS-12185: Ignore sampled headers without IP
  features/telemetry/protocols/sflow/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/sflow/adapter/SFlowConverter.java
  features/telemetry/protocols/sflow/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/sflow/adapter/SFlowConverterTest.java
  features/telemetry/protocols/sflow/adapter/src/test/resources/sflow.json
Labels: bug fix
