Repository OpenNMS/opennms, pull requests merged in 2020-09, with the labels that each got.

#3129 NMS-12860: Added some documentation for the remote poller
  opennms-doc/guide-admin/src/asciidoc/images/application-perspective-monitoring/apm-operation.png
  opennms-doc/guide-admin/src/asciidoc/images/application-perspective-monitoring/configure-app.png
  opennms-doc/guide-admin/src/asciidoc/images/application-perspective-monitoring/create-app.png
  opennms-doc/guide-admin/src/asciidoc/images/application-perspective-monitoring/remote-outages.png
  opennms-doc/guide-admin/src/asciidoc/images_src/application-perspective-monitoring/apm-operation.graphml
  opennms-doc/guide-admin/src/asciidoc/index.adoc
  opennms-doc/guide-admin/src/asciidoc/text/application-perspective-monitoring/application-perspective-monitoring.adoc
Labels: Failing, Needs Votes, docs

#3114 NMS-12823: Application Topology Provider Status
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/search/SearchSuggestion.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.browsers/src/main/java/org/opennms/features/topology/plugins/browsers/AlarmDaoContainer.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.application/src/main/java/org/opennms/features/topology/plugins/topo/application/LegacyApplicationSearchProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.application/src/main/java/org/opennms/features/topology/plugins/topo/application/LegacyApplicationTopologyProvider.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.application/src/main/java/org/opennms/features/topology/plugins/topo/application/browsers/ApplicationOutage.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.application/src/main/java/org/opennms/features/topology/plugins/topo/application/browsers/ApplicationOutageDaoContainer.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.application/src/main/java/org/opennms/features/topology/plugins/topo/application/browsers/ApplicationOutageDatasource.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.application/src/main/java/org/opennms/features/topology/plugins/topo/application/browsers/ApplicationOutageSelectionLinkGenerator.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.application/src/main/java/org/opennms/features/topology/plugins/topo/application/browsers/ApplicationOutageTable.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.application/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Labels: Failing, Needs Votes

#3141 NMS-12886: Application status page
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/ApplicationStatusUtil.java
  opennms-model/src/main/java/org/opennms/netmgt/model/perspectivepolling/ApplicationStatus.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/ApplicationStatusRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/ApplicationStatusRestServiceIT.java
  opennms-webapp/src/main/java/org/opennms/web/element/NetworkElementFactory.java
  opennms-webapp/src/main/java/org/opennms/web/element/NetworkElementFactoryInterface.java
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  opennms-webapp/src/main/webapp/application/index.jsp
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Labels: enhancement

#3112 NMS-12817: allow forcing use of SHA-256 passwords
  core/test-api/services/src/test/resources/org/opennms/netmgt/config/mock/users.xml
  core/upgrade/src/test/resources/etc/users.xml
  features/springframework-security/src/test/java/org/opennms/web/springframework/security/SpringSecurityUserDaoImplIT.java
  features/springframework-security/src/test/resources/org/opennms/web/springframework/security/users.xml
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-base-assembly/src/main/filtered/etc/users.xml
  opennms-config/src/main/java/org/opennms/netmgt/config/UserManager.java
  opennms-config/src/test/java/org/opennms/netmgt/config/UserFactoryTest.java
  opennms-services/src/test/resources/org/opennms/netmgt/notifd/users.xml
  opennms-webapp/src/test/opennms-home/etc/users.xml
Labels: Failing, Needs Votes

#2563 NMS-12079: eliminate create.sql in favor of Liquibase for integration tests
  core/db-install/src/main/java/org/opennms/core/db/install/InstallerDb.java
  core/schema/src/main/java/org/opennms/core/schema/ExistingResourceAccessor.java
  core/schema/src/main/java/org/opennms/core/schema/Migration.java
  core/schema/src/main/java/org/opennms/core/schema/Migrator.java
  core/schema/src/main/resources/org/opennms/core/schema/iplike.sql
  core/test-api/db/pom.xml
  core/test-api/db/src/main/java/org/opennms/core/test/db/MockDatabase.java
  core/test-api/db/src/main/java/org/opennms/core/test/db/PopulatedTemporaryDatabaseITCase.java
  core/test-api/db/src/main/java/org/opennms/core/test/db/TemporaryDatabase.java
  core/test-api/db/src/main/java/org/opennms/core/test/db/TemporaryDatabaseExecutionListener.java
  core/test-api/db/src/main/java/org/opennms/core/test/db/TemporaryDatabaseHsqldb.java
  core/test-api/db/src/main/java/org/opennms/core/test/db/TemporaryDatabaseITCase.java
  core/test-api/db/src/main/java/org/opennms/core/test/db/TemporaryDatabasePostgreSQL.java
  core/test-api/db/src/main/java/org/opennms/core/test/db/annotations/JUnitTemporaryDatabase.java
  core/test-api/db/src/test/java/org/opennms/core/test/db/IPLikeCoverageIT.java
  core/test-api/db/src/test/java/org/opennms/core/test/db/InstallerDbIT.java
  core/test-api/db/src/test/java/org/opennms/core/test/db/InstallerDbITCase.java
  core/test-api/db/src/test/java/org/opennms/core/test/db/MigratorIT.java
  core/test-api/db/src/test/java/org/opennms/core/test/db/PopulatedTemporaryDatabaseITCaseIT.java
  core/test-api/db/src/test/java/org/opennms/core/test/db/TemporaryDatabaseITCaseIT.java
  core/test-api/db/src/test/java/org/opennms/core/test/db/TemporaryDatabasePostgreSQLIT.java
  core/test-api/db/src/test/resources/create.sql-revision-3952
  core/test-api/lib/src/main/java/org/opennms/core/test/ConfigurationTestUtils.java
  features/events/daemon/src/test/java/org/opennms/netmgt/eventd/processor/HibernateEventWriterIT.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationEngineIT.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationServiceIT.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/validation/GroupValidatorIT.java
  features/flows/classification/persistence/impl/src/test/java/org/opennms/netmgt/flows/classification/persistence/impl/ClassificationRuleDaoIT.java
  features/opennms-es-rest/pom.xml
  features/opennms-es-rest/src/main/java/org/opennms/plugins/elasticsearch/rest/archive/OnmsRestEventsClient.java
  features/opennms-es-rest/src/test/java/org/opennms/plugins/elasticsearch/rest/AbstractEventToIndexITCase.java
  features/opennms-es-rest/src/test/java/org/opennms/plugins/elasticsearch/rest/AlarmEventToIndexIT.java
  features/opennms-es-rest/src/test/java/org/opennms/plugins/elasticsearch/rest/RawEventToIndexIT.java
  features/opennms-es-rest/src/test/java/org/opennms/plugins/elasticsearch/rest/archive/manual/OnmsHistoricEventsToEsIT.java
  features/opennms-es-rest/src/test/java/org/opennms/plugins/elasticsearch/rest/archive/manual/OnmsRestEventsToEsIT.java
  features/ticketing/daemon/src/test/java/org/opennms/netmgt/ticketd/DefaultTicketerServiceLayerIT.java
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.pathoutage/src/test/java/org/opennms/features/topology/plugins/topo/pathoutage/PathOutageStatusProviderIT.java
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-base-assembly/src/main/filtered/etc/getManagePercentAvailIntfWindow.sql
  opennms-base-assembly/src/main/filtered/etc/getManagePercentAvailNodeWindow.sql
  opennms-base-assembly/src/main/filtered/etc/getManagedOutageForIntfInWindow.sql
  opennms-base-assembly/src/main/filtered/etc/getManagedOutageForNodeInWindow.sql
  opennms-base-assembly/src/main/filtered/etc/getManagedServiceCountForIntf.sql
  opennms-base-assembly/src/main/filtered/etc/getManagedServiceCountForNode.sql
  opennms-base-assembly/src/main/filtered/etc/getOutageTimeInWindow.sql
  opennms-base-assembly/src/main/filtered/etc/getPercentAvailabilityInWindow.sql
  opennms-config/src/main/java/org/opennms/netmgt/config/DatabaseSchemaConfigFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/CollectdConfigFactoryIT.java
  opennms-config/src/test/java/org/opennms/netmgt/config/PollerConfigFactoryIT.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SyslogdConfigFactoryIT.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/AbstractMockDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockAlarmAssociationDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockAlarmDao.java
  opennms-dao-mock/src/main/resources/META-INF/opennms/applicationContext-mockDao.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/DatabasePopulator.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-databasePopulator.xml
  opennms-install/src/main/java/org/opennms/install/Installer.java
  opennms-install/src/test/java/org/opennms/install/InstallerWebappTest.java
  opennms-webapp-rest/src/test/resources/v1/remotelocations.json
  opennms-webapp/src/test/java/org/opennms/web/element/NetworkElementFactoryIT.java
Labels: Failing, Needs Votes

#3151 NMS-12910: Add perspectivepollerd logging entry
  opennms-base-assembly/src/main/filtered/etc/log4j2.xml
Labels: review me

#3157 NMS-10554: Added more information to nodeDeleted event
  features/minion/status/src/test/java/org/opennms/minion/status/MinionStatusTrackerTest.java
  opennms-base-assembly/src/main/filtered/etc/events/opennms.pollerd.events.xml
  opennms-model/src/main/java/org/opennms/netmgt/model/events/DeleteEventVisitor.java
  opennms-model/src/main/java/org/opennms/netmgt/model/events/EventUtils.java
  opennms-provision/opennms-provisiond/src/test/java/org/opennms/netmgt/provision/service/ProvisionerIT.java
Labels: enhancement

#3155 NMS-12755: Fix event matching when events for a given UEI are defined across multiple files.
  opennms-config-model/src/main/java/org/opennms/netmgt/xml/eventconf/Events.java
  opennms-config/src/test/java/org/opennms/netmgt/config/EventConfMatcherTest.java
  opennms-config/src/test/resources/matcher-test.events.xml
  opennms-config/src/test/resources/matcher-test.include.events.xml
  opennms-config/src/test/resources/matcher-test.override.events.xml
Labels: bug fix

#3158 NMS-10554: Added foreignId to the event definition
  opennms-base-assembly/src/main/filtered/etc/events/opennms.pollerd.events.xml
Labels: enhancement

#2513 NMS-10690: Update Maven & Plugins : maven enforcer plugin
  checkstyle/pom.xml
  pom.xml
Labels: Failing, Needs Votes, contribution, enhancement, waiting for feedback, waiting on build system

#3170 NMS-10351: handle HTTP servers that do not response with a reason phrase
  opennms-provision/opennms-detector-lineoriented/src/main/java/org/opennms/netmgt/provision/detector/simple/response/HttpStatusResponse.java
  opennms-provision/opennms-detector-lineoriented/src/main/java/org/opennms/netmgt/provision/detector/simple/response/MultilineHttpResponse.java
  opennms-provision/opennms-detector-lineoriented/src/test/java/org/opennms/netmgt/provision/detector/HttpDetectorTest.java
Labels: bug fix

#3166 NMS-12918: Added policy to add metadata on node-level
  opennms-doc/guide-admin/src/asciidoc/text/provisioning/examples.adoc
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsIpInterface.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsNode.java
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/policies/InterfaceMetadataSettingPolicy.java
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/policies/NodeMetadataSettingPolicy.java
  opennms-provision/opennms-provision-persistence/src/test/java/org/opennms/netmgt/provision/persist/policies/InterfaceMetadataPolicyTest.java
  opennms-provision/opennms-provision-persistence/src/test/java/org/opennms/netmgt/provision/persist/policies/NodeMetadataPolicyTest.java
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultProvisionService.java
Labels: enhancement
