Repository OpenNMS/opennms, pull requests merged in 2020-02, with the labels that each got.

#2870 NMS-12443: Fix getTopology() is blocking when discovery is in progress
  features/enlinkd/adapters/common/src/main/java/org/opennms/netmgt/enlinkd/common/TopologyUpdater.java
  features/enlinkd/adapters/updaters/nodes/pom.xml
  features/enlinkd/adapters/updaters/nodes/src/test/java/org/opennms/netmgt/enlinkd/TopologyUpdaterIT.java
Labels: bug fix

#2875 NMS-12428: update angular date filter to support more formats
  core/web-assets/package-lock.json
  core/web-assets/package.json
  core/web-assets/src/main/assets/js/apps/onms-date-formatter/index.js
Labels: bug fix, enhancement

#2879 NMS-12447: Remove getVertexType()
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericGraph.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/info/DefaultGraphInfo.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/info/GraphInfo.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/service/GraphProvider.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/updates/ChangeSet.java
  features/graph/api/src/test/java/org/opennms/netmgt/graph/api/updates/ChangeSetTest.java
  features/graph/api/src/test/java/org/opennms/netmgt/graph/api/updates/ContainerChangeSetTest.java
  features/graph/domain/src/main/java/org/opennms/netmgt/graph/domain/AbstractDomainGraph.java
  features/graph/domain/src/main/java/org/opennms/netmgt/graph/domain/simple/SimpleDomainGraph.java
  features/graph/domain/src/test/java/org/opennms/netmgt/graph/domain/simple/SimpleDomainGraphTest.java
  features/graph/provider/application/src/main/java/org/opennms/netmgt/graph/provider/application/ApplicationGraph.java
  features/graph/provider/application/src/main/java/org/opennms/netmgt/graph/provider/application/ApplicationGraphProvider.java
  features/graph/provider/bsm/src/main/java/org/opennms/netmgt/graph/provider/bsm/BusinessServiceGraph.java
  features/graph/provider/bsm/src/main/java/org/opennms/netmgt/graph/provider/bsm/BusinessServiceGraphProvider.java
  features/graph/provider/legacy/src/main/java/org/opennms/netmgt/graph/provider/legacy/LegacyGraph.java
  features/graph/provider/legacy/src/main/java/org/opennms/netmgt/graph/provider/legacy/LegacyGraphProvider.java
  features/graph/provider/persistence-test/src/main/java/org/opennms/netmgt/graph/provider/persistence/CustomGraph.java
  features/graph/provider/persistence-test/src/main/java/org/opennms/netmgt/graph/provider/persistence/PersistenceGraphContainerProvider.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/persistence/DefaultGraphRepository.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/search/NodeSearchProvider.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/service/GraphProviderManager.java
  features/graph/service/src/test/java/org/opennms/netmgt/graph/persistence/DefaultGraphRepositoryIT.java
Labels: cleanup

#2882 Refactoring: Use SessionUtils instead
  features/flows/rest/impl/src/main/java/org/opennms/netmgt/flows/rest/internal/FlowRestServiceImpl.java
  features/flows/rest/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/rest/impl/src/test/java/org/opennms/netmgt/flows/rest/internal/FlowRestServiceTest.java
Labels: cleanup, refactoring

#2880 NMS-12279: Cleanup interfaces tagged for flows
  container/features/src/main/resources/features-sentinel.xml
  core/schema/src/main/liquibase/25.2.1/changelog.xml
  core/schema/src/main/liquibase/changelog.xml
  core/web-assets/src/main/assets/js/apps/onms-interfaces/onms-interfaces-app/index.js
  core/web-assets/src/main/assets/js/apps/onms-interfaces/templates/template.main.html
  core/web-assets/src/main/assets/js/apps/onms-resources/index.js
  features/distributed/dao/impl/pom.xml
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/NodeDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpInterfaceDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockNodeDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockSnmpInterfaceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/NodeDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpInterfaceDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/InterfaceSnmpResourceType.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsIpInterface.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsNode.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsSnmpInterface.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultNodeListService.java
  opennms-webapp-rest/src/test/resources/v1/nodes.json
  opennms-webapp/src/main/webapp/WEB-INF/tags/element/nodelist.tag
  opennms-webapp/src/main/webapp/graph/chooseresource.jsp
  smoke-test/src/test/java/org/opennms/smoketest/NodeListPageIT.java
Labels: enhancement

#2834 NMS-12292: Add a "Delete" button on the Node page of the Requisition UI
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/Node.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/node-panels.html
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/node.html
Labels: contribution, review me

#2884 NMS-12520: Add documentation for downtime model delete attribute
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/downtime-model.adoc
Labels: docs, review me

#2892 NMS-12505: Provide ID and IpInterface in JSON results
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsMonitoredService.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsMonitoredServiceDetail.java
  opennms-model/src/test/java/org/opennms/netmgt/model/OnmsOutageTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/IfServicesRestServiceIT.java
  opennms-webapp-rest/src/test/resources/v1/ifservices.json
  opennms-webapp-rest/src/test/resources/v1/outages.json
Labels: bug fix

#2894 NMS-12531: Fix geolocation info panel not showing
  core/web-assets/src/main/assets/js/vaadin/location-component_connector.js
  core/web-assets/src/main/assets/js/vaadin/not-marked-icon-2x.png
  core/web-assets/src/main/assets/js/vaadin/not-marked-icon.png
  features/geolocation/api/src/main/java/org/opennms/features/geolocation/api/GeolocationQuery.java
  features/geolocation/api/src/main/java/org/opennms/features/geolocation/api/StatusCalculationStrategy.java
  features/geolocation/service/src/main/java/org/opennms/features/geolocation/services/DefaultGeolocationService.java
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/info/LocationInfoPanelItemProvider.java
Labels: bug fix

#2878 NMS-12445: Integrate Graph Service with the opennms-integration-api (OIA)
  container/features/src/main/resources/features.xml
  features/api-layer/pom.xml
  features/api-layer/src/main/java/org/opennms/features/apilayer/dao/AlarmDaoImpl.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/graph/GraphContainerCacheImpl.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/graph/GraphContainerProviderManager.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/graph/GraphMapper.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/graph/GraphProviderManager.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/graph/status/LegacyEdgeStatusProviderManager.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/graph/status/LegacyVertexStatusProviderManager.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/graph/status/StatusProviderManager.java
  features/api-layer/src/main/java/org/opennms/features/apilayer/utils/ModelMappers.java
  features/api-layer/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/NodeRef.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/NodeService.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericGraphContainer.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericProperties.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/info/Severity.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/info/StatusInfo.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/service/osgi/GraphContainerProviderRegistration.java
  features/graph/api/src/test/java/org/opennms/netmgt/graph/api/info/SeverityTest.java
  features/graph/provider/application/src/main/java/org/opennms/netmgt/graph/provider/application/ApplicationStatusEnrichment.java
  features/graph/provider/graphml/src/main/java/org/opennms/netmgt/graph/provider/graphml/GraphmlToGraphConverter.java
  features/graph/provider/legacy/pom.xml
  features/graph/provider/pom.xml
  features/graph/provider/topology/pom.xml
  features/graph/provider/topology/src/main/java/org/opennms/netmgt/graph/provider/topology/GraphContainerProviderManager.java
  features/graph/provider/topology/src/main/java/org/opennms/netmgt/graph/provider/topology/LegacyBackendGraph.java
  features/graph/provider/topology/src/main/java/org/opennms/netmgt/graph/provider/topology/LegacyEdge.java
  features/graph/provider/topology/src/main/java/org/opennms/netmgt/graph/provider/topology/LegacyIconRepositoryAdapter.java
  features/graph/provider/topology/src/main/java/org/opennms/netmgt/graph/provider/topology/LegacyMetaTopologyProvider.java
  features/graph/provider/topology/src/main/java/org/opennms/netmgt/graph/provider/topology/LegacyStatusProvider.java
  features/graph/provider/topology/src/main/java/org/opennms/netmgt/graph/provider/topology/LegacyTopologyConfiguration.java
  features/graph/provider/topology/src/main/java/org/opennms/netmgt/graph/provider/topology/LegacyTopologyProvider.java
  features/graph/provider/topology/src/main/java/org/opennms/netmgt/graph/provider/topology/LegacyTopologyProviderInfo.java
  features/graph/provider/topology/src/main/java/org/opennms/netmgt/graph/provider/topology/LegacyTopologySearchProvider.java
  features/graph/provider/topology/src/main/java/org/opennms/netmgt/graph/provider/topology/LegacyVertex.java
  features/graph/provider/topology/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/graph/service/src/main/java/org/opennms/netmgt/graph/enrichment/EnrichmentUtils.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/enrichment/NodeEnrichmentProcessor.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/enrichment/StatusEnrichmentProcessor.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/service/DefaultGraphService.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/service/DefaultNodeService.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/service/GraphProviderManager.java
  features/graph/service/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/topology-map/org.opennms.features.topology.api/src/main/java/org/opennms/features/topology/api/TopologyCache.java
  features/topology-map/org.opennms.features.topology.api/src/main/java/org/opennms/features/topology/api/TopologyService.java
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/operations/MetaTopologySelector.java
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/service/DefaultTopologyService.java
  features/topology-map/org.opennms.features.topology.app/src/main/java/org/opennms/features/topology/app/internal/service/TopologyServiceEventListener.java
  features/topology-map/org.opennms.features.topology.app/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  pom.xml
Labels: enhancement

#2890 NMS-12513: Fix HQL Injection issue
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultNodeListService.java
Labels: security

#2891 NMS-12513: Fix HQL injection issue
  opennms-webapp/src/main/java/org/opennms/web/svclayer/support/DefaultNodeListService.java
Labels: backport, security

#2902 NMS-12554: Added basic system test
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/NetworkProtocol.java
  smoke-test/src/main/java/org/opennms/smoketest/telemetry/Packets.java
  smoke-test/src/main/java/org/opennms/smoketest/telemetry/Sender.java
  smoke-test/src/main/resources/minion-overlay/org.opennms.features.telemetry.listeners-tcp-11019-bmp.cfg
  smoke-test/src/main/resources/opennms-overlay/etc/telemetryd-configuration.xml.j2
  smoke-test/src/main/resources/payloads/telemetry/bmp-proto.raw
  smoke-test/src/test/java/org/opennms/smoketest/flow/BmpIT.java
Labels: enhancement

#2898 NMS-12540: Enrich with status by default
  features/graph/provider/graphml/src/main/java/org/opennms/netmgt/graph/provider/graphml/GraphmlToGraphConverter.java
  features/graph/provider/legacy/src/main/java/org/opennms/netmgt/graph/provider/legacy/LegacyGraphProvider.java
Labels: enhancement

#2896 NMS-12538: add /ipinterfaces and /snmpinterfaces endpoints
  opennms-doc/guide-development/src/asciidoc/index.adoc
  opennms-doc/guide-development/src/asciidoc/text/rest/ipinterfaces.adoc
  opennms-doc/guide-development/src/asciidoc/text/rest/nodes.adoc
  opennms-doc/guide-development/src/asciidoc/text/rest/snmpinterfaces.adoc
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SearchProperties.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/IpInterfaceRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/SnmpInterfaceRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/IpInterfaceRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SnmpInterfaceRestServiceIT.java
Labels: enhancement

#2905 NMS-12557: enable java code signing
  .circleci/config.yml
  .circleci/scripts/configure-signing.sh
  .circleci/scripts/makedeb.sh
  .circleci/scripts/makerpm.sh
Labels: build environment, enhancement
