Repository OpenNMS/opennms, pull requests merged in 2020-03, with the labels that each got.

#2886 NMS-12423: Add CIDR support for ip address expressions (Classification Rules)
  core/web-assets/src/main/assets/js/apps/onms-classifications/views/modals/new-rule-modal.html
  features/flows/classification/engine/api/src/main/java/org/opennms/netmgt/flows/classification/error/Errors.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/validation/RuleValidator.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/value/IpValue.java
  features/flows/classification/engine/impl/src/main/java/org/opennms/netmgt/flows/classification/internal/value/StringValue.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/DefaultClassificationEngineTest.java
  features/flows/classification/engine/impl/src/test/java/org/opennms/netmgt/flows/classification/internal/value/IpValueTest.java
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew.adoc
Labels: enhancement, incomplete

#2909 NMS-12436: Use bgpId to associate exporter node
  features/telemetry/itests/src/test/java/org/opennms/netmgt/telemetry/itests/BmpAdapterIT.java
  features/telemetry/protocols/bmp/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/adapter/BmpPeerStatusAdapter.java
  features/telemetry/protocols/bmp/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/adapter/BmpPeerStatusAdapterFactory.java
  features/telemetry/protocols/bmp/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/adapter/BmpTelemetryAdapter.java
  features/telemetry/protocols/bmp/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/adapter/BmpTelemetryAdapterFactory.java
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/BmpParser.java
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/proto/bmp/Packet.java
  features/telemetry/protocols/bmp/transport/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/transport/Transport.java
  features/telemetry/protocols/bmp/transport/src/main/resources/transport.proto
  opennms-doc/guide-admin/src/asciidoc/text/flows/setup.adoc
Labels: enhancement

#2920 NMS-12571: Parse BGP capabilities
  features/telemetry/protocols/bmp/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/adapter/openbmp/BmpIntegrationAdapter.java
  features/telemetry/protocols/bmp/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/adapter/openbmp/proto/AddressFamilyIdentifier.java
  features/telemetry/protocols/bmp/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/adapter/openbmp/proto/SubsequentAddressFamilyIdentifier.java
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/BmpParser.java
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/proto/bgp/packets/Capability.java
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/proto/bgp/packets/OpenPacket.java
  features/telemetry/protocols/bmp/transport/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/transport/Transport.java
  features/telemetry/protocols/bmp/transport/src/main/resources/transport.proto
Labels: enhancement

#2888 NMS-12527: Migrate config-tester wiki to the docs
  opennms-doc/guide-admin/src/asciidoc/index.adoc
  opennms-doc/guide-admin/src/asciidoc/text/operation/config-tester.adoc
Labels: docs, enhancement, review me, waiting for feedback

#2925 NMS-12553: Added per Afi/Safi statistics
  features/telemetry/protocols/bmp/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/adapter/BmpTelemetryAdapter.java
Labels: enhancement

#2928 NMS-12570: Added Loc-Rib peer type
  features/telemetry/itests/src/test/java/org/opennms/netmgt/telemetry/itests/BmpAdapterIT.java
  features/telemetry/protocols/bmp/adapter/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/adapter/openbmp/BmpIntegrationAdapter.java
  features/telemetry/protocols/bmp/adapter/src/test/java/org/opennms/netmgt/telemetry/protocols/bmp/adapter/openbmp/BmpIntegrationAdapterTest.java
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/BmpParser.java
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/proto/bmp/InformationElement.java
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/proto/bmp/LocRibFlags.java
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/proto/bmp/PeerHeader.java
  features/telemetry/protocols/bmp/transport/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/transport/Transport.java
  features/telemetry/protocols/bmp/transport/src/main/resources/transport.proto
Labels: enhancement

#2889 NMS-12529: Split OpenNMS and Minion docker setup
  opennms-doc/guide-install/src/asciidoc/index.adoc
  opennms-doc/guide-install/src/asciidoc/text/basic-setup-opennms/docker/opennms-config.adoc
  opennms-doc/guide-install/src/asciidoc/text/basic-setup-opennms/docker/opennms-docker.adoc
  opennms-doc/guide-install/src/asciidoc/text/monitor-location-minion/docker/minion-config.adoc
  opennms-doc/guide-install/src/asciidoc/text/monitor-location-minion/docker/minion-docker.adoc
  opennms-doc/guide-install/src/asciidoc/text/run-with-docker/introduction.adoc
  opennms-doc/guide-install/src/asciidoc/text/run-with-docker/sentinel-config.adoc
Labels: docs, review me

#2867 NMS-12475: remove threshd entry in log4j2.xml
  opennms-base-assembly/src/main/filtered/etc/log4j2.xml
Labels: cleanup, configuration, review me

#2866 NMS-12474: invert auto-clean option in dataCollectionSucceeded/Failed events
  opennms-base-assembly/src/main/filtered/etc/events/opennms.collectd.events.xml
Labels: cleanup, configuration

#2887 NMS-12526: Enrich content of nodeAdded event
  opennms-base-assembly/src/main/filtered/etc/events/opennms.pollerd.events.xml
Labels: configuration, review me

#2940 NMS-12228: document additional expandable event parameters
  opennms-doc/guide-admin/src/asciidoc/text/events/event-configuration.adoc
Labels: docs, review me
