Repository OpenNMS/opennms, pull requests merged in 2020-01, with the labels that each got.

#2864 NMS-12471: DatacollectionFailed event definitions are located in wrong file
  opennms-base-assembly/src/main/filtered/etc/eventconf.xml
  opennms-base-assembly/src/main/filtered/etc/events/opennms.collectd.events.xml
  opennms-base-assembly/src/main/filtered/etc/events/opennms.pollerd.events.xml
Labels: configuration, review me

#2858 NMS-12448: Use one builder instead of re-creating it in each enrichment processor
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/enrichment/EnrichmentGraphBuilder.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/enrichment/EnrichmentProcessor.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericEdge.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericElement.java
  features/graph/api/src/main/java/org/opennms/netmgt/graph/api/generic/GenericVertex.java
  features/graph/api/src/test/java/org/opennms/netmgt/graph/api/enrichment/EnrichmentGraphBuilderTest.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/enrichment/DefaultEnrichmentService.java
  features/graph/service/src/main/java/org/opennms/netmgt/graph/enrichment/NodeEnrichmentProcessor.java
Labels: refactoring

#2865 NMS-12460: Merged poll and test command
  features/poller/shell/src/main/java/org/opennms/netmgt/poller/shell/Poll.java
  features/poller/shell/src/main/java/org/opennms/netmgt/poller/shell/Test.java
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/polling-packages.adoc
Labels: enhancement

#2871 NMS-12459: Fixed NPE
  features/mib-compiler/src/main/java/org/opennms/features/mibcompiler/services/JsmiMibParser.java
  features/mib-compiler/src/test/java/org/opennms/features/mibcompiler/NMS12459Test.java
  features/mib-compiler/src/test/resources/K2-MIB.mib
Labels: bug fix
