Repository OpenNMS/opennms, pull requests merged in 2020-08, with the labels that each got.

#3099 NMS-12841: fixed case in broken column names
  core/schema/src/main/liquibase/27.0.0/changelog.xml
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsApplication.java
Labels: bug fix

#3094 NMS-12821: Removed poller and collection packages from the locations web-ui
  core/web-assets/src/main/assets/js/apps/onms-elementList/monitoringLocation-elementList/index.js
  core/web-assets/src/main/assets/js/apps/onms-elementList/monitoringLocation-elementList/main.html
Labels: cleanup

#3105 NMS-12844: Removed pollingPackage from Application model
  core/schema/src/main/liquibase/27.0.0/changelog.xml
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsApplication.java
  opennms-model/src/test/java/org/opennms/netmgt/model/OnmsApplicationTest.java
  opennms-model/src/test/java/org/opennms/netmgt/model/OnmsOutageTest.java
Labels: enhancement

#3111 NMS-12851: Removed scanreports tables and UI
  core/schema/src/main/liquibase/27.0.0/changelog.xml
  core/web-assets/src/main/assets/js/apps/onms-elementList/lib/restResources.js
  core/web-assets/src/main/assets/js/apps/onms-elementList/scanreport-elementList/index.js
  core/web-assets/src/main/assets/js/apps/onms-elementList/scanreport-elementList/main.html
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/ScanReportDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockScanReportDao.java
  opennms-dao-mock/src/main/resources/META-INF/opennms/applicationContext-mockDao.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/ScanReportDaoHibernate.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-shared.xml
  opennms-model/src/main/java/org/opennms/netmgt/model/ScanReport.java
  opennms-model/src/main/java/org/opennms/netmgt/model/ScanReportLog.java
  opennms-model/src/main/java/org/opennms/netmgt/model/ScanReportPollResult.java
  opennms-model/src/main/java/org/opennms/netmgt/model/ScanReportPollResultXmlAdapter.java
  opennms-model/src/main/java/org/opennms/netmgt/model/ScanReportProperty.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SearchProperties.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/support/ScanReportList.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/README.adoc
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/ScanReportRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/CriteriaBuilderSearchVisitorIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/support/SearchPropertiesToAsciidocTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/SearchPropertiesIT.java
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  opennms-webapp/src/main/webapp/scanreports/index.jsp
Labels: cleanup

#3109 NMS-12849: Removed role ROLE_REMOTING
  opennms-doc/guide-admin/src/asciidoc/text/user-management/security-roles.adoc
  opennms-web-api/src/main/java/org/opennms/web/api/Authentication.java
Labels: cleanup

#3110 NMS-12850: removed references to old remote poller from documentation
  opennms-doc/guide-admin/src/asciidoc/text/rmi.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/AvailabilityMonitor.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/SnmpMonitor.adoc
  opennms-doc/guide-install/src/asciidoc/text/minion/introduction.adoc
Labels: cleanup

#3116 NMS-12852: Removed old Distributed Status Summary UI
  integrations/opennms-jasper-extensions/src/test/java/org/opennms/netmgt/jasper/measurement/CustomSpringConfiguration.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/ResourceDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockResourceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DefaultResourceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DistributedStatusResourceType.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/DefaultResourceDaoTest.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/FindTopLevelResourcesTest.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/ResourceDaoIntegrityIT.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/DistributedPollerService.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/DistributedStatusService.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/DistributedStatusDetailsCommand.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/DistributedStatusHistoryModel.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultDistributedPollerService.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultDistributedStatusService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/support/SearchProperties.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/OutageRestService.java
  opennms-webapp/src/main/java/org/opennms/web/controller/DistributedStatusDetailsController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/DistributedStatusHistoryController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/DistributedStatusSummaryController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/distributed/LocationMonitorDeleteController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/distributed/LocationMonitorDetailsController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/distributed/LocationMonitorListController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/distributed/LocationMonitorPauseAllController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/distributed/LocationMonitorPauseController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/distributed/LocationMonitorResumeAllController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/distributed/LocationMonitorResumeController.java
  opennms-webapp/src/main/java/org/opennms/web/navigate/DistributedStatusNavBarEntry.java
  opennms-webapp/src/main/java/org/opennms/web/validator/DistributedStatusDetailsValidator.java
  opennms-webapp/src/main/resources/org/opennms/web/svclayer/applicationContext-svclayer.xml
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  opennms-webapp/src/main/webapp/WEB-INF/jsp/distributed/error.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/distributed/locationMonitorDetails.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/distributed/locationMonitorList.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/distributedStatusDetails.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/distributedStatusHistory.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/distributedStatusSummary.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/distributedStatusSummaryError.jsp
  opennms-webapp/src/main/webapp/admin/index.jsp
  opennms-webapp/src/test/java/org/opennms/web/outage/DaoWebOutageRepositoryIT.java
  opennms-webapp/src/test/java/org/opennms/web/outage/filter/WebOutageRepositoryFilterIT.java
  opennms-webapp/src/test/java/org/opennms/web/svclayer/support/DefaultDistributedStatusServiceTest.java
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
Labels: cleanup

#3119 NMS-12859: Remove LocationSpecificStatus
  core/schema/src/main/liquibase/27.0.0/changelog.xml
  features/remotepollerng/daemon/src/main/java/org/opennms/netmgt/remotepollerng/RemotePollerd.java
  features/remotepollerng/daemon/src/main/resources/META-INF/opennms/applicationContext-remotePollerDaemon.xml
  features/remotepollerng/daemon/src/test/java/org/opennms/netmgt/remotepollerng/RemotePollerdIT.java
  features/reporting/availability/src/test/java/org/opennms/reporting/availability/AvailabilityDatabasePopulator.java
  features/reporting/availability/src/test/resources/META-INF/opennms/applicationContext-availabilityDatabasePopulator.xml
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/LocationSpecificStatusDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/OutageDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockLocationSpecificStatusDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockOutageDao.java
  opennms-dao-mock/src/main/resources/META-INF/opennms/applicationContext-mockDao.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/DatabasePopulator.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/LocationSpecificStatusDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/OutageDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DefaultResourceDao.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-dao.xml
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-databasePopulator.xml
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-shared.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/OutageDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/DefaultResourceDaoTest.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/FindTopLevelResourcesTest.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/ResourceDaoIntegrityIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsLocationSpecificStatus.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/AvailCalculator.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/RemotePollerAvailabilityService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/ApplicationStatusRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/AvailCalculatorTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/RemotePollerAvailabilityRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/ApplicationStatusRestServiceIT.java
  opennms-webapp/src/test/resources/daoWebRepositoryTestContext.xml
Labels: cleanup

#3130 NMS-12871: Fixed event definitions for remote poller
  opennms-base-assembly/src/main/filtered/etc/events/opennms.remote.poller.events.xml
Labels: bug fix, cleanup

#3131 NMS-12872: Fix Minion startup command to use credentials from environment with health-check
  core/health/impl/src/main/java/org/opennms/core/health/impl/ContainerIntegrityHealthCheck.java
  core/health/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  opennms-container/minion/Dockerfile
  opennms-doc/guide-install/src/asciidoc/text/minion-custom-messaging-system/setup-kafka/introduction.adoc
  opennms-doc/guide-install/src/asciidoc/text/minion-custom-messaging-system/setup-kafka/steps-minion.adoc
  opennms-doc/guide-install/src/asciidoc/text/minion-grpc/steps-minion.adoc
  opennms-doc/guide-install/src/asciidoc/text/monitor-location-minion/docker/minion-docker.adoc
  smoke-test/src/main/java/org/opennms/smoketest/utils/KarafShellUtils.java
Labels: bug fix, docs, review me

#2343 NMS-10552: Slack-compatible notification strategies expect "url" for switch name, should be "-url"
  opennms-services/pom.xml
  opennms-services/src/main/java/org/opennms/netmgt/notifd/AbstractSlackCompatibleNotificationStrategy.java
  opennms-services/src/main/java/org/opennms/netmgt/notifd/MattermostNotificationStrategy.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/MattermostNotificationStrategyIT.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/SlackCompatibleNotificationStrategyTest.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/SlackNotificationStrategyIT.java
Labels: bug fix, waiting for feedback

#3132 NMS-12877: Null-safe handling of rrdRepository
  features/remotepollerng/daemon/src/main/java/org/opennms/netmgt/remotepollerng/RemotePolledService.java
  features/remotepollerng/daemon/src/main/java/org/opennms/netmgt/remotepollerng/RemotePollerd.java
  features/remotepollerng/daemon/src/test/resources/poller-configuration-1.xml
Labels: bug fix
