Repository OpenNMS/opennms, pull requests merged in 2020-11, with the labels that each got.

#3204 NMS-12979: fix Alarm ReST PUT operations
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/AlarmRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/AlarmRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/AlarmRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/AlarmRestServiceIT.java
Labels: bug fix

#3208 NMS-12986: Fixed VMware polling and datacollection
  features/topology-map/plugins/org.opennms.features.topology.plugins.topo.vmware/src/main/java/org/opennms/features/topology/plugins/topo/vmware/internal/VmwareTopologyProvider.java
  integrations/opennms-vmware/pom.xml
  integrations/opennms-vmware/src/main/java/org/opennms/netmgt/collectd/VmwareCimCollector.java
  integrations/opennms-vmware/src/main/java/org/opennms/netmgt/collectd/VmwareCollector.java
  integrations/opennms-vmware/src/main/java/org/opennms/netmgt/poller/monitors/AbstractVmwareMonitor.java
  integrations/opennms-vmware/src/test/java/org/opennms/netmgt/collectd/VmwareCimCollectorComplianceTest.java
  integrations/opennms-vmware/src/test/java/org/opennms/netmgt/collectd/VmwareCollectorComplianceTest.java
Labels: bug fix

#3207 NMS-12985: Fixed another typo in VmwareAssetsMigratorOffline
  core/upgrade/pom.xml
  core/upgrade/src/main/java/org/opennms/upgrade/implementations/VmwareAssetsMigratorOffline.java
  core/upgrade/src/test/java/org/opennms/upgrade/implementations/VmwareAssetsMigratorOfflineIT.java
Labels: bug fix

#3214 NMS-12930: fix timezone handling in Grafana reports
  core/web-assets/package-lock.json
  core/web-assets/package.json
  core/web-assets/src/main/assets/js/apps/onms-reports/ReportDetails.js
  core/web-assets/src/main/assets/js/apps/onms-reports/index.js
  core/web-assets/src/main/assets/js/apps/onms-reports/report-details.html
  core/web-assets/src/main/assets/js/lib/onms-datetimepicker/index.js
  features/endpoints/grafana/api/src/main/java/org/opennms/netmgt/endpoints/grafana/api/Dashboard.java
  features/endpoints/grafana/client/pom.xml
  features/endpoints/grafana/client/src/test/java/org/opennms/netmgt/endpoints/grafana/client/GrafanaClientImplIT.java
  features/endpoints/grafana/client/src/test/resources/__files/dashboard.json
  features/endpoints/grafana/rest/src/main/java/org/opennms/netmgt/endpoints/grafana/rest/GrafanaEndpointRestService.java
  features/endpoints/grafana/rest/src/main/java/org/opennms/netmgt/endpoints/grafana/rest/internal/GrafanaEndpointRestServiceImpl.java
  features/reporting/api/src/main/java/org/opennms/api/reporting/ReportParameterBuilder.java
  features/reporting/api/src/main/java/org/opennms/api/reporting/parameter/ReportDateParm.java
  features/reporting/api/src/main/java/org/opennms/api/reporting/parameter/ReportParameters.java
  features/reporting/rest/pom.xml
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/internal/ReportDetails.java
  features/reporting/rest/src/main/java/org/opennms/features/reporting/rest/internal/ReportRestServiceImpl.java
  features/reporting/rest/src/test/java/org/opennms/features/reporting/rest/internal/ReportRestServiceImplTest.java
  integrations/opennms-jasper-extensions/pom.xml
  integrations/opennms-jasper-extensions/src/main/java/org/opennms/netmgt/jasper/helper/TimezoneHelper.java
  integrations/opennms-jasper-extensions/src/test/java/org/opennms/netmgt/jasper/helper/TimezoneHelperTest.java
  opennms-base-assembly/src/main/filtered/etc/report-templates/Grafana-Dashboard-Report-1ppp.jrxml
  opennms-base-assembly/src/main/filtered/etc/report-templates/Grafana-Dashboard-Report-2ppp.jrxml
  opennms-base-assembly/src/main/filtered/etc/report-templates/Grafana-Dashboard-Report-4ppp.jrxml
Labels: bug fix, enhancement

#3205 NMS-12982: Add Slack confd templates
  opennms-container/horizon/CONFD_README.md
  opennms-container/horizon/container-fs/confd/conf.d/slack.properties.toml
  opennms-container/horizon/container-fs/confd/templates/slack.properties.tpl
Labels: configuration, enhancement

#3228 NMS-13004: Add Mattermost confd templates
  opennms-container/horizon/CONFD_README.md
  opennms-container/horizon/container-fs/confd/conf.d/mattermost.properties.toml
  opennms-container/horizon/container-fs/confd/templates/mattermost.properties.tpl
Labels: configuration, enhancement
