Repository OpenNMS/opennms, pull requests merged in 2020-06, with the labels that each got.

#3021 NMS-12678: added RemotePollerd configuration reloading
  features/remotepollerng/daemon/pom.xml
  features/remotepollerng/daemon/src/main/java/org/opennms/netmgt/remotepollerng/RemotePolledService.java
  features/remotepollerng/daemon/src/main/java/org/opennms/netmgt/remotepollerng/RemotePollerd.java
  features/remotepollerng/daemon/src/test/java/org/opennms/netmgt/remotepollerng/RemotePollerdIT.java
  features/remotepollerng/daemon/src/test/resources/META-INF/opennms/applicationContext-testRemotePollerDaemon.xml
  features/remotepollerng/daemon/src/test/resources/poller-configuration-1.xml
  features/remotepollerng/daemon/src/test/resources/poller-configuration-2.xml
Labels: enhancement

#3027 NMS-12740: The ReST end-point for the Flow Exporter details is returning invalid content
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/MarkerCacheIT.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/NodeDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpInterfaceDaoHibernate.java
Labels: bug fix

#3031 NMS-12742: remove documentation references to Windows installation
  opennms-doc/guide-admin/src/asciidoc/text/operation/ssl/ssl.adoc
  opennms-doc/guide-admin/src/asciidoc/text/service-assurance/monitors/IcmpMonitor.adoc
  opennms-doc/guide-install/src/asciidoc/index.adoc
  opennms-doc/guide-install/src/asciidoc/text/basic-setup-opennms/setting-up-opennms.adoc
  opennms-doc/guide-install/src/asciidoc/text/basic-setup-opennms/windows/installing-on-windows.adoc
  opennms-doc/guide-install/src/asciidoc/text/basic-setup-opennms/windows/step-1-postgresql.adoc
  opennms-doc/guide-install/src/asciidoc/text/basic-setup-opennms/windows/step-2-graphical-installer.adoc
  opennms-doc/guide-install/src/asciidoc/text/basic-setup-opennms/windows/step-3-configure-postgres-opennms.adoc
  opennms-doc/guide-install/src/asciidoc/text/basic-setup-opennms/windows/step-4-change-admin-password.adoc
  opennms-doc/guide-install/src/asciidoc/text/r-statistical-computing.adoc
Labels: docs

#3029 NMS-7547: fix UTF-8 comparison decoding hex strings
  core/snmp/api/src/main/java/org/opennms/netmgt/snmp/AbstractSnmpValue.java
  core/snmp/api/src/test/java/org/opennms/netmgt/snmp/AbstractSnmpValueTest.java
  opennms-model/src/main/java/org/opennms/netmgt/model/events/snmp/SyntaxToEvent.java
  opennms-services/src/main/java/org/opennms/netmgt/enlinkd/snmp/LldpLocalGroupTracker.java
  opennms-services/src/main/java/org/opennms/netmgt/enlinkd/snmp/LldpRemTableTracker.java
  opennms-services/src/test/java/org/opennms/netmgt/enlinkd/EnLinkdSnmpIT.java
Labels: bug fix
