Repository OpenNMS/opennms, pull requests merged in 2020-04, with the labels that each got.

#1771 NMS-9754: RTC subscription events should not be persisted to DB
  opennms-base-assembly/src/main/filtered/etc/events/opennms.internal.events.xml
Labels: bug fix, configuration

#2954 update CircleCI checksums to conserve space/bandwidth
  .circleci/config.yml
Labels: enhancement

#2963 NMS-12643: Fixed parsing error of MP_UNREACH_NLRI
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/BmpParser.java
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/proto/bgp/packets/pathattr/MultiprotocolUnreachableNlri.java
  features/telemetry/protocols/bmp/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/NMS12643_Test.java
  features/telemetry/protocols/bmp/parser/src/test/resources/NMS-12643.raw
  features/telemetry/protocols/bmp/transport/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/transport/Transport.java
  features/telemetry/protocols/bmp/transport/src/main/resources/transport.proto
Labels: bug fix

#2960 NMS-12639: Add required dependencies to use ZSTD inside Kafka to features.xml
  container/features/src/main/resources/features.xml
Labels: enhancement

#2969 NMS-12649: Fixed error parsing MP_REACH_NLRI
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/proto/bgp/packets/pathattr/MultiprotocolReachableNlri.java
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/proto/bgp/packets/pathattr/MultiprotocolUnreachableNlri.java
  features/telemetry/protocols/bmp/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/ParserTest.java
  features/telemetry/protocols/bmp/parser/src/test/resources/NMS-12649.raw
Labels: bug fix

#2955 NMS-12541: Bumped version for io.netty
  pom.xml
Labels: enhancement

#2979 NMS-12671: Fixed parsing error
  features/telemetry/protocols/bmp/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/proto/bgp/packets/pathattr/MultiprotocolReachableNlri.java
  features/telemetry/protocols/bmp/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/bmp/parser/ParserTest.java
  features/telemetry/protocols/bmp/parser/src/test/resources/NMS-12671.raw
Labels: bug fix

#2990 NMS-12654: Update remote-poller model to link service to locations instead of individual RPs
  core/schema/src/main/liquibase/27.0.0/changelog.xml
  core/schema/src/main/liquibase/changelog.xml
  features/remotepollerng/impl/src/main/java/org/opennms/netmgt/remotepollerng/PollerBackEndNG.java
  features/remotepollerng/impl/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/reporting/availability/src/test/java/org/opennms/reporting/availability/AvailabilityDatabasePopulator.java
  integrations/opennms-jasper-extensions/src/test/java/org/opennms/netmgt/jasper/measurement/CustomSpringConfiguration.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/LocationMonitorDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/LocationSpecificStatusDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/ResourceDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockLocationMonitorDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockLocationSpecificStatusDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockResourceDao.java
  opennms-dao-mock/src/main/resources/META-INF/opennms/applicationContext-mockDao.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/DatabasePopulator.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/LocationMonitorDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/LocationSpecificStatusDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DefaultResourceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/DistributedStatusResourceType.java
  opennms-dao/src/main/resources/META-INF/opennms/applicationContext-shared.xml
  opennms-dao/src/test/java/org/opennms/netmgt/dao/LocationMonitorDaoIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/hibernate/LocationMonitorDaoHibernateIT.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/DefaultResourceDaoTest.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/FindTopLevelResourcesTest.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/support/ResourceDaoIntegrityIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/LocationIpInterface.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsLocationMonitor.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsLocationSpecificStatus.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsMonitoringSystem.java
  opennms-model/src/test/java/org/opennms/netmgt/model/OnmsLocationMonitorTest.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/DistributedPollerService.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/DistributedStatusHistoryModel.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/LocationMonitorIdCommand.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/LocationMonitorListModel.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultDistributedPollerService.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultDistributedStatusService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/AvailCalculator.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/RemotePollerAvailabilityService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/AvailCalculatorTest.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/RemotePollerAvailabilityRestServiceIT.java
  opennms-webapp/src/main/java/org/opennms/web/controller/distributed/LocationMonitorDeleteController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/distributed/LocationMonitorDetailsController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/distributed/LocationMonitorPauseAllController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/distributed/LocationMonitorPauseController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/distributed/LocationMonitorResumeAllController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/distributed/LocationMonitorResumeController.java
  opennms-webapp/src/main/java/org/opennms/web/validator/DistributedStatusDetailsValidator.java
  opennms-webapp/src/main/java/org/opennms/web/validator/LocationMonitorIdValidator.java
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  opennms-webapp/src/test/java/org/opennms/web/svclayer/support/DefaultDistributedPollerServiceTest.java
  opennms-webapp/src/test/java/org/opennms/web/svclayer/support/DefaultDistributedStatusServiceTest.java
Labels: breaking change, enhancement
