Repository OpenNMS/opennms, pull requests merged in 2020-05, with the labels that each got.

#2967 NMS-12647: Update smoketests to support various Kafka compression codecs
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/OpenNMSContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/containers/SentinelContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/KafkaCompressionStrategy.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/OpenNMSStack.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/StackModel.java
  smoke-test/src/test/java/org/opennms/smoketest/minion/KafkaCompressionZSTDRpcIT.java
  smoke-test/src/test/java/org/opennms/smoketest/sentinel/KafkaCompressionZSTDFlowIT.java
Labels: enhancement

#2687 NMS-12269: Netscaler vServer SNMP collection and graph definitions
  opennms-base-assembly/src/main/filtered/etc/datacollection-config.xml
  opennms-base-assembly/src/main/filtered/etc/datacollection/netscaler-vserver.xml
  opennms-base-assembly/src/main/filtered/etc/snmp-graph.properties.d/netscaler-vserver-graph.properties
Labels: configuration, review me

#2999 NMS-12684: Added upgrade task to enable RemotePollerNG
  core/upgrade/pom.xml
  core/upgrade/src/main/java/org/opennms/upgrade/implementations/RemotePollerServiceConfigMigratorOffline.java
  core/upgrade/src/test/java/org/opennms/upgrade/implementations/RemotePollerServiceConfigMigratorOfflineTest.java
  core/upgrade/src/test/resources/NMS-12684/service-configuration.xml-1
  core/upgrade/src/test/resources/NMS-12684/service-configuration.xml-2
  core/upgrade/src/test/resources/NMS-12684/service-configuration.xml-3
Labels: breaking change, enhancement

#3006 NMS-12679: Update database and send events only on changes
  features/remotepollerng/daemon/pom.xml
  features/remotepollerng/daemon/src/main/java/org/opennms/netmgt/remotepollerng/RemotePollerd.java
  features/remotepollerng/daemon/src/test/java/org/opennms/netmgt/remotepollerng/PollerBackEndNGTest.java
  features/remotepollerng/daemon/src/test/java/org/opennms/netmgt/remotepollerng/RemotePollerdIT.java
  features/remotepollerng/daemon/src/test/resources/META-INF/opennms/applicationContext-testRemotePollerDaemon.xml
  opennms-base-assembly/src/main/filtered/etc/create.sql
  opennms-base-assembly/src/main/filtered/etc/events/opennms.remote.poller.events.xml
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/LocationSpecificStatusDaoHibernate.java
Labels: breaking change, enhancement

#3011 NMS-12710: Create SQL index for optimizing poll result lookups
  core/schema/src/main/liquibase/27.0.0/changelog.xml
  opennms-base-assembly/src/main/filtered/etc/create.sql
Labels: enhancement
