Repository OpenNMS/opennms, pull requests merged in 2020-07, with the labels that each got.

#3052 NMS-12760: Add ReST interface for Remote Poller
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/LocationSpecificStatusDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockLocationSpecificStatusDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/LocationSpecificStatusDaoHibernate.java
  opennms-doc/guide-development/src/asciidoc/index.adoc
  opennms-doc/guide-development/src/asciidoc/text/rest/remotepoller.adoc
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsLocationSpecificStatus.java
  opennms-model/src/main/java/org/opennms/netmgt/model/remotepolling/ApplicationServiceStatus.java
  opennms-model/src/main/java/org/opennms/netmgt/model/remotepolling/ApplicationStatus.java
  opennms-model/src/main/java/org/opennms/netmgt/model/remotepolling/Location.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v2/ApplicationStatusRestService.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/RemotePollerAvailabilityRestServiceIT.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v2/ApplicationStatusRestServiceIT.java
Labels: enhancement

#3047 NMS-12776: Flow last seen db columns not being updated when raw records disabled
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
Labels: bug fix

#3042 NMS-12761: Correct NPE when no results are found per direction
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/agg/AggregatedFlowQueryService.java
Labels: bug fix

#3066 NMS-12770: Fix section title sequence for resource-types
  opennms-doc/guide-admin/src/asciidoc/text/performance-data-collection/configuration.adoc
Labels: backport, docs, review me

#3077 NMS-12819: Update DBInstaller and Tests to support Postgresql 12
  core/db-install/src/main/java/org/opennms/core/db/install/InstallerDb.java
  core/test-api/db/src/test/java/org/opennms/core/test/db/InstallerDbIT.java
Labels: enhancement

#3078 NMS-10526: Added better error handling and more helpful error message
  opennms-dao/src/main/java/org/opennms/netmgt/dao/support/PropertiesGraphDao.java
Labels: bug fix

#3091 NMS-12827: Allow the use of meta-data in notifications
  core/ipc/rpc/utils/src/main/java/org/opennms/core/rpc/utils/mate/Interpolator.java
  opennms-doc/guide-admin/src/asciidoc/text/meta-data.adoc
  opennms-services/src/main/java/org/opennms/netmgt/notifd/BroadcastEventProcessor.java
  opennms-services/src/test/java/org/opennms/netmgt/notifd/NotifdMetaDataIT.java
  opennms-webapp/src/main/webapp/admin/notification/noticeWizard/choosePath.jsp
Labels: enhancement
