Repository OpenNMS/opennms, pull requests merged in 2021-11, with the labels that each got.

#3796 NMS-13700: Update whats new with everything from JIRA
  docs/modules/releasenotes/pages/whatsnew.adoc
Labels: docs

#3791 NMS-13703: Fixed OpenNMS start script for Darwin
  opennms-base-assembly/src/main/filtered/bin/opennms
Labels: bug fix

#3697 NMS-13283: The node and interface counters of the Evaluation Layer are incorrect
  features/timeseries-evaluate/src/main/java/org/opennms/netmgt/collection/persistence/evaluate/EvaluateGroupPersister.java
  features/timeseries-evaluate/src/main/java/org/opennms/netmgt/collection/persistence/evaluate/EvaluateSinglePersister.java
  features/timeseries-evaluate/src/main/java/org/opennms/netmgt/collection/persistence/evaluate/EvaluateStats.java
  features/timeseries-evaluate/src/main/resources/META-INF/opennms/applicationContext-timeseries-evaluate.xml
  features/timeseries-evaluate/src/test/java/org/opennms/netmgt/collection/persistence/evaluate/EvaluateStatsIT.java
Labels: hacktoberfest-accepted

#3803 NMS-13714: allow PostgreSQL 14.x
  core/schema/src/main/java/org/opennms/core/schema/Migrator.java
  debian/control
  docs/modules/releasenotes/pages/whatsnew.adoc
Labels: docs

#3714 NMS-13636: update JavaMail dependencies from 1.4.x to 1.6 to resolve TLS issues
  container/features/src/main/resources/features.xml
  dependencies/jaxb/pom.xml
  opennms-ackd/pom.xml
  opennms-javamail/opennms-javamail-api/pom.xml
  opennms-services/pom.xml
  opennms-webapp/src/test/resources/osgiTestWar/WEB-INF/karaf/system/org/apache/karaf/assemblies/features/standard/2.2.7/standard-2.2.7-features.xml
  pom.xml
Labels: hacktoberfest-accepted

#3805 NMS-13575: Removed wrong line in debian/rules
  debian/rules
Labels: bug fix

#3799 NMS-13704: GeoIP Provisioning Adapter
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/provisioning/adapters/geoip.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
  integration-tests/config/src/test/java/org/opennms/netmgt/config/WillItUnmarshalIT.java
  integrations/opennms-geoip-provisioning-adapter/pom.xml
  integrations/opennms-geoip-provisioning-adapter/src/main/java/org/opennms/netmgt/config/geoip/GeoIpConfigDao.java
  integrations/opennms-geoip-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/GeoIpProvisioningAdapter.java
  integrations/opennms-geoip-provisioning-adapter/src/main/resources/META-INF/opennms/provisiond-extensions.xml
  integrations/opennms-geoip-provisioning-adapter/src/test/java/org/opennms/netmgt/provision/GeoIpProvisioningAdapterIT.java
  integrations/opennms-geoip-provisioning-adapter/src/test/resources/geoip-adapter-configuration.xml
  integrations/pom.xml
  opennms-base-assembly/src/main/filtered/etc/geoip-adapter-configuration.xml
  opennms-config-model/src/main/java/org/opennms/netmgt/config/geoip/Asset.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/geoip/GeoIpConfig.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/geoip/Location.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/geoip/Subnet.java
  opennms-config-model/src/main/resources/xsds/geoip-adapter-configuration.xsd
  opennms-config-model/src/test/java/org/opennms/netmgt/config/geoip/GeoIpConfigTest.java
  opennms-config-tester/pom.xml
  opennms-config-tester/src/main/resources/META-INF/opennms/applicationContext-configTester.xml
  opennms-config-tester/src/test/java/org/opennms/netmgt/config/tester/ConfigTesterTest.java
  opennms-full-assembly/pom.xml
  pom.xml
  tools/packages/opennms/opennms.spec
Labels: docs, enhancement

#3806 NMS-13642: Update docs for Twin
  docs/modules/deployment/pages/core/message-broker/kafka.adoc
  docs/modules/deployment/pages/minion/message-broker/activemq.adoc
  docs/modules/deployment/pages/minion/message-broker/grpc.adoc
  docs/modules/deployment/pages/minion/message-broker/kafka.adoc
Labels: docs

#3814 NMS-13642: Add breaking changes for Twin
  docs/modules/releasenotes/pages/whatsnew.adoc
Labels: docs

#3831 NMS-13724: Add hint for time sync
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/minion/install.adoc
  docs/modules/deployment/pages/sentinel/runtime/install.adoc
  docs/modules/deployment/pages/time-sync.adoc
Labels: docs

#3834 NMS-13727: Remove DHCP plugin from docs
  docs/modules/reference/pages/service-assurance/monitors/DhcpMonitor.adoc
Labels: docs

#3827 Fix ksc.adoc headings level 0 error
  docs/modules/operation/pages/admin/webui/opsboard/dashlet/ksc.adoc
Labels: docs

#3835 NMS-13728: Added support for IPv6
  integrations/opennms-geoip-provisioning-adapter/pom.xml
  integrations/opennms-geoip-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/GeoIpProvisioningAdapter.java
  integrations/opennms-geoip-provisioning-adapter/src/test/java/org/opennms/netmgt/provision/GeoIpProvisioningAdapterIT.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/geoip/GeoIpConfig.java
  pom.xml
Labels: bug fix

#3838 NMS-13730: add discovery config docs from wiki
  docs/modules/operation/pages/provisioning/auto-discovery.adoc
  docs/modules/operation/pages/provisioning/directed-discovery.adoc
Labels: docs

#3839 NMS-13716: Update Kafka dependencies to 3.0.0
  container/features/src/main/resources/features.xml
  core/ipc/common/kafka/pom.xml
  core/test-api/kafka/src/main/java/org/opennms/core/test/kafka/JUnitKafkaServer.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/datasync/KafkaAlarmDataSync.java
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/KafkaForwarderIT.java
  pom.xml
  smoke-test/pom.xml
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/OpenNMSStack.java
Labels: dependency update

#3843 Bump compatible version Debian 11 and OIA 0.6.x
  docs/antora.yml
Labels: docs

#3853 Fix typo in page-component-title
  docs/modules/operation/pages/provisioning/directed-discovery.adoc
Labels: docs

#3869 Jira/pe 132 convert radio button component to feathers
  ui/package.json
  ui/src/components/Common/Demo/Demo.vue
Labels: docs

#3866 Fix Kafka producer client configuration
  docs/modules/operation/pages/kafka-producer/enable-kafka.adoc
Labels: docs

#3868 NMS-13735: Added event parameter to distinguish hardware discovery events
  integrations/opennms-snmp-hardware-inventory-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/SnmpHardwareInventoryProvisioningAdapter.java
  integrations/opennms-snmp-metadata-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/SnmpMetadataProvisioningAdapter.java
  opennms-base-assembly/src/main/filtered/etc/events/opennms.discovery.events.xml
Labels: bug fix

#3900 NMS-13532: Migrate ResourceTypes from wiki to docs
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/performance-data-collection/resource-types.adoc
  docs/modules/operation/pages/performance-data-collection/snmp-index.adoc
Labels: docs

#3915 PE-134,PE-135,PE-137,PE-138: convert to feather components
  ui/package.json
  ui/src/components/Common/Demo/Demo.vue
  ui/src/components/Configuration/ReqDefinitionForm.vue
  ui/src/components/Configuration/RequisitionDefinitionsLayout.vue
  ui/src/components/Configuration/ThreadPoolForm.vue
Labels: docs

#3875 NMS-13685: Create instructions how to build OpenNMS from source
  README.md
  docs/modules/ROOT/pages/index.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/development/nav.adoc
  docs/modules/development/pages/build-from-source.adoc
  docs/modules/development/pages/development.adoc
  docs/modules/development/pages/introduction.adoc
  docs/modules/development/pages/overview/overview.adoc
  docs/modules/reference/pages/configuration/performance-data-collection/introduction.adoc
  docs/modules/reference/pages/configuration/provisioning/detectors.adoc
  docs/modules/reference/pages/configuration/provisioning/policies.adoc
  docs/modules/reference/pages/configuration/ticketing/introduction.adoc
  docs/modules/reference/pages/service-assurance/introduction.adoc
Labels: docs
