Repository OpenNMS/opennms, pull requests merged in 2021-03, with the labels that each got.

#3325 NMS-13185: Add Interface instance as String attribute
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/CollectionSetMapper.java
  opennms-doc/releasenotes/src/asciidoc/releasenotes/whatsnew.adoc
Labels: bug fix

#3323 NMS-13126: Escape foreignSource and nodeLabel string in requisition UI
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/ForeignSource.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/Node.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/QuickAddNode.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/Requisition.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/controllers/Requisitions.js
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/scripts/services/Synchronize.js
  core/web-assets/src/test/javascript/ng-requisitions/controllers/ForeignSource.test.js
  core/web-assets/src/test/javascript/ng-requisitions/controllers/Node.test.js
  core/web-assets/src/test/javascript/ng-requisitions/controllers/Requisition.test.js
  core/web-assets/src/test/javascript/ng-requisitions/controllers/Requisitions.test.js
  opennms-webapp/src/main/webapp/WEB-INF/tags/element/nodelist.tag
  opennms-webapp/src/main/webapp/element/node.jsp
Labels: security

#3329 NMS-13125: Escape userId & groupId
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/userGroupView/groups/groupDetail.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/userGroupView/groups/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/userGroupView/groups/modifyGroup.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/detail.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/detail.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/outage/detail.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/users/list.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/users/modifyUser.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/users/userDetail.jsp
  opennms-webapp/src/main/webapp/notification/detail.jsp
Labels: security

#3333 NMS-13124: Fixed user deletion by renaming bug and CSRF privilege escalation issue
  opennms-config/src/main/java/org/opennms/netmgt/config/UserManager.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/userGroupView/groups/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/userGroupView/groups/modifyGroup.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/userGroupView/groups/newGroup.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/roles/editDetails.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/roles/editSpecific.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/roles/list.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/roles/view.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/users/list.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/users/modifyUser.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/users/newPassword.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/users/newUser.jsp
  smoke-test/src/test/java/org/opennms/smoketest/UserIT.java
Labels: security

#3339 NMS-13183: Remove password-related log output in WsManCollector
  features/wsman/src/main/java/org/opennms/netmgt/collectd/WsManCollector.java
Labels: bug fix

#3324 NMS-13123: Prevent HTML markup in notification wizard
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/notification/noticeWizard/eventNotices.jsp
  opennms-webapp/src/main/webapp/admin/notification/noticeWizard/choosePath.jsp
  smoke-test/src/test/java/org/opennms/smoketest/NotificationsPageIT.java
Labels: security

#3340 NMS-13149: fix behavior of UEI selection
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/notification/noticeWizard/chooseUeis.jsp
Labels: bug fix

#3357 NMS-13208: suppress Kafka logging for unknown config
  container/karaf/src/main/filtered-resources/etc/org.ops4j.pax.logging.cfg
Labels: bug fix

#3345 NMS-13157: Assure that colons are properly escaped every time
  features/timeseries/src/main/java/org/opennms/netmgt/timeseries/resource/TimeseriesSearcher.java
Labels: bug fix

#3346 NMS-13074: Win32ServiceDetector documentation
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/provisioning/detectors/Win32ServiceDetector.adoc
Labels: docs, enhancement

#3348 NMS-13076: BgpSessionDetector documenation
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/provisioning/detectors/BgpSessionDetector.adoc
Labels: docs, enhancement

#3347 NMS-13075: WmiDetector documentation
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/provisioning/detectors/WmiDetector.adoc
Labels: docs, enhancement

#3355 NMS-12697: Allow to edit existing BSM edges
  features/bsm/vaadin-adminpage/src/main/java/org/opennms/netmgt/bsm/vaadin/adminpage/BusinessServiceEdgeEditWindow.java
Labels: enhancement
