Repository OpenNMS/opennms, pull requests merged in 2021-12, with the labels that each got.

#3920 NMS-13709: Added scheduler for flow thresholding and persistence
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/ElasticFlowRepository.java
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/thresholding/FlowThresholding.java
  features/flows/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/ThresholdingIT.java
Labels: enhancement

#3911 NMS-13421: BMP monitoring documentation diagram update
  docs/modules/operation/images/bmp/bmp_integration_overview.png
  docs/modules/operation/pages/admin/webui/grafana-dashboard-box.adoc
  docs/modules/operation/pages/admin/webui/heatmap.adoc
  docs/modules/operation/pages/admin/webui/trends.adoc
  docs/modules/operation/pages/alarms/alarm-notes.adoc
  docs/modules/operation/pages/alarms/alarm-sound-flash.adoc
  docs/modules/operation/pages/alarms/configuring-alarms.adoc
  docs/modules/operation/pages/alarms/ifttt-integration.adoc
  docs/modules/operation/pages/alarms/introduction.adoc
  docs/modules/operation/pages/bsm/business-service-definition.adoc
  docs/modules/operation/pages/bsm/change-icons.adoc
  docs/modules/operation/pages/bsm/edges.adoc
  docs/modules/operation/pages/bsm/introduction.adoc
  docs/modules/operation/pages/bsm/root-cause-impact-analysis.adoc
  docs/modules/operation/pages/bsm/share-bsm-view.adoc
  docs/modules/operation/pages/bsm/simulation-mode.adoc
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/meta-data.adoc
  docs/modules/operation/pages/performance-data-collection/snmp-index.adoc
  docs/modules/operation/pages/provisioning/getting-started.adoc
  docs/modules/operation/pages/thresholds/datasource.adoc
  docs/modules/operation/pages/thresholds/metadata.adoc
  docs/modules/operation/pages/thresholds/thresholding.adoc
  docs/modules/operation/pages/topology/graphml-asset-topology-provider.adoc
  docs/modules/operation/pages/user-management/introduction.adoc
  docs/modules/operation/pages/user-management/user-oncall.adoc
  docs/modules/reference/images/bmp/bmp_integration_overview.graphml
  docs/modules/reference/images/bmp/bmp_integration_overview.png
  docs/modules/reference/pages/telemetryd/protocols/bmp.adoc
Labels: docs

#3936 NMS-13781: Added warning message for requisition nodes without any IP addresses assigned
  integrations/opennms-vmware/src/main/java/org/opennms/protocols/vmware/VmwareViJavaAccess.java
Labels: enhancement

#3938 NMS-13788: Use \n as delimiter in update-package-permissions script
  opennms-base-assembly/src/main/filtered/bin/update-package-permissions
Labels: bug fix

#3865 NMS-13754: Daemon config file doc update
  docs/modules/operation/pages/admin/daemon-config-files.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/alarmd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/collectd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/discovery.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/eventd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/notifd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/pollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/snmp-interface-poller.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/syslogd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/telemetryd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
  docs/modules/reference/pages/daemons/introduction.adoc
Labels: docs

#3981 NMS-9889: update VMware import docs
  docs/modules/operation/pages/meta-data.adoc
  docs/modules/operation/pages/provisioning/detectors.adoc
  docs/modules/operation/pages/provisioning/getting-started.adoc
  docs/modules/operation/pages/provisioning/policies.adoc
  docs/modules/operation/pages/snmp-poller/concepts.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/provisioning/detectors.adoc
  docs/modules/reference/pages/provisioning/detectors/ActiveMQDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/BgpSessionDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/BsfDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/DnsDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/FtpDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/HostResourceSWRunDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/HttpDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/HttpsDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/ReverseDNSLookupDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/SnmpDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/WebDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/Win32ServiceDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/WmiDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/WsmanDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/WsmanWqlDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/_template-detector.adoc
  docs/modules/reference/pages/provisioning/handlers/vmware.adoc
  docs/modules/reference/pages/provisioning/policies.adoc
  docs/modules/reference/pages/provisioning/policies/ip-interface.adoc
  docs/modules/reference/pages/provisioning/policies/metadata.adoc
  docs/modules/reference/pages/provisioning/policies/node-category.adoc
  docs/modules/reference/pages/provisioning/policies/script.adoc
  docs/modules/reference/pages/provisioning/policies/snmp-interface.adoc
Labels: docs

#3966 NMS-13807: Phase 1 flows documentation: "Basic" setup
  docs/modules/operation/images/flows/flow_integration_overview.graphml
  docs/modules/operation/images/flows/flow_integration_overview.png
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/daemon-config-files.adoc
  docs/modules/operation/pages/flows/basic.adoc
  docs/modules/operation/pages/flows/classification-engine.adoc
  docs/modules/operation/pages/flows/introduction.adoc
Labels: docs

#3972 NMS-13790: Compute sequence numbers for flow thresholding
  features/flows/elastic/src/main/java/org/opennms/netmgt/flows/elastic/thresholding/FlowThresholding.java
  features/flows/elastic/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/ThresholdingIT.java
Labels: enhancement

#3983 NMS-13842: Extend SnmpMetadataProvisioningAdapter to support exact OIDs
  docs/modules/reference/pages/provisioning/adapters/snmp-metadata.adoc
  integrations/opennms-snmp-metadata-provisioning-adapter/src/main/java/org/opennms/netmgt/provision/SnmpMetadataProvisioningAdapter.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/snmpmetadata/Config.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/snmpmetadata/Container.java
  opennms-config-model/src/main/java/org/opennms/netmgt/config/snmpmetadata/Entry.java
  opennms-config-model/src/main/resources/xsds/snmp-metadata-adapter-configuration.xsd
  opennms-config-model/src/test/java/org/opennms/netmgt/config/snmpmetadata/SnmpMetadataConfigTest.java
Labels: docs, enhancement

#3921 NMS-13782: fix synchronization issue in InterfaceToNodeCache
  features/api-layer/core/src/main/java/org/opennms/features/apilayer/dao/InterfaceToNodeCacheImpl.java
  features/discovery/src/main/java/org/opennms/netmgt/discovery/UnmanagedInterfaceFilter.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/AbstractInterfaceToNodeCache.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/InterfaceToNodeCache.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockInterfaceToNodeCache.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/InterfaceToNodeCacheDaoImpl.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/hibernate/InterfaceToNodeCacheDaoImplIT.java
  pom.xml
Labels: docs
