Repository OpenNMS/opennms, pull requests merged in 2021-05, with the labels that each got.

#3400 NMS-8581: Allow to specify parameters when configuring notifications
  opennms-webapp/src/main/java/org/opennms/web/admin/notification/noticeWizard/NotificationWizardServlet.java
  opennms-webapp/src/main/webapp/admin/notification/noticeWizard/choosePath.jsp
Labels: enhancement

#3376 NMS-13229: Escaped incorrect event Id and error message
  opennms-webapp/src/main/webapp/errors/eventidnotfound.jsp
Labels: security, waiting on build system

#3416 NMS-13278: Making the DNS requisition location-aware
  opennms-doc/guide-admin/src/asciidoc/text/provisioning/import-handler.adoc
  opennms-provision/opennms-requisition-dns/src/main/java/org/opennms/netmgt/provision/service/dns/DnsRequisitionProvider.java
  opennms-provision/opennms-requisition-dns/src/main/java/org/opennms/netmgt/provision/service/dns/DnsRequisitionRequest.java
  opennms-provision/opennms-requisition-dns/src/main/java/org/opennms/netmgt/provision/service/dns/DnsRequisitionUrlConnection.java
  opennms-provision/opennms-requisition-dns/src/test/java/org/opennms/netmgt/provision/service/dns/DnsRequisitionRequestTest.java
  opennms-provision/opennms-requisition-dns/src/test/java/org/opennms/netmgt/provision/service/dns/DnsRequisitionUrlConnectionIT.java
Labels: enhancement

#3427 NMS-13287: Added required CSRF tokens to forms
  opennms-webapp/src/main/webapp/admin/userGroupView/roles/view.jsp
Labels: bug fix

#3421 NMS-13260 expand <PAGE> docs for PSM
  docs/modules/operation/pages/service-assurance/monitors/PageSequenceMonitor.adoc
Labels: docs

#3420 NMS-13267 PrometheusCollector docs fix
  docs/modules/operation/pages/performance-data-collection/collectors/prometheus.adoc
Labels: docs

#3436 NMS-13158: Allow foreign source / foreign id to be used in ElementUtil
  opennms-webapp/src/main/java/org/opennms/web/element/ElementUtil.java
Labels: bug fix

#3441 NMS-13264: Upgrade Kafka components to 2.8.0
  core/test-api/kafka/src/main/java/org/opennms/core/test/kafka/JUnitKafkaServer.java
  pom.xml
Labels: dependency update
