Repository OpenNMS/opennms, pull requests merged in 2021-02, with the labels that each got.

#3275 NMS-12517: Allow single quotes in event search
  opennms-webapp/src/main/java/org/opennms/web/event/EventQueryServlet.java
  opennms-webapp/src/test/java/org/opennms/web/event/NMS12517_Test.java
Labels: bug fix

#3294 NMS-13135: add service status to the info ReST service
  core/daemon/src/main/java/org/opennms/netmgt/vmmgr/StatusGetter.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/InfoDTO.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/InfoRestService.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/ServiceInfoDTO.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/InfoRestServiceIT.java
  opennms-webapp/src/main/webapp/admin/sysconfig.jsp
Labels: enhancement

#3293 NMS-12834: Added error logging for broken policy definitions
  opennms-provision/opennms-provisiond/src/main/java/org/opennms/netmgt/provision/service/DefaultPluginRegistry.java
Labels: enhancement

#3298 NMS-13129: Added CDP/LLDP search option
  opennms-web-api/src/main/java/org/opennms/web/svclayer/model/NodeListCommand.java
  opennms-web-api/src/main/java/org/opennms/web/svclayer/support/DefaultNodeListService.java
  opennms-webapp/src/main/webapp/element/index.jsp
Labels: enhancement

#3297 NMS-13117: Added smoke test to verify the reloading of daemons
  core/lib/src/main/java/org/opennms/core/daemon/DaemonReloadEnum.java
  smoke-test/src/test/java/org/opennms/smoketest/ReloadDaemonIT.java
Labels: enhancement

#3300 NMS-13148: Fixed event exception
  opennms-webapp/src/main/java/org/opennms/web/controller/event/EventController.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/detail.jsp
  opennms-webapp/src/main/webapp/errors/eventidnotfound.jsp
  smoke-test/src/test/java/org/opennms/smoketest/EventsPageIT.java
Labels: bug fix

#3311 NMS-13170: add related event view to alarm detail page
  opennms-webapp/src/main/java/org/opennms/web/controller/alarm/AlarmDetailController.java
  opennms-webapp/src/main/java/org/opennms/web/controller/alarm/RelatedEvent.java
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/detail.jsp
Labels: enhancement

#3320 NMS-13125: user ID and group ID must not contain any HTML markup
  opennms-doc/guide-admin/src/asciidoc/text/user-management/user-config.adoc
  opennms-doc/guide-admin/src/asciidoc/text/user-management/user-groups.adoc
  opennms-webapp/src/main/java/org/opennms/web/admin/users/AddNewUserServlet.java
  opennms-webapp/src/main/java/org/opennms/web/admin/users/RenameUserServlet.java
  opennms-webapp/src/main/java/org/opennms/web/controller/admin/group/GroupController.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/userGroupView/groups/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/admin/userGroupView/groups/newGroup.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/users/list.jsp
  opennms-webapp/src/main/webapp/admin/userGroupView/users/newUser.jsp
  smoke-test/src/test/java/org/opennms/smoketest/UserIT.java
Labels: bug fix

#3315 NMS-13137: add UI for setting page limits
  opennms-webapp/src/main/webapp/includes/listSize.jsp
  opennms-webapp/src/main/webapp/includes/resultsIndex.jsp
  opennms-webapp/src/main/webapp/includes/resultsIndexNoCount.jsp
Labels: backport, enhancement

#3271 NMS-13028: Add WebDetector docs
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/provisioning/detectors/WebDetector.adoc
Labels: docs
