Repository OpenNMS/opennms, pull requests merged in 2021-06, with the labels that each got.

#3448 NMS-13294: Add Meridian installation guide
  docs/modules/deployment/pages/core/centos-rhel7/install-core.adoc
  docs/modules/deployment/pages/core/centos-rhel8/install-core.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
Labels: docs

#3443 NMS-13260: Expand PSM docs
  docs/modules/operation/pages/service-assurance/monitors/PageSequenceMonitor.adoc
Labels: docs

#3447 NMS-13340: Add HostResourceSWRunDetector docs
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/provisioning/detectors/HostResourceSWRunDetector.adoc
Labels: docs

#3482 NMS-13365: Added info icon to service.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/element/service.jsp
Labels: enhancement

#3486 NMS-11764: Don't add SNMP interfaces will null/blank labels to the CollectionSet
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/SnmpIfData.java
  opennms-services/src/main/java/org/opennms/netmgt/collectd/DefaultSnmpCollectionAgent.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/SnmpIfCollectorIT.java
Labels: bug fix

#3476 NMS-13347: Fixed Minion entrypoint.sh
  opennms-container/minion/container-fs/entrypoint.sh
  smoke-test/src/main/java/org/opennms/smoketest/containers/MinionContainer.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/OpenNMSStack.java
  smoke-test/src/main/java/org/opennms/smoketest/stacks/StackModel.java
  smoke-test/src/test/java/org/opennms/smoketest/minion/MinionStartupIT.java
Labels: bug fix

#3496 NMS-13257: Interpolate meta-data for objects
  core/ipc/rpc/utils/src/main/java/org/opennms/core/rpc/utils/mate/Interpolator.java
  core/ipc/rpc/utils/src/test/java/org/opennms/core/rpc/utils/mate/RpcMetaDataUtilsTest.java
  core/ipc/rpc/utils/src/test/resources/page-sequence.xml
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/pagesequence/Page.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/pagesequence/Parameter.java
  opennms-config-jaxb/src/main/resources/xsds/page-sequence.xsd
Labels: enhancement

#3445 NMS-13338: Add DnsDetector docs
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/provisioning/detectors/DnsDetector.adoc
Labels: docs, enhancement

#3313 NMS-13173: Add operator instructions for graphInvalidated
  opennms-base-assembly/src/main/filtered/etc/events/opennms.bsm.events.xml
Labels: configuration, enhancement

#3446 NMS-13339: Add FtpDetector docs
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/provisioning/detectors/FtpDetector.adoc
Labels: docs, enhancement
