Repository OpenNMS/opennms, pull requests merged in 2022-10, with the labels that each got.

#5340 NMS-14807: Cortex plugin doc update
  docs/modules/deployment/pages/time-series-storage/timeseries/cortex.adoc
Labels: docs

#5344 NMS-8571: BSM Docs update
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/bsm/bsmd.adoc
  docs/modules/operation/pages/bsm/business-service-definition.adoc
  docs/modules/operation/pages/bsm/edges.adoc
  docs/modules/operation/pages/bsm/introduction.adoc
  docs/modules/operation/pages/bsm/reduce-functions.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/bsmd.adoc
Labels: docs

#5359 geocoder doc restructure
  docs/modules/operation/pages/admin/geocoder.adoc
Labels: docs

#5351 NMS-14698: Back-port multi-constraint work
  core/criteria/src/main/java/org/opennms/core/criteria/Criteria.java
  core/criteria/src/main/java/org/opennms/core/criteria/CriteriaBuilder.java
  core/criteria/src/main/java/org/opennms/core/criteria/restrictions/AllRestriction.java
  core/criteria/src/main/java/org/opennms/core/criteria/restrictions/Restriction.java
  core/criteria/src/main/java/org/opennms/core/criteria/restrictions/Restrictions.java
  docs/modules/operation/pages/admin/webui/opsboard/criteria-builder.adoc
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AbstractDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/EventDaoIT.java
Labels: docs

#5343 NMS-14814: Fix NPE in opennms-provision-persistence module
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/DefaultForeignSourceService.java
Labels: bug fix

#5366 Merge 30 to develop patch
  .github/assign-by-files.yml
  core/web-assets/package-lock.json
  core/web-assets/src/main/assets/js/lib/onms-http/index.js
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/admin/geocoder.adoc
  docs/modules/operation/pages/deep-dive/bsm/bsmd.adoc
  docs/modules/operation/pages/deep-dive/bsm/business-service-definition.adoc
  docs/modules/operation/pages/deep-dive/bsm/edges.adoc
  docs/modules/operation/pages/deep-dive/bsm/introduction.adoc
  docs/modules/operation/pages/deep-dive/bsm/reduce-functions.adoc
  docs/modules/operation/pages/deep-dive/snmp-poller/concepts.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/bsmd.adoc
  features/collection/api/src/main/java/org/opennms/netmgt/collection/support/builder/CollectionSetBuilder.java
  features/kafka/producer/src/main/java/org/opennms/features/kafka/producer/collection/CollectionSetMapper.java
  features/kafka/producer/src/test/java/org/opennms/features/kafka/producer/collection/KafkaPersisterIT.java
  opennms-provision/opennms-provision-persistence/src/main/java/org/opennms/netmgt/provision/persist/DefaultForeignSourceService.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/detail.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/index.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/alarm/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/detail.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/index.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/jsp/notification/list.jsp
  opennms-webapp/src/main/webapp/WEB-INF/templates/navbar.ftl
  opennms-webapp/src/main/webapp/WEB-INF/web.xml
  opennms-webapp/src/main/webapp/account/selfService/newPassword.jsp
  opennms-webapp/src/main/webapp/admin/index.jsp
  opennms-webapp/src/main/webapp/admin/sched-outages/editoutage.jsp
  opennms-webapp/src/main/webapp/admin/sched-outages/index.jsp
  opennms-webapp/src/main/webapp/admin/snmpConfig.jsp
  opennms-webapp/src/main/webapp/asset/index.jsp
  opennms-webapp/src/main/webapp/element/index.jsp
  opennms-webapp/src/main/webapp/element/rescan.jsp
  opennms-webapp/src/main/webapp/errors/alarmidnotfound.jsp
  opennms-webapp/src/main/webapp/errors/eventidnotfound.jsp
  opennms-webapp/src/main/webapp/includes/alarm-advquerypanel.jsp
  opennms-webapp/src/main/webapp/includes/alarm-querypanel.jsp
  opennms-webapp/src/main/webapp/includes/event-advquerypanel.jsp
  opennms-webapp/src/main/webapp/includes/event-querypanel.jsp
  opennms-webapp/src/main/webapp/includes/eventlist.jsp
  opennms-webapp/src/main/webapp/notification/index.jsp
  smoke-test/src/main/java/org/opennms/smoketest/selenium/AbstractOpenNMSSeleniumHelper.java
  smoke-test/src/test/java/org/opennms/smoketest/AngularLoginRedirectIT.java
  smoke-test/src/test/java/org/opennms/smoketest/MenuHeaderIT.java
  smoke-test/src/test/java/org/opennms/smoketest/SearchPageIT.java
Labels: docs

#5350 NMS-14619: Quick Start: Determine service availability
  docs/modules/operation/images/application-perspective-monitoring/apm-operation.graphml
  docs/modules/operation/images/application-perspective-monitoring/apm-operation.png
  docs/modules/operation/images/service-assurance/service-availability.png
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/application-perspective-monitoring/introduction.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/configuration.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/critical-service.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/downtime-model.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/introduction.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/path-outages.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/polling-packages.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/service-monitors.adoc
  docs/modules/operation/pages/quick-start/service-assurance.adoc
  docs/modules/operation/pages/quick-start/thresholding.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/perspectivepollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/pollerd.adoc
  docs/modules/reference/pages/glossary.adoc
Labels: docs

#5358 NMS-14695: do not create events when interface is covered by a scheduled outage
  core/daemon/src/main/java/org/opennms/netmgt/scheduler/Schedule.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/PollableContainer.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/PollableElement.java
  opennms-services/src/main/java/org/opennms/netmgt/poller/pollables/PollableService.java
  opennms-services/src/test/java/org/opennms/netmgt/poller/PollerIT.java
Labels: bug fix

#5384 DC-315: add doc for offheap queue
  docs/modules/deployment/pages/time-series-storage/timeseries/configuration.adoc
Labels: docs

#5342 NMS-14620: Quick Start - Configure Notifications
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/quick-start/notification-config.adoc
Labels: docs

#5353 NMS-14621: Quick Start - Visualize Data
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/admin/introduction.adoc
  docs/modules/operation/pages/deep-dive/admin/webui/dashboard.adoc
  docs/modules/operation/pages/deep-dive/admin/webui/grafana-dashboard-box.adoc
  docs/modules/operation/pages/deep-dive/admin/webui/heatmap.adoc
  docs/modules/operation/pages/deep-dive/admin/webui/opsboard/criteria-builder.adoc
  docs/modules/operation/pages/deep-dive/admin/webui/opsboard/introduction.adoc
  docs/modules/operation/pages/deep-dive/admin/webui/surveillance-view.adoc
  docs/modules/operation/pages/deep-dive/admin/webui/trends.adoc
  docs/modules/operation/pages/deep-dive/admin/webui/ui-preview.adoc
  docs/modules/operation/pages/quick-start/visualize-data.adoc
Labels: docs

#5416 NMS-14913: Enlink daemon doc restructure
  docs/modules/operation/pages/topology/enlinkd/introduction.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/enlinkd.adoc
Labels: docs

#5423 NMS-14760: Describe how to create a OpenNMS keyring for the Debian repository
  docs/modules/deployment/pages/core/debian/install-core.adoc
  docs/modules/deployment/pages/core/ubuntu/install-core.adoc
  docs/modules/deployment/pages/minion/debian/install-minion.adoc
  docs/modules/deployment/pages/minion/ubuntu/install-minion.adoc
  docs/modules/deployment/pages/sentinel/runtime/debian/install-sentinel.adoc
  docs/modules/deployment/pages/sentinel/runtime/ubuntu/install-sentinel.adoc
Labels: docs, hacktoberfest-accepted

#5403 NMS-14612: Quick Start - Overview
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/operation/pages/deep-dive/service-assurance/critical-service.adoc
  docs/modules/operation/pages/quick-start/introduction.adoc
Labels: docs

#5442 NMS-14945: Fix Cortex plugin docs
  docs/modules/deployment/pages/time-series-storage/timeseries/cortex.adoc
Labels: docs
