Repository OpenNMS/opennms, pull requests merged in 2022-07, with the labels that each got.

#4981 Fix docs markdown for restore from backup
  docs/modules/deployment/pages/upgrade/restore/centos-rhel8/restore-centos-rhel8.adoc
Labels: docs

#4848 Update perf-data.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/events/perf-data.adoc
Labels: docs

#4971 NMS-14437: Add documentation to describe negate search terms in alarm…
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/alarms/alarm-advanced-search.adoc
Labels: docs, review me

#5009 NMS-14479 Simplify BridgeSimpleConnection Class
  features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/BridgeSimpleConnection.java
  features/enlinkd/service/api/src/main/java/org/opennms/netmgt/enlinkd/service/api/DiscoveryBridgeTopology.java
  features/enlinkd/tests/src/test/java/org/opennms/netmgt/enlinkd/BroadcastDomainTest.java
Labels: java

#5018 NMS-14489: Added list of services to datachoice telemetry
  docs/modules/operation/pages/user-management/introduction.adoc
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTO.java
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReporter.java
  features/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/datachoices/src/test/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTOTest.java
  opennms-config/src/main/java/org/opennms/netmgt/config/ServiceConfigFactory.java
Labels: docs, enhancement

#5006 NMS-14352: Update terminology
  docs/modules/development/pages/rest/heatmap.adoc
  docs/modules/development/pages/rest/rtc.adoc
  docs/modules/operation/pages/admin/webui/dashboard.adoc
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/availability.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/database-reports/templates/total-bytes.adoc
  docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
  docs/modules/operation/pages/elasticsearch/features/event-forwarder-mapping-table.adoc
  docs/modules/operation/pages/provisioning/fine-grained.adoc
  docs/modules/operation/pages/provisioning/policies.adoc
  docs/modules/operation/pages/topology/graphml-asset-topology-provider.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/rtcd.adoc
  docs/modules/reference/pages/service-assurance/monitors/CiscoPingMibMonitor.adoc
  docs/modules/reference/pages/service-assurance/monitors/StrafePingMonitor.adoc
Labels: docs

#5032 docs for Ubuntu install missed starting the service
  docs/modules/deployment/pages/core/debian-ubuntu/initialize-core.adoc
Labels: docs

#5028 update docs for provisioning policy matching
  docs/modules/reference/pages/provisioning/policies.adoc
Labels: docs

#5035 NMS-14488: Add KPIs for notification entities to datachoices telemetry
  docs/modules/operation/pages/user-management/introduction.adoc
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTO.java
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReporter.java
  features/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/datachoices/src/test/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTOTest.java
Labels: docs

#5030 NMS-14412: SNMP Interface Poller doc updates
  docs/modules/operation/pages/notifications/getting-started.adoc
  docs/modules/operation/pages/snmp-poller/concepts.adoc
Labels: docs

#5039 NMS-13953: Upgrade Kafka components to 3.2.0
  pom.xml
  smoke-test/src/main/java/org/opennms/smoketest/stacks/OpenNMSStack.java
Labels: dependency update, security

#5042 NMS-14537: Add option to disable IO collection
  docs/modules/operation/pages/device-config-backup/configuration.adoc
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImpl.java
  features/device-config/ssh-scripting/src/main/resources/OSGI-INF/blueprint/blueprint.xml
Labels: docs

#5062 Revert "NMS-14482: Add KPIs for CPU count and memory size to datachoices telemetry"
  docs/modules/operation/pages/user-management/introduction.adoc
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTO.java
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReporter.java
  features/datachoices/src/test/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTOTest.java
Labels: docs

#5063 NMS-14476: Negate search terms in event advanced search
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/events/event-advanced-search.adoc
  opennms-webapp/src/main/java/org/opennms/web/alarm/AlarmUtil.java
  opennms-webapp/src/main/java/org/opennms/web/controller/event/EventController.java
  opennms-webapp/src/main/java/org/opennms/web/event/EventUtil.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/NegativeDescriptionSubstringFilter.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/NegativeEventTextFilter.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/NegativeIPAddrLikeFilter.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/NegativeLogMessageSubstringFilter.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/NegativeNodeNameLikeFilter.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/ServiceOrFilter.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/SeverityOrFilter.java
  opennms-webapp/src/main/java/org/opennms/web/filter/FilterUtil.java
  opennms-webapp/src/main/java/org/opennms/web/tags/filters/AbstractFilterCallback.java
  opennms-webapp/src/main/java/org/opennms/web/utils/filter/CheckboxFilterUtils.java
  opennms-webapp/src/main/java/org/opennms/web/utils/filter/FilterTokenizeUtils.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/list.jsp
  opennms-webapp/src/main/webapp/includes/event-advquerypanel.jsp
Labels: docs, review me

#5085 NMS-14476: Negate search terms in event advanced search - fixing smoke test from revert
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/events/event-advanced-search.adoc
  opennms-webapp/src/main/java/org/opennms/web/alarm/AlarmUtil.java
  opennms-webapp/src/main/java/org/opennms/web/controller/event/EventController.java
  opennms-webapp/src/main/java/org/opennms/web/event/EventUtil.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/NegativeDescriptionSubstringFilter.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/NegativeEventTextFilter.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/NegativeIPAddrLikeFilter.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/NegativeLogMessageSubstringFilter.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/NegativeNodeNameLikeFilter.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/ServiceOrFilter.java
  opennms-webapp/src/main/java/org/opennms/web/event/filter/SeverityOrFilter.java
  opennms-webapp/src/main/java/org/opennms/web/filter/FilterUtil.java
  opennms-webapp/src/main/java/org/opennms/web/tags/filters/AbstractFilterCallback.java
  opennms-webapp/src/main/java/org/opennms/web/utils/filter/CheckboxFilterUtils.java
  opennms-webapp/src/main/java/org/opennms/web/utils/filter/FilterTokenizeUtils.java
  opennms-webapp/src/main/webapp/WEB-INF/jsp/event/list.jsp
  opennms-webapp/src/main/webapp/includes/event-advquerypanel.jsp
  smoke-test/src/test/java/org/opennms/smoketest/EventsPageIT.java
Labels: docs

#5088 NMS-14492: Add KPI item for RDMS type and version to datachoices telemetry
  docs/modules/operation/pages/user-management/introduction.adoc
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTO.java
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReporter.java
  features/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/datachoices/src/test/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTOTest.java
Labels: docs, review me

#5104 NMS-14482: Capitalization fix in docs
  docs/modules/operation/pages/user-management/introduction.adoc
Labels: docs

#5041 NMS-14346: Document SNMP oid varbind pattern matching
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/webui/mib.adoc
  docs/modules/operation/pages/events/anatomy-events.adoc
  docs/modules/operation/pages/events/event-configuration.adoc
  docs/modules/operation/pages/events/sources/send-event.adoc
  docs/modules/operation/pages/events/sources/snmp-traps.adoc
Labels: docs

#5113 NMS-14455: Install JDBC Driver on Core
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/core/install-jdbc-driver.adoc
  docs/modules/deployment/pages/minion/installing-jdbc-driver.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jdbc.adoc
Labels: docs
