Repository OpenNMS/opennms, pull requests merged in 2022-06, with the labels that each got.

#4672 NMS-11052: PassiveStatus and LoopDetector docs
  docs/modules/operation/pages/events/event-translator.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/provisioning/detectors/LoopDetector.adoc
  docs/modules/reference/pages/service-assurance/monitors/PassiveStatusMonitor.adoc
Labels: docs

#4763 NMS-14337: Update Business Service Monitoring docs
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/bsm/bsmd.adoc
  docs/modules/operation/pages/bsm/business-service-definition.adoc
  docs/modules/operation/pages/bsm/business-service-map.adoc
  docs/modules/operation/pages/bsm/change-icons.adoc
  docs/modules/operation/pages/bsm/edges.adoc
  docs/modules/operation/pages/bsm/introduction.adoc
  docs/modules/operation/pages/bsm/map-functions.adoc
  docs/modules/operation/pages/bsm/operational-status.adoc
  docs/modules/operation/pages/bsm/reduce-functions.adoc
  docs/modules/operation/pages/bsm/root-cause-impact-analysis.adoc
  docs/modules/operation/pages/bsm/share-bsm-view.adoc
  docs/modules/operation/pages/bsm/simulation-mode.adoc
Labels: docs

#4788 NMS-10393: There is no documentation on the instrumentation log reader
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/webui/log-reader.adoc
Labels: docs

#4782 NMS-14207: Add doc for SCV
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/scv-configuration.adoc
Labels: docs

#4585 NMS-14203: Add new KPIs to datachoices telemetry
  docs/modules/operation/pages/user-management/introduction.adoc
  features/datachoices/pom.xml
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTO.java
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReporter.java
  features/datachoices/src/main/resources/OSGI-INF/blueprint/blueprint.xml
  features/datachoices/src/test/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTOTest.java
  features/flows/itests/src/test/java/org/opennms/netmgt/flows/elastic/MarkerCacheIT.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/AlarmDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/MonitoringSystemDao.java
  opennms-dao-api/src/main/java/org/opennms/netmgt/dao/api/SnmpInterfaceDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockAlarmDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockMonitoringSystemDao.java
  opennms-dao-mock/src/main/java/org/opennms/netmgt/dao/mock/MockSnmpInterfaceDao.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/MonitoringSystemDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/SnmpInterfaceDaoHibernate.java
  opennms-dao/src/test/java/org/opennms/netmgt/dao/AlarmDaoIT.java
  opennms-model/src/main/java/org/opennms/netmgt/model/OnmsMonitoringSystem.java
Labels: docs

#4809 NMS-14154: Add OIA doc
  docs/modules/deployment/pages/time-series-storage/timeseries/time-series-storage.adoc
  docs/modules/development/nav.adoc
  docs/modules/development/pages/oia/introduction.adoc
Labels: docs

#4595 NMS-13574: External Authentication Documentation
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/external-auth.adoc
Labels: docs

#4835 NMS-14359: Modify host, zone and requisition name field validation
  docs/modules/reference/pages/provisioning/handlers/introduction.adoc
Labels: docs

#4833 fix incorrect path in GraphML doc
  docs/modules/development/pages/topology/graphml.adoc
  docs/modules/reference/images/performance-management/collectors/01_snmp-datacollection-configuration.png
Labels: docs

#4550 NMS-8861: Add information about logging
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/logging/introduction.adoc
  docs/modules/operation/pages/application-perspective-monitoring/introduction.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/ackd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/alarmd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/bsmd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/collectd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/discovery.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/enlinkd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/eventd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/jettyserver.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/karaf.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/karafstartupmonitor.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/notifd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/perspectivepollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/pollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/queued.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/reportd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/rtcd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/snmp-interface-poller.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/statsd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/syslogd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/telemetryd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/ticketer.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
  docs/modules/reference/pages/daemons/introduction.adoc
  docs/modules/reference/pages/glossary.adoc
Labels: docs

#4838 Updating v30 release notes
  docs/modules/releasenotes/pages/whatsnew.adoc
Labels: docs

#4826 NMS-14059: Backporting Add support for pre-authorization via HTTP header (to be used with pre-authentication)
  features/springframework-security/pom.xml
  features/springframework-security/src/main/java/org/opennms/web/springframework/security/RequestHeaderPreAuthenticationProcessingFilter.java
  features/springframework-security/src/test/java/org/opennms/web/springframework/security/RequestHeaderPreAuthenticationProcessingFilterTest.java
  opennms-doc/guide-admin/src/asciidoc/text/user-management/pre-authentication.adoc
  opennms-webapp/src/main/webapp/WEB-INF/spring-security.d/header-preauth.xml
Labels: docs

#4857 NMS-14347: Update formatting & add new terms to glossary.adoc
  docs/modules/reference/pages/glossary.adoc
Labels: docs

#4663 NMS-11810: Database Reports documentation
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/template-introduction.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/availability.adoc
  docs/modules/operation/pages/database-reports/templates/calendar.adoc
  docs/modules/operation/pages/database-reports/templates/classic.adoc
  docs/modules/operation/pages/database-reports/templates/event.adoc
  docs/modules/operation/pages/database-reports/templates/grafana.adoc
  docs/modules/operation/pages/database-reports/templates/interface-avail.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-expired.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-stragegy.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-strategy.adoc
  docs/modules/operation/pages/database-reports/templates/morning.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/database-reports/templates/serial.adoc
  docs/modules/operation/pages/database-reports/templates/snmp.adoc
  docs/modules/operation/pages/database-reports/templates/standard-text-fields.adoc
  docs/modules/operation/pages/database-reports/templates/total-bytes.adoc
  docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
Labels: docs

#4600 NMS-14119: Implement support for SSH host key authentication
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfigMonitor.adoc
  features/device-config/monitor/src/main/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitor.java
  features/device-config/monitor/src/test/java/org/opennms/features/deviceconfig/monitors/DeviceConfigMonitorTest.java
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/api/Retriever.java
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/SshScriptingService.java
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImpl.java
  features/device-config/ssh-scripting/src/test/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImplIT.java
Labels: docs

#4853 NMS-14243: Fixed Heatmap
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/AlarmDaoHibernate.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/HibernateUtils.java
  opennms-dao/src/main/java/org/opennms/netmgt/dao/hibernate/OutageDaoHibernate.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/HeatMapRestService.java
Labels: bug fix

#4882 NMS-14349: Add terms to glossary.adoc
  docs/modules/reference/pages/glossary.adoc
Labels: docs

#4862 Enlinkd Topology Map Layers Documentation
  docs/modules/operation/pages/topology/enlinkd/introduction.adoc
Labels: docs

#4860 NMS-11810: Report documentation
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/database-reports/database.adoc
  docs/modules/operation/pages/database-reports/template-introduction.adoc
  docs/modules/operation/pages/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/database-reports/templates/availability.adoc
  docs/modules/operation/pages/database-reports/templates/calendar.adoc
  docs/modules/operation/pages/database-reports/templates/classic.adoc
  docs/modules/operation/pages/database-reports/templates/event.adoc
  docs/modules/operation/pages/database-reports/templates/grafana.adoc
  docs/modules/operation/pages/database-reports/templates/interface-avail.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-expired.adoc
  docs/modules/operation/pages/database-reports/templates/maintenance-strategy.adoc
  docs/modules/operation/pages/database-reports/templates/morning.adoc
  docs/modules/operation/pages/database-reports/templates/response-summary.adoc
  docs/modules/operation/pages/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/database-reports/templates/serial.adoc
  docs/modules/operation/pages/database-reports/templates/snmp.adoc
  docs/modules/operation/pages/database-reports/templates/standard-text-fields.adoc
  docs/modules/operation/pages/database-reports/templates/total-bytes.adoc
  docs/modules/operation/pages/database-reports/templates/traffic-rates.adoc
Labels: docs

#4893 NMS-14350: Add terms to glossary.adoc
  docs/modules/reference/pages/glossary.adoc
Labels: docs

#4898 NMS-11793: Guide to monitor essential Microsoft Active Directory Services
  docs/modules/operation/pages/service-assurance/polling-packages.adoc
Labels: docs

#4904 NMS-14382 Add documentation for OPAQUE data type support
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/OpaqueExt.java
  docs/modules/operation/pages/performance-data-collection/data-types.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/SnmpCollector.adoc
Labels: docs

#4899 NMS-14351: Add terms to glossary.adoc
  docs/modules/reference/pages/glossary.adoc
Labels: docs

#4922 Add RHEL backup steps tab
  docs/modules/operation/pages/admin/restore/introduction.adoc
Labels: docs

#4916 NMS-13956: Point troubleshooting links to docs.opennms.org
  opennms-icmp/opennms-icmp-jna/src/main/java/org/opennms/netmgt/icmp/jna/JnaPinger.java
  opennms-icmp/opennms-icmp-jni/src/main/java/org/opennms/netmgt/icmp/jni/JniPinger.java
  opennms-icmp/opennms-icmp-jni6/src/main/java/org/opennms/netmgt/icmp/jni6/Jni6Pinger.java
  pom.xml
Labels: bug fix

#4927 NMS-12421: Update classification-engine.adoc
  docs/modules/operation/pages/flows/classification-engine.adoc
Labels: docs

#4934 Graph REST docs formatting fix
  docs/modules/development/pages/rest/graph.adoc
Labels: docs

#4945 NMS-14385: added scv-list command
  features/scv/shell/src/main/java/org/opennms/features/scv/shell/ScvListCommand.java
Labels: enhancement

#4961 NMS-14311: Device Config Backup doc updates for config type
  docs/modules/operation/pages/device-config-backup/dcb-requisition.adoc
  docs/modules/operation/pages/meta-data.adoc
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfigMonitor.adoc
Labels: docs

#4943 NMS-13427: Create JDBCDetector documentation
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/provisioning/detectors.adoc
  docs/modules/reference/pages/provisioning/detectors/ActiveMQDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/BgpSessionDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/BsfDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/DnsDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/FtpDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/HostResourceSWRunDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/HttpDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/HttpsDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/JdbcDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/LoopDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/ReverseDNSLookupDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/SnmpDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/TcpDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/WebDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/Win32ServiceDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/WmiDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/WsmanDetector.adoc
  docs/modules/reference/pages/provisioning/detectors/WsmanWqlDetector.adoc
Labels: docs

#4875 NMS-14215: Add encryption option for snmp config
  container/features/src/main/resources/features.xml
  core/api/src/main/java/org/opennms/core/config/api/TextEncryptor.java
  core/encrypt-util/pom.xml
  core/encrypt-util/src/main/java/org/opennms/core/text/encryptor/TextEncryptorImpl.java
  core/encrypt-util/src/main/resources/META-INF/opennms/applicationContext-encrypt-util.xml
  core/encrypt-util/src/main/resources/META-INF/opennms/component-dao.xml
  core/encrypt-util/src/test/java/org/opennms/core/text/encryptor/TextEncryptorTest.java
  core/pom.xml
  core/snmp/commands/src/main/java/org/opennms/netmgt/snmp/commands/DecryptSnmpConfigCommand.java
  core/snmp/commands/src/main/java/org/opennms/netmgt/snmp/commands/EncryptSnmpConfigCommand.java
  dependencies/jasypt/pom.xml
  docs/modules/operation/pages/provisioning/getting-started.adoc
  docs/modules/operation/pages/provisioning/snmp-encryption.adoc
  features/jmx-config-generator/src/test/java/org/opennms/features/jmxconfiggenerator/jmxconfig/JmxDatacollectionConfiggeneratorTest.java
  opennms-base-assembly/pom.xml
  opennms-config-api/src/main/java/org/opennms/netmgt/config/api/SnmpAgentConfigFactory.java
  opennms-config-jaxb/src/main/java/org/opennms/netmgt/config/snmp/Configuration.java
  opennms-config-jaxb/src/main/resources/xsds/snmp-config.xsd
  opennms-config/pom.xml
  opennms-config/src/main/java/org/opennms/netmgt/config/SnmpPeerFactory.java
  opennms-config/src/test/java/org/opennms/netmgt/config/SnmpEncryptionIT.java
  opennms-config/src/test/resources/snmp-config.xml
  opennms-provision/opennms-detector-simple/src/test/java/org/opennms/netmgt/provision/detector/AnAgentConfigFactory.java
  opennms-webapp-rest/src/test/java/org/opennms/web/rest/v1/config/AgentConfigurationResourceTest.java
Labels: docs
