Repository OpenNMS/opennms, pull requests merged in 2022-08, with the labels that each got.

#5122 NMS-14483: Add KPIs for polls, metrics, events, and flows to datachoices telemetry
  docs/modules/operation/pages/user-management/introduction.adoc
  docs/modules/reference/pages/glossary.adoc
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTO.java
  features/datachoices/src/main/java/org/opennms/features/datachoices/internal/UsageStatisticsReporter.java
  features/datachoices/src/test/java/org/opennms/features/datachoices/internal/UsageStatisticsReportDTOTest.java
Labels: docs, review me

#5120 fix spaces
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
Labels: docs

#5119 NMS-14447: Update Jira ticketing plugin doc
  docs/modules/reference/pages/ticketing/ticketer/jira.adoc
Labels: docs

#5123 NMS-14150: Update XSD URL
  docs/modules/operation/pages/provisioning/introduction.adoc
Labels: docs

#5061 docs for minon kafka tuning
  docs/modules/reference/pages/configuration/tuning-kafka.adoc
Labels: docs

#5002 NMS-14212: Event docs cleanup
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/alarms/configuring-alarms.adoc
  docs/modules/operation/pages/events/anatomy-events.adoc
  docs/modules/operation/pages/events/event-configuration.adoc
  docs/modules/operation/pages/events/event-debugging.adoc
  docs/modules/operation/pages/events/event-definition.adoc
  docs/modules/operation/pages/events/event-tokens.adoc
  docs/modules/operation/pages/events/event-translator.adoc
  docs/modules/operation/pages/events/eventbus.adoc
  docs/modules/operation/pages/events/introduction.adoc
  docs/modules/operation/pages/events/sources/eif-adapter.adoc
  docs/modules/operation/pages/events/sources/kafka.adoc
  docs/modules/operation/pages/events/sources/rest.adoc
  docs/modules/operation/pages/events/sources/send-event.adoc
  docs/modules/operation/pages/events/sources/snmp-traps.adoc
  docs/modules/operation/pages/events/sources/syslog.adoc
  docs/modules/operation/pages/notifications/concepts.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/eventd.adoc
  docs/modules/reference/pages/glossary.adoc
Labels: docs

#5153 NMS-8566: Event Translator Daemon Documentation
  docs/modules/deployment/pages/core/docker/core.adoc
  docs/modules/deployment/pages/core/system-requirements.adoc
  docs/modules/deployment/pages/minion/docker/minion.adoc
  docs/modules/operation/pages/admin/webui/jmx-config-generator/cli.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/event-translator.adoc
Labels: docs

#5160 NMS-14423: Document allowed characters in service-names
  docs/modules/reference/pages/service-assurance/introduction.adoc
Labels: docs

#5162 Merge 2022 to 30
  docs/modules/deployment/pages/core/docker/core.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
  docs/modules/deployment/pages/core/system-requirements.adoc
  docs/modules/deployment/pages/minion/docker/minion.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/webui/jmx-config-generator/cli.adoc
  docs/modules/operation/pages/alarms/configuring-alarms.adoc
  docs/modules/operation/pages/events/anatomy-events.adoc
  docs/modules/operation/pages/events/event-configuration.adoc
  docs/modules/operation/pages/events/event-debugging.adoc
  docs/modules/operation/pages/events/event-definition.adoc
  docs/modules/operation/pages/events/event-tokens.adoc
  docs/modules/operation/pages/events/event-translator.adoc
  docs/modules/operation/pages/events/eventbus.adoc
  docs/modules/operation/pages/events/introduction.adoc
  docs/modules/operation/pages/events/sources/eif-adapter.adoc
  docs/modules/operation/pages/events/sources/kafka.adoc
  docs/modules/operation/pages/events/sources/rest.adoc
  docs/modules/operation/pages/events/sources/send-event.adoc
  docs/modules/operation/pages/events/sources/snmp-traps.adoc
  docs/modules/operation/pages/events/sources/syslog.adoc
  docs/modules/operation/pages/notifications/concepts.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/event-translator.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/eventd.adoc
  docs/modules/reference/pages/glossary.adoc
  docs/modules/reference/pages/service-assurance/introduction.adoc
  opennms-base-assembly/src/main/filtered/etc/jmx-datacollection-config.xml
  opennms-base-assembly/src/main/filtered/etc/snmp-graph.properties.d/jvm-graph.properties
Labels: docs

#5163 NMS-13057: Update PG installation documentation to use SCRAM
  docs/modules/deployment/pages/core/getting-started.adoc
Labels: docs

#5164 NMS-8567: PassiveStatusd Daemon Doc
  docs/modules/reference/pages/daemons/daemon-config-files/ackd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/alarmd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/bsmd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/collectd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/discovery.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/enlinkd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/event-translator.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/eventd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/jettyserver.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/karaf.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/karafstartupmonitor.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/notifd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/passivestatusd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/perspectivepollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/pollerd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/queued.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/reportd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/rtcd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/snmp-interface-poller.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/statsd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/syslogd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/telemetryd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/ticketer.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/trapd.adoc
  docs/modules/reference/pages/daemons/introduction.adoc
Labels: docs

#5152 NMS-14475: Update OIA to OpenNMS Plugin API
  docs/modules/deployment/pages/core/system-requirements.adoc
  docs/modules/deployment/pages/time-series-storage/timeseries/time-series-storage.adoc
  docs/modules/development/pages/oia/introduction.adoc
  docs/modules/releasenotes/pages/changelog.adoc
  docs/modules/releasenotes/pages/whatsnew.adoc
Labels: docs

#4596 NMS-13584: Notification Commands Documentation
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/notifications/commands.adoc
  docs/modules/operation/pages/notifications/concepts.adoc
  docs/modules/operation/pages/notifications/getting-started.adoc
Labels: docs

#5151 NMS-14014: Bind Minion to privileged ports
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/minion/install.adoc
  docs/modules/deployment/pages/minion/introduction.adoc
  docs/modules/reference/pages/configuration/minion-confd/minion-confd.adoc
Labels: docs

#5170 NMS-14613 Quick Start: Login and create a user
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/housekeeping/introduction.adoc
  docs/modules/operation/pages/admin/rmi.adoc
  docs/modules/operation/pages/deep-dive/introduction.adoc
  docs/modules/operation/pages/deep-dive/user-management/pre-authentication.adoc
  docs/modules/operation/pages/deep-dive/user-management/security-roles.adoc
  docs/modules/operation/pages/deep-dive/user-management/user-config.adoc
  docs/modules/operation/pages/deep-dive/user-management/user-groups.adoc
  docs/modules/operation/pages/deep-dive/user-management/user-maintenance.adoc
  docs/modules/operation/pages/deep-dive/user-management/user-oncall.adoc
  docs/modules/operation/pages/device-config-backup/introduction.adoc
  docs/modules/operation/pages/overview/overview.adoc
  docs/modules/operation/pages/quick-start/introduction.adoc
  docs/modules/operation/pages/quick-start/users.adoc
  docs/modules/operation/pages/user-management/introduction.adoc
  docs/modules/operation/pages/user-management/user-config.adoc
  docs/modules/operation/pages/user-management/user-groups.adoc
  docs/modules/operation/pages/user-management/user-maintenance.adoc
  docs/modules/operation/pages/user-management/user-oncall.adoc
Labels: docs

#5185 NMS-14627: Added smoke-test for KPIs
  smoke-test/src/main/java/org/opennms/smoketest/utils/RestClient.java
  smoke-test/src/test/java/org/opennms/smoketest/UsageStatisticsIT.java
Labels: enhancement

#5172 NMS-8569: Provisiond doc
  docs/modules/reference/pages/daemons/daemon-config-files/enlinkd.adoc
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
Labels: docs

#5220 Fix docs format for JDBCQueryMonitor
  docs/modules/reference/pages/service-assurance/monitors/JDBCQueryMonitor.adoc
Labels: docs
