Repository OpenNMS/opennms, pull requests merged in 2022-04, with the labels that each got.

#4499 NMS-14115: Broken links in docs
  docs/modules/operation/pages/provisioning/getting-started.adoc
  docs/modules/operation/pages/provisioning/introduction.adoc
  docs/modules/operation/pages/provisioning/xml-samples.adoc
  docs/modules/releasenotes/pages/changelog.adoc
Labels: docs

#4477 NMS-13972: Document housekeeping tasks before upgrade
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/upgrade/diff.adoc
  docs/modules/deployment/pages/upgrade/introduction.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/housekeeping/introduction.adoc
  docs/modules/operation/pages/admin/introduction.adoc
  docs/modules/releasenotes/pages/changelog.adoc
Labels: docs

#4502 NMS-14111: Added check for valid name
  opennms-webapp/src/main/webapp/admin/notification/pathOutline.jsp
  smoke-test/src/test/java/org/opennms/smoketest/NotificationsPageIT.java
Labels: bug fix

#4501 NMS-14048: Fixed availability in surveillance dashboard
  features/vaadin-surveillance-views/pom.xml
  features/vaadin-surveillance-views/src/main/java/org/opennms/features/vaadin/surveillanceviews/service/DefaultSurveillanceViewService.java
  features/vaadin-surveillance-views/src/test/java/org/opennms/features/vaadin/surveillanceviews/service/NMS14048_IT.java
Labels: bug fix

#4355 Improve docker instructions when running as non-root with persistent config directory
  docs/antora.yml
  docs/modules/deployment/pages/core/docker/core.adoc
  docs/modules/operation/pages/flows/sentinel/message-broker/activemq.adoc
  docs/modules/operation/pages/flows/sentinel/message-broker/kafka.adoc
Labels: docs

#4529 NMS-14162: docs on setting capabilities
  docs/modules/deployment/pages/core/centos-rhel/initialize-core.adoc
  docs/modules/deployment/pages/core/debian-ubuntu/initialize-core.adoc
  docs/modules/deployment/pages/core/getting-started.adoc
Labels: docs

#4527 NMS-14130: Added IEs (252, 253) to NetFlow9
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/netflow9/InformationElementProvider.java
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/transport/Netflow9MessageBuilder.java
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/NMS14130_Test.java
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/netflow9/BlackboxTest.java
  features/telemetry/protocols/netflow/parser/src/test/resources/flows/nms-14130.dat
Labels: enhancement

#4517 NMS-13802: Add docs for Device Config
  docs/modules/development/nav.adoc
  docs/modules/development/pages/rest/device_config.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/device-config-backup/configuration.adoc
  docs/modules/operation/pages/device-config-backup/introduction.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfigMonitor.adoc
Labels: docs

#4535 NMS-14048: Fixed smoke test in develop
  features/vaadin-surveillance-views/pom.xml
  features/vaadin-surveillance-views/src/test/java/org/opennms/features/vaadin/surveillanceviews/service/NMS14048_IT.java
Labels: bug fix

#4539 NMS-14172: Clean up ticketer docs
  docs/modules/operation/pages/ticketing/introduction.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/configuration/ticketing/ticketer/remedy.adoc
  docs/modules/reference/pages/configuration/ticketing/ticketer/tsrm.adoc
  docs/modules/reference/pages/ticketing/introduction.adoc
  docs/modules/reference/pages/ticketing/ticketer/jira.adoc
  docs/modules/reference/pages/ticketing/ticketer/remedy.adoc
  docs/modules/reference/pages/ticketing/ticketer/tsrm.adoc
Labels: docs

#4544 NMS-14131: DCB: UI Documentation
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/device-config-backup/configuration.adoc
  docs/modules/operation/pages/device-config-backup/dcb-requisition.adoc
  docs/modules/operation/pages/device-config-backup/dcb.adoc
  docs/modules/operation/pages/device-config-backup/introduction.adoc
  docs/modules/operation/pages/device-config-backup/ssh.adoc
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfigMonitor.adoc
Labels: docs

#4565 NMS-14127: Check whether DeviceConfig service is bound to interface
  features/device-config/service/src/main/java/org/opennms/features/deviceconfig/service/impl/DeviceConfigServiceImpl.java
Labels: bug fix

#4566 NMS-14169: Added IEs to set input and output ifIndex
  features/telemetry/protocols/netflow/parser/src/main/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/transport/IpFixMessageBuilder.java
  features/telemetry/protocols/netflow/parser/src/test/java/org/opennms/netmgt/telemetry/protocols/netflow/parser/NMS14130_Test.java
Labels: enhancement

#4564 NMS-14156: do not require a dot before filename suffix
  docs/modules/operation/pages/device-config-backup/ssh.adoc
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
  features/device-config/retrieval/src/test/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImplTest.java
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-vsrx-default.dcb
  smoke-test/src/test/resources/device-config/test.dcb
Labels: bug fix, docs

#4563 NMS-14144: Unique filename suffix
  features/device-config/retrieval/src/main/java/org/opennms/features/deviceconfig/retrieval/impl/RetrieverImpl.java
Labels: bug fix

#4557 NMS-14182: Clean up Alarmd doc formatting
  docs/modules/operation/pages/alarms/alarm-notes.adoc
  docs/modules/operation/pages/alarms/alarm-sound-flash.adoc
  docs/modules/operation/pages/alarms/alarmd.adoc
  docs/modules/operation/pages/alarms/configuring-alarms.adoc
  docs/modules/operation/pages/alarms/history.adoc
  docs/modules/operation/pages/alarms/ifttt-integration.adoc
  docs/modules/operation/pages/alarms/introduction.adoc
Labels: docs

#4587 PE-216: Merge CM Provisiond UI into develop
  core/web-assets/src/main/assets/js/apps/onms-requisitions/lib/views/requisitions.html
  docs/modules/development/nav.adoc
  docs/modules/development/pages/rest/config_management.adoc
  opennms-webapp/src/main/webapp/admin/index.jsp
  pom.xml
  smoke-test/src/test/java/org/opennms/smoketest/AdminPageIT.java
  ui/.prettierrc
  ui/index.html
  ui/package.json
  ui/src/App.vue
  ui/src/components/Common/Snackbar.vue
  ui/src/components/Configuration/ConfigurationAdvancedPanel.vue
  ui/src/components/Configuration/ConfigurationCopyPasteDisplay.vue
  ui/src/components/Configuration/ConfigurationCronSelector.vue
  ui/src/components/Configuration/ConfigurationDoubleCheckModal.vue
  ui/src/components/Configuration/ConfigurationDrawer.vue
  ui/src/components/Configuration/ConfigurationEmptyTable.vue
  ui/src/components/Configuration/ConfigurationGeneratedUrl.vue
  ui/src/components/Configuration/ConfigurationHeader.vue
  ui/src/components/Configuration/ConfigurationHelpPanel.vue
  ui/src/components/Configuration/ConfigurationHelper.ts
  ui/src/components/Configuration/ConfigurationTable.vue
  ui/src/components/Configuration/ConfigurationTableWrapper.vue
  ui/src/components/Configuration/ConfigurationThreadPools.vue
  ui/src/components/Configuration/ProvisionDForm.vue
  ui/src/components/Configuration/configuration.types.d.ts
  ui/src/components/Configuration/copy/advancedKeys.ts
  ui/src/components/Configuration/copy/provisionD.ts
  ui/src/components/Configuration/copy/requisitionTypes.ts
  ui/src/components/Configuration/copy/rescanItems.ts
  ui/src/components/Configuration/copy/scheduleTypes.ts
  ui/src/components/Configuration/copy/threadPoolKeys.ts
  ui/src/components/Configuration/hooks/index.ts
  ui/src/components/Configuration/hooks/provisionD.ts
  ui/src/components/FileEditor/Console.vue
  ui/src/components/Layout/NavigationRail.vue
  ui/src/components/Layout/Search.vue
  ui/src/components/Map/MapSearch.vue
  ui/src/components/Map/SeverityFilter.vue
  ui/src/containers/ProvisionDConfig.vue
  ui/src/containers/ResourceGraphs.vue
  ui/src/router/index.ts
  ui/src/services/configurationService.ts
  ui/src/services/index.ts
  ui/src/shims-vue.d.ts
  ui/src/store/configuration/actions.ts
  ui/src/store/configuration/index.ts
  ui/src/store/configuration/mutations.ts
  ui/src/store/configuration/state.ts
  ui/src/store/index.ts
  ui/src/types/index.ts
  ui/tests/configuration.test.ts
  ui/yarn.lock
Labels: docs

#4614 NMS-14234: Add howto document on Integrating OSGi modules in OpenNMS
  docs/modules/development/nav.adoc
  docs/modules/development/pages/development.adoc
  docs/modules/development/pages/osgi/osgi-and-opennms.adoc
Labels: docs
