Repository OpenNMS/opennms, pull requests merged in 2022-05, with the labels that each got.

#4607 NMS-14189: Document various new UI features
  docs/modules/development/images/rest/api-explorer-navigation.png
  docs/modules/development/images/rest/rest-api-explorer-request.png
  docs/modules/development/images/rest/rest-api-explorer.png
  docs/modules/development/pages/rest/device_config.adoc
  docs/modules/development/pages/rest/rest-api.adoc
  docs/modules/operation/images/admin/ui-preview.png
  docs/modules/operation/images/logging/log-file-viewer.png
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/introduction.adoc
  docs/modules/operation/pages/admin/logging/introduction.adoc
  docs/modules/operation/pages/admin/logging/log-file-viewer.adoc
  docs/modules/operation/pages/admin/webui/ui-preview.adoc
  docs/modules/reference/images/configuration/file-editor-add-new.png
  docs/modules/reference/images/configuration/file-editor-main.png
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/configuration/file-editor.adoc
Labels: docs

#4516 NMS-14051: Update existing documentation related to provisiond xml file
  docs/modules/development/pages/rest/config_management.adoc
  docs/modules/operation/images/provisioning/SNMP_Config.png
  docs/modules/operation/pages/flows/sentinel/message-broker/activemq.adoc
  docs/modules/operation/pages/flows/sentinel/message-broker/kafka.adoc
  docs/modules/operation/pages/provisioning/getting-started.adoc
  docs/modules/operation/pages/provisioning/integration.adoc
  docs/modules/operation/pages/provisioning/introduction.adoc
  docs/modules/reference/pages/provisioning/handlers/dns.adoc
  docs/modules/reference/pages/provisioning/handlers/file.adoc
  docs/modules/reference/pages/provisioning/handlers/http.adoc
  docs/modules/reference/pages/provisioning/handlers/introduction.adoc
  docs/modules/reference/pages/provisioning/handlers/requisition-plugin.adoc
  docs/modules/reference/pages/provisioning/handlers/vmware.adoc
Labels: docs

#4351 NMS-13696: Geographical map documentation
  docs/modules/operation/images/geographical-map/geomap.jpeg
  docs/modules/operation/images/geographical-map/severity_critical.png
  docs/modules/operation/images/geographical-map/severity_major.png
  docs/modules/operation/images/geographical-map/severity_minor.png
  docs/modules/operation/images/geographical-map/severity_normal.png
  docs/modules/operation/images/geographical-map/severity_warning.png
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/geographical-map/introduction.adoc
  docs/modules/operation/pages/geographical-map/searching.adoc
Labels: docs

#4484 NMS-13973: Create Backup/Restore docs
  docs/modules/deployment/pages/core/centos-rhel/initialize-core.adoc
  docs/modules/deployment/pages/core/centos-rhel8/postgresql.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/backup/centos-rhel8/backup-centos-rhel8.adoc
  docs/modules/operation/pages/admin/backup/debian-ubuntu/backup-debian-ubuntu.adoc
  docs/modules/operation/pages/admin/backup/introduction.adoc
  docs/modules/operation/pages/admin/restore/centos-rhel8/restore-centos-rhel8.adoc
  docs/modules/operation/pages/admin/restore/debian-ubuntu/restore-debian-ubuntu.adoc
  docs/modules/operation/pages/admin/restore/introduction.adoc
Labels: docs

#4583 Ad-hoc collection doc fix
  docs/modules/operation/pages/performance-data-collection/shell/adhoc-collection.adoc
Labels: docs

#4648 NMS-14182: more alarmd doc tweaks
  docs/modules/operation/pages/alarms/configuring-alarms.adoc
Labels: docs

#4637 NMS-14171: add docs for event performance data
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/events/perf-data.adoc
Labels: docs

#4652 NMS-14256: Additional XML Collector docs
  docs/modules/reference/pages/configuration/performance-data-collection/collectors/xml.adoc
Labels: docs

#4655 NMS-14258: Collector doc restructure
  docs/modules/operation/pages/performance-data-collection/collectors.adoc
  docs/modules/operation/pages/performance-data-collection/introduction.adoc
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/SnmpCollector.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/http.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jdbc.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/jmx.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/nsclient.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/prometheus.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/tca.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/vmware-cim.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/vmware.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/wmi.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/wsman.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/xmp.adoc
  docs/modules/reference/pages/performance-data-collection/introduction.adoc
Labels: docs

#4606 NMS-13971: Basic upgrade procedure
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/upgrade/basic.adoc
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/deployment/pages/upgrade/diff.adoc
  docs/modules/deployment/pages/upgrade/introduction.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
Labels: docs

#4660 NMS-13971: Upgrade docs from v30->2022
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/upgrade/basic.adoc
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/deployment/pages/upgrade/diff.adoc
  docs/modules/deployment/pages/upgrade/introduction.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/housekeeping/introduction.adoc
  docs/modules/operation/pages/service-assurance/configuration.adoc
Labels: docs

#4654 NMS-14109: Rebase Grafana box renders raw JS when Grafana behind reverse proxy with SSO
  core/upgrade/src/test/resources/etc2/opennms.properties
  docs/modules/operation/images/webui/startpage/01_grafana-box.png
  docs/modules/operation/pages/admin/webui/grafana-dashboard-box.adoc
  opennms-base-assembly/src/main/filtered/etc/opennms.properties
  opennms-webapp/src/main/webapp/includes/grafana-box.jsp
Labels: docs

#4642 NMS-14249: Allow other Oids for BgpSessionMonitor
  docs/modules/reference/pages/service-assurance/monitors/BgpSessionMonitor.adoc
  features/poller/monitors/core/src/main/java/org/opennms/netmgt/poller/monitors/BgpSessionMonitor.java
  features/poller/monitors/core/src/test/java/org/opennms/netmgt/poller/monitors/BgpSessionMonitorTest.java
Labels: docs, enhancement

#4640 NMS-14174: working on example scripts
  docs/modules/operation/pages/device-config-backup/centos-rhel/firewall-core.adoc
  docs/modules/operation/pages/device-config-backup/configuration.adoc
  docs/modules/operation/pages/device-config-backup/debian-ubuntu/firewall-core.adoc
  docs/modules/operation/pages/device-config-backup/ssh.adoc
  features/device-config/ssh-scripting/src/main/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImpl.java
  features/device-config/ssh-scripting/src/test/java/org/opennms/features/deviceconfig/sshscripting/impl/SshScriptingServiceImplIT.java
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/aruba-cx-cli.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/aruba-cx-json.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/aruba-os-config.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/cisco-ios-running.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/cisco-ios-startup.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-junos-config-gz.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-junos-config-set.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-junos-config-txt.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/paloalto-panos-config.dcb
Labels: configuration, docs

#4674 NMS-14261: DCB menu items are mislabeled "Configuration Management"
  docs/modules/operation/pages/device-config-backup/dcb.adoc
  opennms-webapp/src/main/webapp/WEB-INF/dispatcher-servlet.xml
  ui/src/components/Layout/NavigationRail.vue
Labels: docs

#4653 NMS-14240: Fixed asset search
  opennms-webapp/src/main/java/org/opennms/web/asset/AssetModel.java
  opennms-webapp/src/main/webapp/element/index.jsp
Labels: bug fix

#4682 NMS-14242: Add ROLE_CONFIG_EDITOR for editing config files from REST and UI
  docs/modules/operation/pages/device-config-backup/dcb-requisition.adoc
  docs/modules/operation/pages/user-management/security-roles.adoc
  opennms-web-api/src/main/java/org/opennms/web/api/Authentication.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/FilesystemRestService.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/components/Layout/NavigationRail.vue
  ui/src/composables/useRole.ts
  ui/src/router/index.ts
Labels: docs

#4685 NMS-8504: Add note to remember to delete the browser's cache when upgrading
  docs/modules/deployment/pages/upgrade/debian/up-debian.adoc
  docs/modules/deployment/pages/upgrade/rhel/up-rhel.adoc
Labels: docs

#3870 NMS-13684: Document Jetty SSL Setup
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/admin/http-ssl.adoc
  docs/modules/operation/pages/admin/https/https-client.adoc
  docs/modules/operation/pages/admin/https/https-server.adoc
Labels: docs

#4720 collection doc typo fix
  docs/modules/operation/pages/performance-data-collection/collectd/collection-packages.adoc
Labels: docs

#4719 NMS-14309: Rename ROLE_CONFIG_EDITOR to ROLE_FILESYSTEM_EDITOR
  docs/modules/operation/pages/user-management/security-roles.adoc
  opennms-web-api/src/main/java/org/opennms/web/api/Authentication.java
  opennms-webapp-rest/src/main/java/org/opennms/web/rest/v1/FilesystemRestService.java
  opennms-webapp/src/main/webapp/WEB-INF/applicationContext-spring-security.xml
  ui/src/components/Layout/NavigationRail.vue
  ui/src/composables/useRole.ts
  ui/src/router/index.ts
Labels: docs

#4723 NMS-14084: Add the ability to define an enumeration to convert collected strings into numeric values
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/performance-data-collection/snmp-property-extenders/value-mapping.adoc
  docs/modules/reference/pages/performance-data-collection/collectors/xml.adoc
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/ValueMappingAttributeType.java
  features/collection/snmp-collector/src/main/java/org/opennms/netmgt/collectd/ValueMappingPropertyExtender.java
  opennms-services/src/test/java/org/opennms/netmgt/collectd/AbstractSnmpCollectorIT.java
  opennms-services/src/test/resources/org/opennms/netmgt/config/datacollection-config-value-mapping.xml
  protocols/xml/src/main/java/org/opennms/protocols/xml/collector/AbstractXmlCollectionHandler.java
  protocols/xml/src/main/java/org/opennms/protocols/xml/config/XmlMapping.java
  protocols/xml/src/main/java/org/opennms/protocols/xml/config/XmlObject.java
  protocols/xml/src/test/java/org/opennms/protocols/xml/collector/NMS14084IT.java
  protocols/xml/src/test/resources/NMS-14084-xml-datacollection-config.xml
  protocols/xml/src/test/resources/NMS-14084.xml
Labels: docs, enhancement

#4736 Reference GeoIP Provision adapter in Geocoder docs
  docs/modules/operation/pages/admin/geocoder.adoc
Labels: docs

#4731 NMS-11065: WmiMonitor
  docs/modules/reference/nav.adoc
  docs/modules/reference/pages/provisioning/detectors/WmiDetector.adoc
  docs/modules/reference/pages/service-assurance/monitors/WmiMonitor.adoc
Labels: docs

#4756 NMS-14328: Update scripts to use tftp binary mode
  docs/modules/operation/pages/device-config-backup/dcb-requisition.adoc
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfigMonitor.adoc
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-junos-config-gz.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-junos-config-set.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-junos-config-txt.dcb
  opennms-base-assembly/src/main/filtered/etc/poller-configuration.xml
Labels: docs

#4773 NMS-14131: DCB: UI Documentation
  docs/modules/operation/nav.adoc
Labels: docs

#4762 NMS-14301: Configure port for juniper devices
  docs/modules/operation/pages/device-config-backup/configuration.adoc
  docs/modules/operation/pages/device-config-backup/dcb-requisition.adoc
  docs/modules/reference/pages/service-assurance/monitors/DeviceConfigMonitor.adoc
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-junos-config-gz.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-junos-config-set.dcb
  opennms-base-assembly/src/main/filtered/etc/examples/device-config/juniper-junos-config-txt.dcb
Labels: docs
