Repository OpenNMS/opennms, pull requests merged in 2023-04, with the labels that each got.

#5947 NMS-8894: Add transient attribute to Measurements API
  docs/modules/development/nav.adoc
  docs/modules/development/pages/rest/measurements.adoc
Labels: docs

#5986 Release notes for OpenNMS Horizon 31.0.6
  debian/changelog
  docs/modules/releasenotes/pages/changelog.adoc
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Labels: docs

#5987 NMS-15308: Fixed XSS for admin/getNodes
  opennms-webapp/src/main/webapp/admin/manage.jsp
Labels: bug fix, security

#5997 CLOUD-3190: Doc: Portal: Time Series: Usability Adjustments
  docs/modules/deployment/nav.adoc
  docs/modules/deployment/pages/time-series-storage/timeseries/hosted-tss.adoc
  docs/modules/deployment/pages/time-series-storage/timeseries/time-series-storage.adoc
Labels: docs

#5990 NMS-15498: Treat only ASCII characters between 32 and 127 as displayable
  core/snmp/api/pom.xml
  core/snmp/api/src/main/java/org/opennms/netmgt/snmp/AbstractSnmpValue.java
  core/snmp/api/src/test/java/org/opennms/netmgt/snmp/AbstractSnmpValueTest.java
  core/snmp/impl-joesnmp/src/main/java/org/opennms/netmgt/snmp/joesnmp/JoeSnmpValue.java
  core/snmp/impl-snmp4j/src/main/java/org/opennms/netmgt/snmp/snmp4j/Snmp4JValue.java
Labels: bug fix

#5951 NMS-15423: Add database report example
  docs/modules/operation/images/database-reports/average-peak-traffic.png
  docs/modules/operation/images/database-reports/default-calendar.png
  docs/modules/operation/images/database-reports/default-classic-2.png
  docs/modules/operation/images/database-reports/default-classic-3.png
  docs/modules/operation/images/database-reports/default-classic-4.png
  docs/modules/operation/images/database-reports/default-classic-5.png
  docs/modules/operation/images/database-reports/default-classic.png
  docs/modules/operation/images/database-reports/early-morning-2.png
  docs/modules/operation/images/database-reports/early-morning.png
  docs/modules/operation/images/database-reports/event-analysis-report-2.png
  docs/modules/operation/images/database-reports/event-analysis-report.png
  docs/modules/operation/images/database-reports/node-availability-report.png
  docs/modules/operation/images/database-reports/node-response-report.png
  docs/modules/operation/images/database-reports/total-bytes-interface.png
  docs/modules/operation/nav.adoc
  docs/modules/operation/pages/deep-dive/database-reports/database.adoc
  docs/modules/operation/pages/deep-dive/database-reports/template-introduction.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/avail-summary.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/availability.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/calendar.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/classic.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/event.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/interface-avail.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/morning.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/response-time.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/snmp.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/total-bytes.adoc
  docs/modules/operation/pages/deep-dive/database-reports/templates/traffic-rates.adoc
Labels: docs

#6021 Release Notes for OpenNMS Horizon 31.0.7
  debian/changelog
  docs/modules/releasenotes/pages/changelog.adoc
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Labels: docs

#6020 NMS-15305: Prevent logging of passwords
  opennms-base-assembly/src/main/filtered/etc/log4j2.xml
  opennms-web-api/src/main/java/org/opennms/web/servlet/XssRequestWrapper.java
  opennms-web-api/src/test/java/org/opennms/web/servlet/XssRequestWrapperTest.java
Labels: security

#6032 NMS-12808: Document the function hiding Meta-Data password values
  docs/modules/operation/pages/deep-dive/meta-data.adoc
Labels: docs

#6047 Fix doc typo on pre-auth test command
  docs/modules/operation/pages/deep-dive/user-management/pre-authentication.adoc
Labels: docs
