Repository OpenNMS/opennms, pull requests merged in 2023-10, with the labels that each got.

#6724 NMS-16159: Fixed SENTINEL_HOME in scripts
  tools/packages/sentinel/sentinel.spec
Labels: bug fix

#6738 NMS-16170: Set database connection minpool to 25
  opennms-container/core/container-fs/confd/templates/opennms-datasources.xml.tpl
Labels: hacktoberfest-accepted

#6753 Release Notes for OpenNMS Horizon 32.0.4
  debian/changelog
  docs/modules/releasenotes/pages/changelog.adoc
  opennms-assemblies/minion/src/main/filtered/debian/changelog
  opennms-assemblies/sentinel/src/main/filtered/debian/changelog
Labels: docs

#6781 NMS-16044: Fixed URL to geographical map
  features/vaadin-dashlets/dashlet-map/src/main/java/org/opennms/features/vaadin/dashboard/dashlets/MapDashlet.java
Labels: bug fix

#6707 Minion docker doc install update
  docs/modules/deployment/pages/minion/docker/minion.adoc
Labels: docs

#6706 Fix flow doc typo
  docs/modules/operation/pages/deep-dive/flows/distributed.adoc
Labels: docs

#6704 NMS-14766 provisiond thread documentation updates
  docs/modules/reference/pages/daemons/daemon-config-files/provisiond.adoc
  docs/modules/reference/pages/telemetryd/protocols/bmp/persisting-adapter.adoc
  ui/src/components/Configuration/ConfigurationThreadPools.vue
Labels: docs, hacktoberfest-accepted

#6770 NMS-16165: (take 2) add missing JDBC resource type
  opennms-base-assembly/src/main/filtered/etc/resource-types.d/postgresql-resource.xml
Labels: hacktoberfest-accepted

#6708 NMS-15774: Brief overview of the metadata changes
  docs/modules/operation/pages/deep-dive/meta-data.adoc
Labels: docs

#6816 Update persisting-adapter.adoc format typo
  docs/modules/reference/pages/telemetryd/protocols/bmp/persisting-adapter.adoc
Labels: docs
